# Using Forecast dispatch dataset

In [1]:
#import required libraries
import pandas as pd
import os

In [2]:
#get all the files in the forecast folder..........
def fileList(path):
    listOfFiles = os.listdir(path)
    files=[]
    
    for file in listOfFiles:
        fullPath = os.path.join(path, file) #full path for the file
        if os.path.isdir(fullPath): #if there are sub folders.....
            files = files + fileList(fullPath) #recursively loop through the sub folder
        else:
            files.append(fullPath)
                
    return files

all_the_files=fileList(r'E:\Desktop\Datasets\forcast_july')

In [3]:
#all the xls files in forcast_july folder.......
for file in all_the_files:
    print(file)

E:\Desktop\Datasets\forcast_july\july1\july1.xls
E:\Desktop\Datasets\forcast_july\july10.xls
E:\Desktop\Datasets\forcast_july\july11.xls
E:\Desktop\Datasets\forcast_july\july12.xls
E:\Desktop\Datasets\forcast_july\july13.xls
E:\Desktop\Datasets\forcast_july\july14.xls
E:\Desktop\Datasets\forcast_july\july15.xls
E:\Desktop\Datasets\forcast_july\july16.xls
E:\Desktop\Datasets\forcast_july\july17.xls
E:\Desktop\Datasets\forcast_july\july18.xls
E:\Desktop\Datasets\forcast_july\july19.xls
E:\Desktop\Datasets\forcast_july\july2\july2.xls
E:\Desktop\Datasets\forcast_july\july20.xls
E:\Desktop\Datasets\forcast_july\july21.xls
E:\Desktop\Datasets\forcast_july\july22.xls
E:\Desktop\Datasets\forcast_july\july23.xls
E:\Desktop\Datasets\forcast_july\july24.xls
E:\Desktop\Datasets\forcast_july\july25.xls
E:\Desktop\Datasets\forcast_july\july26.xls
E:\Desktop\Datasets\forcast_july\july27.xls
E:\Desktop\Datasets\forcast_july\july28.xls
E:\Desktop\Datasets\forcast_july\july29.xls
E:\Desktop\Datasets\forcast_july\july5.xls
E:\Desktop\Datasets\forcast_july\july6.xls
E:\Desktop\Datasets\forcast_july\july7.xls
E:\Desktop\Datasets\forcast_july\july8.xls
E:\Desktop\Datasets\forcast_july\july9.xls
E:\Desktop\Datasets\forcast_july\july@3.xls
E:\Desktop\Datasets\forcast_july\july@4.xls

In [4]:
##############
data_frames1=[] #dataframes array
for file in all_the_files:
    df=pd.read_excel(file)
    df.columns = df.iloc[0] #make columns as 0th row items..
    columns=df.columns
    date=columns[1].date() 
    df=df.drop(0) #drop 0th row items
    df.columns = df.iloc[0] #make columns as 0th row items..
    df=df.drop(1)  #drop 1st row items
    plants_temp=df.iloc[:,0] #all the items in plant column(this includes unnessasary items)
    plants=[]
    #get only the correct plants...
    for plant in plants_temp:
        if plant=='Total Generation':
            break
        else:
            plants.append(plant)
    df = df.loc[:, df.columns.notnull()] #remove nan columns.............
    z=len(plants) #only get the relevant rows...............
    df=df.head(z) #only get the dataframe which contains the needed rows...
    df.insert(0, 'Power_Plant', plants)
    df=df.drop(columns=df.columns[-1:],axis=1) #drop the last column.......
    df['Date']=date
    data_frames1.append(df)

In [5]:
data_frames1[0].head() #july 1st dataset's dataframe....

1,Power_Plant,00:00:00,00:30:00,01:00:00,01:30:00,02:00:00,02:30:00,03:00:00,03:30:00,04:00:00,...,19:30:00,20:00:00,20:30:00,21:00:00,21:30:00,22:00:00,22:30:00,23:00:00,23:30:00,Date
2,WPS,0,0,0,0,0,0,0,0,0,...,10,0,0,0,0,0,0,0,0,2020-07-01
3,Cany,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2020-07-01
4,Olax,10,10,10,10,10,10,10,10,10,...,10.895,10.895,10,10,10,10,10,10,0,2020-07-01
5,Nlax,60.636,60.636,60.636,59.362,59.312,58.312,58.812,59.112,20.212,...,93.636,60.636,60.636,60.636,21.97,21.97,21.97,0,0,2020-07-01
6,Polp,78.479,58.347,31.008,6.1039,6.1039,6.1039,6.1039,6.1039,18.052,...,56.114,56.114,38.31,38.31,18.933,6.1039,31.762,7.923,0,2020-07-01

In [14]:
#get the list of the time columns
x=list(data_frames1[0].columns)
cols=[]
for i in x:
    cols.append(i)

In [16]:
cols.remove('Power_Plant')

In [17]:
cols.remove('Date')

In [18]:
cols

[datetime.time(0, 0),
 datetime.time(0, 30),
 datetime.time(1, 0),
 datetime.time(1, 30),
 datetime.time(2, 0),
 datetime.time(2, 30),
 datetime.time(3, 0),
 datetime.time(3, 30),
 datetime.time(4, 0),
 datetime.time(4, 30),
 datetime.time(5, 0),
 datetime.time(5, 30),
 datetime.time(6, 0),
 datetime.time(6, 30),
 datetime.time(7, 0),
 datetime.time(7, 30),
 datetime.time(8, 0),
 datetime.time(8, 30),
 datetime.time(9, 0),
 datetime.time(9, 30),
 datetime.time(10, 0),
 datetime.time(10, 30),
 datetime.time(11, 0),
 datetime.time(11, 30),
 datetime.time(12, 0),
 datetime.time(12, 30),
 datetime.time(13, 0),
 datetime.time(13, 30),
 datetime.time(14, 0),
 datetime.time(14, 30),
 datetime.time(15, 0),
 datetime.time(15, 30),
 datetime.time(16, 0),
 datetime.time(16, 30),
 datetime.time(17, 0),
 datetime.time(17, 30),
 datetime.time(18, 0),
 datetime.time(18, 30),
 datetime.time(19, 0),
 datetime.time(19, 30),
 datetime.time(20, 0),
 datetime.time(20, 30),
 datetime.time(21, 0),
 datetime.time(21, 30),
 datetime.time(22, 0),
 datetime.time(22, 30),
 datetime.time(23, 0),
 datetime.time(23, 30)]

In [19]:
#convert to float(time columns dispatches values)...
for i in cols:
    data_frames1[0][i]=data_frames1[0][i].astype('float')

In [20]:
data_frames1[0].dtypes

1
Power_Plant     object
00:00:00       float64
00:30:00       float64
01:00:00       float64
01:30:00       float64
02:00:00       float64
02:30:00       float64
03:00:00       float64
03:30:00       float64
04:00:00       float64
04:30:00       float64
05:00:00       float64
05:30:00       float64
06:00:00       float64
06:30:00       float64
07:00:00       float64
07:30:00       float64
08:00:00       float64
08:30:00       float64
09:00:00       float64
09:30:00       float64
10:00:00       float64
10:30:00       float64
11:00:00       float64
11:30:00       float64
12:00:00       float64
12:30:00       float64
13:00:00       float64
13:30:00       float64
14:00:00       float64
14:30:00       float64
15:00:00       float64
15:30:00       float64
16:00:00       float64
16:30:00       float64
17:00:00       float64
17:30:00       float64
18:00:00       float64
18:30:00       float64
19:00:00       float64
19:30:00       float64
20:00:00       float64
20:30:00       float64
21:00:00       float64
21:30:00       float64
22:00:00       float64
22:30:00       float64
23:00:00       float64
23:30:00       float64
Date            object
dtype: object

In [23]:
cols1=[]
for i in list(data_frames1[0].columns):
    cols1.append(i)

In [25]:
cols1.remove('Power_Plant')
cols1.remove('Date')

In [26]:
cols1

[datetime.time(0, 0),
 datetime.time(0, 30),
 datetime.time(1, 0),
 datetime.time(1, 30),
 datetime.time(2, 0),
 datetime.time(2, 30),
 datetime.time(3, 0),
 datetime.time(3, 30),
 datetime.time(4, 0),
 datetime.time(4, 30),
 datetime.time(5, 0),
 datetime.time(5, 30),
 datetime.time(6, 0),
 datetime.time(6, 30),
 datetime.time(7, 0),
 datetime.time(7, 30),
 datetime.time(8, 0),
 datetime.time(8, 30),
 datetime.time(9, 0),
 datetime.time(9, 30),
 datetime.time(10, 0),
 datetime.time(10, 30),
 datetime.time(11, 0),
 datetime.time(11, 30),
 datetime.time(12, 0),
 datetime.time(12, 30),
 datetime.time(13, 0),
 datetime.time(13, 30),
 datetime.time(14, 0),
 datetime.time(14, 30),
 datetime.time(15, 0),
 datetime.time(15, 30),
 datetime.time(16, 0),
 datetime.time(16, 30),
 datetime.time(17, 0),
 datetime.time(17, 30),
 datetime.time(18, 0),
 datetime.time(18, 30),
 datetime.time(19, 0),
 datetime.time(19, 30),
 datetime.time(20, 0),
 datetime.time(20, 30),
 datetime.time(21, 0),
 datetime.time(21, 30),
 datetime.time(22, 0),
 datetime.time(22, 30),
 datetime.time(23, 0),
 datetime.time(23, 30)]

## Normalization

In [21]:
#import the required library
from sklearn.preprocessing import MinMaxScaler

In [22]:
scaling1=MinMaxScaler() #scaling object

In [27]:
scaling1.fit_transform(data_frames1[0][cols1]) #scaling all the time columns dispatch values...

C:\Users\RAVI\anaconda3\envs\tensorflow\lib\site-packages\sklearn\utils\validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['time']. An error will be raised in 1.2.
  warnings.warn(
C:\Users\RAVI\anaconda3\envs\tensorflow\lib\site-packages\sklearn\utils\validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['time']. An error will be raised in 1.2.
  warnings.warn(

array([[0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.03703704, 0.03703704, 0.03703704, ..., 0.03703704, 0.03703704,
        0.        ],
       ...,
       [0.05925926, 0.06296296, 0.07777778, ..., 0.18518519, 0.2       ,
        0.20740741],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.21481481, 0.21481481, 0.22222222, ..., 0.27777778, 0.2962963 ,
        0.31481481]])

## Standardization

In [29]:
from sklearn.preprocessing import StandardScaler #import the required library

In [30]:
scaling2=StandardScaler() #make the scaling object

In [31]:
scaling2.fit_transform(data_frames1[0][cols1]) #scaling all the time columns dispatch values...

C:\Users\RAVI\anaconda3\envs\tensorflow\lib\site-packages\sklearn\utils\validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['time']. An error will be raised in 1.2.
  warnings.warn(
C:\Users\RAVI\anaconda3\envs\tensorflow\lib\site-packages\sklearn\utils\validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['time']. An error will be raised in 1.2.
  warnings.warn(

array([[-0.50922556, -0.4844501 , -0.47141937, ..., -0.53876333,
        -0.5169048 , -0.48653762],
       [-0.50922556, -0.4844501 , -0.47141937, ..., -0.53876333,
        -0.5169048 , -0.48653762],
       [-0.35638838, -0.33601129, -0.32472593, ..., -0.39333019,
        -0.37222407, -0.48653762],
       ...,
       [-0.26468607, -0.23210412, -0.16336315, ...,  0.18840235,
         0.26437116,  0.32184316],
       [-0.50922556, -0.4844501 , -0.47141937, ..., -0.53876333,
        -0.5169048 , -0.48653762],
       [ 0.37723009,  0.376495  ,  0.40874126, ...,  0.55198518,
         0.64054107,  0.74046892]])