In [1]:
import mysql.connector

In [2]:
mydb=mysql.connector.connect(
    host="localhost",
    user="root"
    #password=""
)

In [3]:
mycursor=mydb.cursor() #to execute sql quaries

In [4]:
mycursor.execute("CREATE DATABASE hospital")

In [5]:
mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    #password=""
    database="hospital"
)

In [6]:
mycursor=mydb.cursor()

In [7]:
#Write data to mysql table
mycursor.execute("CREATE TABLE department (DepartmentID INT(20),Name VARCHAR(50), HeadID INT(20),PRIMARY KEY (DepartmentID))")

In [8]:
#insert data into tables
mycursor.execute("INSERT INTO department(DepartmentID,Name,HeadID) VALUES(1, 'General Medicine', 4),(2, 'Surgery', 7),(3, 'Psychiatry', 9);")

In [10]:
#read data from mysql table
mycursor.execute("SELECT * FROM department")
result = mycursor.fetchall()
for i in result:
  print(i)

(1, 'General Medicine', 4)
(2, 'Surgery', 7)
(3, 'Psychiatry', 9)

In [12]:
#create table..
mycursor.execute("CREATE TABLE appointment(AppointmentID INT(20),PatientID INT(20),PrepNurseID INT(20),PhysicianID INT(20),Start datetime,End datetime,ExaminationRoom VARCHAR(20),PRIMARY KEY (AppointmentID))")

In [13]:
#insert data to the table
mycursor.execute("INSERT INTO appointment (AppointmentID,PatientID,PrepNurseID,PhysicianID,Start,End,ExaminationRoom) VALUES(13216584, 100000001, 101, 1, '2008-04-24 10:00:00', '2008-04-24 11:00:00', 'A'),(26548913, 100000002, 101, 2, '2008-04-24 10:00:00', '2008-04-24 11:00:00', 'B'),(36549879, 100000001, 102, 1, '2008-04-25 10:00:00', '2008-04-25 11:00:00', 'A'),(46846589, 100000004, 103, 4, '2008-04-25 10:00:00', '2008-04-25 11:00:00', 'B');")

In [51]:
#format the date time of Start
mycursor.execute("SELECT DATE_FORMAT(Start,'%d-%m-%Y %T') FROM appointment")
result = mycursor.fetchall()
for i in result:
  print(i)

('24-04-2008 10:00:00',)
('24-04-2008 10:00:00',)
('25-04-2008 10:00:00',)
('25-04-2008 10:00:00',)

In [46]:
mycursor.execute("SELECT DATE_FORMAT(Start,'%T %m-%d-%Y') FROM appointment")
result = mycursor.fetchall()
for i in result:
  print(i)

('10:00:00 04-24-2008',)
('10:00:00 04-24-2008',)
('10:00:00 04-25-2008',)
('10:00:00 04-25-2008',)

In [49]:
mycursor.execute("SELECT DATE_FORMAT(Start,'%T,%Y-%D-%M') FROM appointment")
result = mycursor.fetchall()
for i in result:
  print(i)

('10:00:00,2008-24th-April',)
('10:00:00,2008-24th-April',)
('10:00:00,2008-25th-April',)
('10:00:00,2008-25th-April',)