In [1]:
import mysql.connector

In [2]:
mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    #password=""
    database="hospital"
)

In [3]:
mycursor=mydb.cursor()

In [4]:
#read data from mysql table
mycursor.execute("SELECT * FROM appointment")
result = mycursor.fetchall()
for i in result:
  print(i)

(13216584, 100000001, 101, 1, datetime.datetime(2008, 4, 24, 10, 0), datetime.datetime(2008, 4, 24, 11, 0), 'A')
(26548913, 100000002, 101, 2, datetime.datetime(2008, 4, 24, 10, 0), datetime.datetime(2008, 4, 24, 11, 0), 'B')
(36549879, 100000001, 102, 1, datetime.datetime(2008, 4, 25, 10, 0), datetime.datetime(2008, 4, 25, 11, 0), 'A')
(46846589, 100000004, 103, 4, datetime.datetime(2008, 4, 25, 10, 0), datetime.datetime(2008, 4, 25, 11, 0), 'B')

In [5]:
#EXTRACT THE DATE
mycursor.execute("SELECT DATE(Start) FROM appointment")
result = mycursor.fetchall()
for i in result:
  print(i[0])

2008-04-24
2008-04-24
2008-04-25
2008-04-25

In [6]:
#extract the year...
mycursor.execute("SELECT YEAR(Start) FROM appointment")
result = mycursor.fetchall()
for i in result:
  print(i[0])

2008
2008
2008
2008

In [7]:
#extract the MONTH(in name)
mycursor.execute("SELECT MONTHNAME(Start) FROM appointment")
result = mycursor.fetchall()
for i in result:
  print(i[0])

April
April
April
April

In [8]:
#extract the MONTH(in numeric)
mycursor.execute("SELECT MONTH(Start) FROM appointment")
result = mycursor.fetchall()
for i in result:
  print(i[0])

4
4
4
4

In [9]:
#EXTRACT THE DAY
mycursor.execute("SELECT DAY(Start) FROM appointment")
result = mycursor.fetchall()
for i in result:
  print(i[0])

24
24
25
25

In [10]:
#EXTRACT THE DAY of week (get the index of day sunday=1, monday=2 and so on....)
mycursor.execute("SELECT DAYOFWEEK(Start) FROM appointment")
result = mycursor.fetchall()
for i in result:
    print(i[0])
    #print(type(i))
    #print(list(i))

5
5
6
6

In [11]:
#EXTRACT THE DAY of week(correct day....)
mycursor.execute("SELECT DAYOFWEEK(Start) FROM appointment")
result = mycursor.fetchall()
for i in result:
  if i[0]==1:
    print('sunday')
  elif i[0]==2:
    print('monday')
  elif i[0]==3:
    print('tuesday')
  elif i[0]==4:
    print('wednesday')
  elif i[0]==5:
    print('thrusday')
  elif i[0]==6:
    print('friday')
  else:
    print('saturday')

thrusday
thrusday
friday
friday