In [1]:
import mysql.connector #import the mysql connector...

In [2]:
#CONNECT TO THE DATABASE
mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    #password=""
    database="hospital"
)

In [3]:
mycursor=mydb.cursor(buffered=True)

In [4]:
#create the prescribes table(as in : https://www.w3resource.com/sql-exercises/hospital-database-exercise/index.php)
mycursor.execute("CREATE TABLE prescribes (PhysicianID INT(20) NOT NULL,PatientID INT(20) NOT NULL,MedicationID INT(20) NOT NULL,Date datetime NOT NULL,AppointmentID INT(20) DEFAULT NULL,Dose VARCHAR(50) NOT NULL,PRIMARY KEY (PhysicianID,PatientID,MedicationID,Date))")

In [5]:
#create the physician table(as in : https://www.w3resource.com/sql-exercises/hospital-database-exercise/index.php)
mycursor.execute("CREATE TABLE physician (EmployeeID INT(20) NOT NULL,Name VARCHAR(20) NOT NULL,Position VARCHAR(50) NOT NULL,SSN INT(20) NOT NULL,PRIMARY KEY (EmployeeID))")

In [6]:
#insert data to prescribes table
mycursor.execute("INSERT INTO prescribes (PhysicianID,PatientID,MedicationID, Date, AppointmentID, Dose) VALUES(1, 100000001, 1, '2021-12-24 10:47:00', 13216584, '5'),(9, 100000004, 2, '2021-12-27 10:53:00', 86213939, '10'),(9, 100000004, 2, '2021-12-30 16:53:00', 76814931, '5'),(3, 100000005, 3, '2021-12-31 10:50:00', 96814931, '3'),(4, 100000006, 4, '2021-12-31 14:40:00', 36814931, '4'),(5, 100000007, 5, '2021-12-31 16:40:00', 16814931, '5')")

In [7]:
#insert data to physician table
mycursor.execute("INSERT INTO physician (EmployeeID, Name, Position, SSN) VALUES (1, 'John Dorian', 'Staff Internist', 111111111),(2, 'Elliot Reid', 'Attending Physician', 222222222),(3, 'Christopher Turk', 'Surgical Attending Physician', 333333333),(4, 'Percival Cox', 'Senior Attending Physician', 444444444),(5, 'Bob Kelso', 'Head Chief of Medicine', 555555555),(6, 'Todd Quinlan', 'Surgical Attending Physician', 666666666),(7, 'John Wen', 'Surgical Attending Physician', 777777777),(8, 'Keith Dudemeister', 'MD Resident', 888888888),(9, 'Molly Clock', 'Attending Psychiatrist', 999999999)")

In [8]:
#left join
mycursor.execute("SELECT prescribes.PhysicianID,physician.Name from prescribes LEFT JOIN physician ON prescribes.PhysicianID=physician.EmployeeID")
result = mycursor.fetchall()
for i in result:
  print(i)

(1, 'John Dorian')
(3, 'Christopher Turk')
(4, 'Percival Cox')
(5, 'Bob Kelso')
(9, 'Molly Clock')
(9, 'Molly Clock')

In [9]:
#right join
mycursor.execute("SELECT prescribes.PhysicianID,physician.Name from prescribes RIGHT JOIN physician ON prescribes.PhysicianID=physician.EmployeeID")
result = mycursor.fetchall()
for i in result:
  print(i)

(1, 'John Dorian')
(None, 'Elliot Reid')
(3, 'Christopher Turk')
(4, 'Percival Cox')
(5, 'Bob Kelso')
(None, 'Todd Quinlan')
(None, 'John Wen')
(None, 'Keith Dudemeister')
(9, 'Molly Clock')
(9, 'Molly Clock')

In [10]:
#inner join
mycursor.execute("SELECT prescribes.PhysicianID,physician.Name from prescribes INNER JOIN physician ON prescribes.PhysicianID=physician.EmployeeID")
result = mycursor.fetchall()
for i in result:
  print(i)

(1, 'John Dorian')
(3, 'Christopher Turk')
(4, 'Percival Cox')
(5, 'Bob Kelso')
(9, 'Molly Clock')
(9, 'Molly Clock')

In [11]:
#full join
mycursor.execute("SELECT prescribes.PhysicianID,physician.Name from prescribes LEFT JOIN physician ON prescribes.PhysicianID=physician.EmployeeID UNION SELECT prescribes.PhysicianID,physician.Name from prescribes RIGHT JOIN physician ON prescribes.PhysicianID=physician.EmployeeID")
result = mycursor.fetchall()
for i in result:
  print(i)

(1, 'John Dorian')
(3, 'Christopher Turk')
(4, 'Percival Cox')
(5, 'Bob Kelso')
(9, 'Molly Clock')
(None, 'Elliot Reid')
(None, 'Todd Quinlan')
(None, 'John Wen')
(None, 'Keith Dudemeister')