In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in c:\users\ravi\anaconda3\envs\vizuamatix\lib\site-packages (3.0.3)
Requirement already satisfied: py4j==0.10.9 in c:\users\ravi\anaconda3\envs\vizuamatix\lib\site-packages (from pyspark) (0.10.9)

You are using pip version 10.0.1, however version 20.3.4 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

# Get familier with pyspark

In [2]:
import pyspark

In [3]:
#start a spark session
from pyspark.sql import SparkSession

In [4]:
#create spark session
spark=SparkSession.builder.appName('Study').getOrCreate()

C:\Users\RAVI\anaconda3\envs\vizuamatix\lib\site-packages\pyspark\context.py:227: DeprecationWarning: Support for Python 2 and Python 3 prior to version 3.6 is deprecated as of Spark 3.0. See also the plan for dropping Python 2 support at https://spark.apache.org/news/plan-for-dropping-python-2-support.html.
  DeprecationWarning)

In [5]:
spark

In [6]:
#read csv file
df1=spark.read.csv("E:\Desktop\Datasets\dummy_cdr.csv") #read without headers as in the dataset

In [7]:
df1

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string, _c4: string, _c5: string, _c6: string, _c7: string, _c8: string, _c9: string, _c10: string, _c11: string, _c12: string, _c13: string, _c14: string, _c15: string, _c16: string, _c17: string, _c18: string, _c19: string, _c20: string]

In [8]:
df1.show(5)

+----------+-----------+------------+-------------+------------+-----+------+--------------------+--------------------+--------------------+-----------------+-------------+----------+--------------------+----------+--------------------+----------+--------+----------+--------+--------------------+
|       _c0|        _c1|         _c2|          _c3|         _c4|  _c5|   _c6|                 _c7|                 _c8|                 _c9|             _c10|         _c11|      _c12|                _c13|      _c14|                _c15|      _c16|    _c17|      _c18|    _c19|                _c20|
+----------+-----------+------------+-------------+------------+-----+------+--------------------+--------------------+--------------------+-----------------+-------------+----------+--------------------+----------+--------------------+----------+--------+----------+--------+--------------------+
|RECORDTYPE| SERVEDIMEI|SERVEDMSISDN|CALLINGNUMBER|CALLEDNUMBER|  LAC|CELLID|         SEIZURETIME|          ANSWERTIME|         RELEASETIME|CALLDURATION(sec)|CALLREFERENCE|SERVICEKEY|NETWORKCALLREFERENCE|MSCADDRESS|ORIGINALCALLEDNUMBER|CALLEDIMSI|CALLTYPE|CALLEDIMEI|ORGMSCID|            CELLNAME|
|  incoming|1.23457E+15|     1111111|       451111|     2330925|28106|123456|2021-10-01T21:20:42Z|2021-10-01T21:20:48Z|2021-10-01T21:24:49Z|              241|    336617966|         -|                   -|       322|                   -|         -|   onnet|         -|       -|Keppetipola-1_G1-091|
|  incoming|1.23458E+15|     2222111|      2200000|    67554005|25004|234567|2021-10-01T21:20:29Z|2021-10-01T21:20:53Z|2021-10-01T21:24:49Z|              236|     93517596|         -|                   -|       322|                   -|         -|  offnet|         -|       -| Kandangoda-1_G3-091|
|  incoming|1.23459E+15|     3333111|      3948889|   132777085|    -|345678|2021-10-01T21:23:16Z|2021-10-01T21:24:16Z|2021-10-01T21:24:50Z|               34|    219174645|         -|    1A0000402510F556|       322|                   -|         -|   onnet|         -|       -|                   -|
|  incoming| 1.2346E+15|     4444111|      5697778|   198000165|30805|456789|2021-10-01T21:19:29Z|2021-10-01T21:19:35Z|2021-10-01T21:24:50Z|              315|    185608981|         -|                   -|       322|                   -|         -|   onnet|         -|       -|   Siripura-1_U3-213|
+----------+-----------+------------+-------------+------------+-----+------+--------------------+--------------------+--------------------+-----------------+-------------+----------+--------------------+----------+--------------------+----------+--------+----------+--------+--------------------+
only showing top 5 rows

In [9]:
df1=spark.read.option('header','true').csv("E:\Desktop\Datasets\dummy_cdr.csv") #read headers as in the dataset

In [10]:
df1.show(5)

+----------+-----------+------------+-------------+------------+-----+------+--------------------+--------------------+--------------------+-----------------+-------------+----------+--------------------+----------+--------------------+----------+--------+----------+--------+--------------------+
|RECORDTYPE| SERVEDIMEI|SERVEDMSISDN|CALLINGNUMBER|CALLEDNUMBER|  LAC|CELLID|         SEIZURETIME|          ANSWERTIME|         RELEASETIME|CALLDURATION(sec)|CALLREFERENCE|SERVICEKEY|NETWORKCALLREFERENCE|MSCADDRESS|ORIGINALCALLEDNUMBER|CALLEDIMSI|CALLTYPE|CALLEDIMEI|ORGMSCID|            CELLNAME|
+----------+-----------+------------+-------------+------------+-----+------+--------------------+--------------------+--------------------+-----------------+-------------+----------+--------------------+----------+--------------------+----------+--------+----------+--------+--------------------+
|  incoming|1.23457E+15|     1111111|       451111|     2330925|28106|123456|2021-10-01T21:20:42Z|2021-10-01T21:20:48Z|2021-10-01T21:24:49Z|              241|    336617966|         -|                   -|       322|                   -|         -|   onnet|         -|       -|Keppetipola-1_G1-091|
|  incoming|1.23458E+15|     2222111|      2200000|    67554005|25004|234567|2021-10-01T21:20:29Z|2021-10-01T21:20:53Z|2021-10-01T21:24:49Z|              236|     93517596|         -|                   -|       322|                   -|         -|  offnet|         -|       -| Kandangoda-1_G3-091|
|  incoming|1.23459E+15|     3333111|      3948889|   132777085|    -|345678|2021-10-01T21:23:16Z|2021-10-01T21:24:16Z|2021-10-01T21:24:50Z|               34|    219174645|         -|    1A0000402510F556|       322|                   -|         -|   onnet|         -|       -|                   -|
|  incoming| 1.2346E+15|     4444111|      5697778|   198000165|30805|456789|2021-10-01T21:19:29Z|2021-10-01T21:19:35Z|2021-10-01T21:24:50Z|              315|    185608981|         -|                   -|       322|                   -|         -|   onnet|         -|       -|   Siripura-1_U3-213|
|  incoming|1.23461E+15|     5555111|      7446667|   263223245|28103|567900|2021-10-01T21:23:21Z|2021-10-01T21:24:16Z|2021-10-01T21:24:50Z|               34|    143680279|         -|                   -|       322|                   -|         -|  offnet|         -|       -|   Ellewewa-1_G3-091|
+----------+-----------+------------+-------------+------------+-----+------+--------------------+--------------------+--------------------+-----------------+-------------+----------+--------------------+----------+--------------------+----------+--------+----------+--------+--------------------+
only showing top 5 rows

In [11]:
type(df1)

pyspark.sql.dataframe.DataFrame

In [12]:
df1.head()

Row(RECORDTYPE='incoming', SERVEDIMEI='1.23457E+15', SERVEDMSISDN='1111111', CALLINGNUMBER='451111', CALLEDNUMBER='2330925', LAC='28106', CELLID='123456', SEIZURETIME='2021-10-01T21:20:42Z', ANSWERTIME='2021-10-01T21:20:48Z', RELEASETIME='2021-10-01T21:24:49Z', CALLDURATION(sec)='241', CALLREFERENCE='336617966', SERVICEKEY='-', NETWORKCALLREFERENCE='-', MSCADDRESS='322', ORIGINALCALLEDNUMBER='-', CALLEDIMSI='-', CALLTYPE='onnet', CALLEDIMEI='-', ORGMSCID='-', CELLNAME='Keppetipola-1_G1-091')

In [13]:
df1.explain()

== Physical Plan ==
FileScan csv [RECORDTYPE#180,SERVEDIMEI#181,SERVEDMSISDN#182,CALLINGNUMBER#183,CALLEDNUMBER#184,LAC#185,CELLID#186,SEIZURETIME#187,ANSWERTIME#188,RELEASETIME#189,CALLDURATION(sec)#190,CALLREFERENCE#191,SERVICEKEY#192,NETWORKCALLREFERENCE#193,MSCADDRESS#194,ORIGINALCALLEDNUMBER#195,CALLEDIMSI#196,CALLTYPE#197,CALLEDIMEI#198,ORGMSCID#199,CELLNAME#200] Batched: false, DataFilters: [], Format: CSV, Location: InMemoryFileIndex[file:/E:/Desktop/Datasets/dummy_cdr.csv], PartitionFilters: [], PushedFilters: [], ReadSchema: struct<RECORDTYPE:string,SERVEDIMEI:string,SERVEDMSISDN:string,CALLINGNUMBER:string,CALLEDNUMBER:...

In [14]:
df1.columns

['RECORDTYPE',
 'SERVEDIMEI',
 'SERVEDMSISDN',
 'CALLINGNUMBER',
 'CALLEDNUMBER',
 'LAC',
 'CELLID',
 'SEIZURETIME',
 'ANSWERTIME',
 'RELEASETIME',
 'CALLDURATION(sec)',
 'CALLREFERENCE',
 'SERVICEKEY',
 'NETWORKCALLREFERENCE',
 'MSCADDRESS',
 'ORIGINALCALLEDNUMBER',
 'CALLEDIMSI',
 'CALLTYPE',
 'CALLEDIMEI',
 'ORGMSCID',
 'CELLNAME']

# 2 data frames with same column order

In [15]:
df1=spark.read.option('header','true').csv("E:\Desktop\Datasets\dummy_cdr.csv")
df2=df1.select(['RECORDTYPE','SERVEDIMEI','SERVEDMSISDN','CALLINGNUMBER'])
df2.show(5)

+----------+-----------+------------+-------------+
|RECORDTYPE| SERVEDIMEI|SERVEDMSISDN|CALLINGNUMBER|
+----------+-----------+------------+-------------+
|  incoming|1.23457E+15|     1111111|       451111|
|  incoming|1.23458E+15|     2222111|      2200000|
|  incoming|1.23459E+15|     3333111|      3948889|
|  incoming| 1.2346E+15|     4444111|      5697778|
|  incoming|1.23461E+15|     5555111|      7446667|
+----------+-----------+------------+-------------+
only showing top 5 rows

In [16]:
df3=df1.select(['RECORDTYPE','SERVEDIMEI','SERVEDMSISDN','CALLINGNUMBER'])
df3.show(5)

+----------+-----------+------------+-------------+
|RECORDTYPE| SERVEDIMEI|SERVEDMSISDN|CALLINGNUMBER|
+----------+-----------+------------+-------------+
|  incoming|1.23457E+15|     1111111|       451111|
|  incoming|1.23458E+15|     2222111|      2200000|
|  incoming|1.23459E+15|     3333111|      3948889|
|  incoming| 1.2346E+15|     4444111|      5697778|
|  incoming|1.23461E+15|     5555111|      7446667|
+----------+-----------+------------+-------------+
only showing top 5 rows

In [17]:
#union the 2 dataframes...
df2.union(df3).show(30)

+----------+-----------+------------+-------------+
|RECORDTYPE| SERVEDIMEI|SERVEDMSISDN|CALLINGNUMBER|
+----------+-----------+------------+-------------+
|  incoming|1.23457E+15|     1111111|       451111|
|  incoming|1.23458E+15|     2222111|      2200000|
|  incoming|1.23459E+15|     3333111|      3948889|
|  incoming| 1.2346E+15|     4444111|      5697778|
|  incoming|1.23461E+15|     5555111|      7446667|
|  incoming|1.23462E+15|     6666111|      9195556|
|  incoming|1.23463E+15|     7777111|     10944445|
|  incoming|1.23464E+15|     8888111|     12693334|
|  incoming|1.23465E+15|     9999111|     14442223|
|  outgoing|1.23466E+15|    11110111|     16191112|
|  outgoing|1.23467E+15|    12221111|     17940001|
|  outgoing|1.23468E+15|    13332111|     19688890|
|  outgoing|1.23469E+15|    14443111|     21437779|
|  outgoing| 1.2347E+15|    15554111|     23186668|
|  incoming|1.23471E+15|    16665111|     24935557|
|  incoming|1.23472E+15|    17776111|     26684446|
|  outgoing|1.23473E+15|    18887111|     28433335|
|  incoming|1.23474E+15|    19998111|     30182224|
|  outgoing|1.23475E+15|    21109111|     31931113|
|  outgoing|1.23476E+15|    22220111|     33680002|
|      null|       null|        null|         null|
|  incoming|1.23457E+15|     1111111|       451111|
|  incoming|1.23458E+15|     2222111|      2200000|
|  incoming|1.23459E+15|     3333111|      3948889|
|  incoming| 1.2346E+15|     4444111|      5697778|
|  incoming|1.23461E+15|     5555111|      7446667|
|  incoming|1.23462E+15|     6666111|      9195556|
|  incoming|1.23463E+15|     7777111|     10944445|
|  incoming|1.23464E+15|     8888111|     12693334|
|  incoming|1.23465E+15|     9999111|     14442223|
+----------+-----------+------------+-------------+
only showing top 30 rows

# 2 data frames with different column order

In [18]:
df1=spark.read.option('header','true').csv("E:\Desktop\Datasets\dummy_cdr.csv")
df2=df1.select(['RECORDTYPE','SERVEDIMEI','SERVEDMSISDN','CALLINGNUMBER'])
df2.show(5)

+----------+-----------+------------+-------------+
|RECORDTYPE| SERVEDIMEI|SERVEDMSISDN|CALLINGNUMBER|
+----------+-----------+------------+-------------+
|  incoming|1.23457E+15|     1111111|       451111|
|  incoming|1.23458E+15|     2222111|      2200000|
|  incoming|1.23459E+15|     3333111|      3948889|
|  incoming| 1.2346E+15|     4444111|      5697778|
|  incoming|1.23461E+15|     5555111|      7446667|
+----------+-----------+------------+-------------+
only showing top 5 rows

In [19]:
df3=df1.select(['SERVEDMSISDN','RECORDTYPE','CALLINGNUMBER','SERVEDIMEI'])
df3.show(5)

+------------+----------+-------------+-----------+
|SERVEDMSISDN|RECORDTYPE|CALLINGNUMBER| SERVEDIMEI|
+------------+----------+-------------+-----------+
|     1111111|  incoming|       451111|1.23457E+15|
|     2222111|  incoming|      2200000|1.23458E+15|
|     3333111|  incoming|      3948889|1.23459E+15|
|     4444111|  incoming|      5697778| 1.2346E+15|
|     5555111|  incoming|      7446667|1.23461E+15|
+------------+----------+-------------+-----------+
only showing top 5 rows

In [20]:
df2.union(df3).show(30) #here it can be seen because of different order of columns, the union output is not correct...

+----------+-----------+------------+-------------+
|RECORDTYPE| SERVEDIMEI|SERVEDMSISDN|CALLINGNUMBER|
+----------+-----------+------------+-------------+
|  incoming|1.23457E+15|     1111111|       451111|
|  incoming|1.23458E+15|     2222111|      2200000|
|  incoming|1.23459E+15|     3333111|      3948889|
|  incoming| 1.2346E+15|     4444111|      5697778|
|  incoming|1.23461E+15|     5555111|      7446667|
|  incoming|1.23462E+15|     6666111|      9195556|
|  incoming|1.23463E+15|     7777111|     10944445|
|  incoming|1.23464E+15|     8888111|     12693334|
|  incoming|1.23465E+15|     9999111|     14442223|
|  outgoing|1.23466E+15|    11110111|     16191112|
|  outgoing|1.23467E+15|    12221111|     17940001|
|  outgoing|1.23468E+15|    13332111|     19688890|
|  outgoing|1.23469E+15|    14443111|     21437779|
|  outgoing| 1.2347E+15|    15554111|     23186668|
|  incoming|1.23471E+15|    16665111|     24935557|
|  incoming|1.23472E+15|    17776111|     26684446|
|  outgoing|1.23473E+15|    18887111|     28433335|
|  incoming|1.23474E+15|    19998111|     30182224|
|  outgoing|1.23475E+15|    21109111|     31931113|
|  outgoing|1.23476E+15|    22220111|     33680002|
|      null|       null|        null|         null|
|   1111111|   incoming|      451111|  1.23457E+15|
|   2222111|   incoming|     2200000|  1.23458E+15|
|   3333111|   incoming|     3948889|  1.23459E+15|
|   4444111|   incoming|     5697778|   1.2346E+15|
|   5555111|   incoming|     7446667|  1.23461E+15|
|   6666111|   incoming|     9195556|  1.23462E+15|
|   7777111|   incoming|    10944445|  1.23463E+15|
|   8888111|   incoming|    12693334|  1.23464E+15|
|   9999111|   incoming|    14442223|  1.23465E+15|
+----------+-----------+------------+-------------+
only showing top 30 rows

#solution for above issue...(Union by name)

In [21]:
df2.unionByName(df3).show(30) #correct output....

+----------+-----------+------------+-------------+
|RECORDTYPE| SERVEDIMEI|SERVEDMSISDN|CALLINGNUMBER|
+----------+-----------+------------+-------------+
|  incoming|1.23457E+15|     1111111|       451111|
|  incoming|1.23458E+15|     2222111|      2200000|
|  incoming|1.23459E+15|     3333111|      3948889|
|  incoming| 1.2346E+15|     4444111|      5697778|
|  incoming|1.23461E+15|     5555111|      7446667|
|  incoming|1.23462E+15|     6666111|      9195556|
|  incoming|1.23463E+15|     7777111|     10944445|
|  incoming|1.23464E+15|     8888111|     12693334|
|  incoming|1.23465E+15|     9999111|     14442223|
|  outgoing|1.23466E+15|    11110111|     16191112|
|  outgoing|1.23467E+15|    12221111|     17940001|
|  outgoing|1.23468E+15|    13332111|     19688890|
|  outgoing|1.23469E+15|    14443111|     21437779|
|  outgoing| 1.2347E+15|    15554111|     23186668|
|  incoming|1.23471E+15|    16665111|     24935557|
|  incoming|1.23472E+15|    17776111|     26684446|
|  outgoing|1.23473E+15|    18887111|     28433335|
|  incoming|1.23474E+15|    19998111|     30182224|
|  outgoing|1.23475E+15|    21109111|     31931113|
|  outgoing|1.23476E+15|    22220111|     33680002|
|      null|       null|        null|         null|
|  incoming|1.23457E+15|     1111111|       451111|
|  incoming|1.23458E+15|     2222111|      2200000|
|  incoming|1.23459E+15|     3333111|      3948889|
|  incoming| 1.2346E+15|     4444111|      5697778|
|  incoming|1.23461E+15|     5555111|      7446667|
|  incoming|1.23462E+15|     6666111|      9195556|
|  incoming|1.23463E+15|     7777111|     10944445|
|  incoming|1.23464E+15|     8888111|     12693334|
|  incoming|1.23465E+15|     9999111|     14442223|
+----------+-----------+------------+-------------+
only showing top 30 rows

# Union more than 2 dataframes with same column order(consider 3 dataframes)

In [22]:
df6=df1.select(['RECORDTYPE','SERVEDIMEI','SERVEDMSISDN','CALLINGNUMBER'])

In [23]:
df7=df1.select(['RECORDTYPE','SERVEDIMEI','SERVEDMSISDN','CALLINGNUMBER'])

In [24]:
df8=df1.select(['RECORDTYPE','SERVEDIMEI','SERVEDMSISDN','CALLINGNUMBER'])

In [25]:
dfs=[df6,df7,df8] #data frame list which wanted to union.....

In [26]:
from pyspark.sql import DataFrame
from functools import reduce

In [27]:
df_new = reduce(DataFrame.unionAll, dfs)
df_new.show(60)

+----------+-----------+------------+-------------+
|RECORDTYPE| SERVEDIMEI|SERVEDMSISDN|CALLINGNUMBER|
+----------+-----------+------------+-------------+
|  incoming|1.23457E+15|     1111111|       451111|
|  incoming|1.23458E+15|     2222111|      2200000|
|  incoming|1.23459E+15|     3333111|      3948889|
|  incoming| 1.2346E+15|     4444111|      5697778|
|  incoming|1.23461E+15|     5555111|      7446667|
|  incoming|1.23462E+15|     6666111|      9195556|
|  incoming|1.23463E+15|     7777111|     10944445|
|  incoming|1.23464E+15|     8888111|     12693334|
|  incoming|1.23465E+15|     9999111|     14442223|
|  outgoing|1.23466E+15|    11110111|     16191112|
|  outgoing|1.23467E+15|    12221111|     17940001|
|  outgoing|1.23468E+15|    13332111|     19688890|
|  outgoing|1.23469E+15|    14443111|     21437779|
|  outgoing| 1.2347E+15|    15554111|     23186668|
|  incoming|1.23471E+15|    16665111|     24935557|
|  incoming|1.23472E+15|    17776111|     26684446|
|  outgoing|1.23473E+15|    18887111|     28433335|
|  incoming|1.23474E+15|    19998111|     30182224|
|  outgoing|1.23475E+15|    21109111|     31931113|
|  outgoing|1.23476E+15|    22220111|     33680002|
|      null|       null|        null|         null|
|  incoming|1.23457E+15|     1111111|       451111|
|  incoming|1.23458E+15|     2222111|      2200000|
|  incoming|1.23459E+15|     3333111|      3948889|
|  incoming| 1.2346E+15|     4444111|      5697778|
|  incoming|1.23461E+15|     5555111|      7446667|
|  incoming|1.23462E+15|     6666111|      9195556|
|  incoming|1.23463E+15|     7777111|     10944445|
|  incoming|1.23464E+15|     8888111|     12693334|
|  incoming|1.23465E+15|     9999111|     14442223|
|  outgoing|1.23466E+15|    11110111|     16191112|
|  outgoing|1.23467E+15|    12221111|     17940001|
|  outgoing|1.23468E+15|    13332111|     19688890|
|  outgoing|1.23469E+15|    14443111|     21437779|
|  outgoing| 1.2347E+15|    15554111|     23186668|
|  incoming|1.23471E+15|    16665111|     24935557|
|  incoming|1.23472E+15|    17776111|     26684446|
|  outgoing|1.23473E+15|    18887111|     28433335|
|  incoming|1.23474E+15|    19998111|     30182224|
|  outgoing|1.23475E+15|    21109111|     31931113|
|  outgoing|1.23476E+15|    22220111|     33680002|
|      null|       null|        null|         null|
|  incoming|1.23457E+15|     1111111|       451111|
|  incoming|1.23458E+15|     2222111|      2200000|
|  incoming|1.23459E+15|     3333111|      3948889|
|  incoming| 1.2346E+15|     4444111|      5697778|
|  incoming|1.23461E+15|     5555111|      7446667|
|  incoming|1.23462E+15|     6666111|      9195556|
|  incoming|1.23463E+15|     7777111|     10944445|
|  incoming|1.23464E+15|     8888111|     12693334|
|  incoming|1.23465E+15|     9999111|     14442223|
|  outgoing|1.23466E+15|    11110111|     16191112|
|  outgoing|1.23467E+15|    12221111|     17940001|
|  outgoing|1.23468E+15|    13332111|     19688890|
|  outgoing|1.23469E+15|    14443111|     21437779|
|  outgoing| 1.2347E+15|    15554111|     23186668|
|  incoming|1.23471E+15|    16665111|     24935557|
|  incoming|1.23472E+15|    17776111|     26684446|
|  outgoing|1.23473E+15|    18887111|     28433335|
|  incoming|1.23474E+15|    19998111|     30182224|
+----------+-----------+------------+-------------+
only showing top 60 rows

# Union more than 2 dataframes with different column order(consider 3 dataframes)

In [28]:
df9=df1.select(['RECORDTYPE','SERVEDIMEI','SERVEDMSISDN','CALLINGNUMBER'])

In [29]:
df10=df1.select(['SERVEDMSISDN','RECORDTYPE','SERVEDIMEI','CALLINGNUMBER'])

In [30]:
df11=df1.select(['SERVEDMSISDN','RECORDTYPE','CALLINGNUMBER','SERVEDIMEI'])

In [31]:
dfs1=[df9,df10,df11]

In [32]:
df_new = reduce(DataFrame.unionAll, dfs1) #whrong output given....(correct solution below...)
df_new.show(60)

+----------+-----------+------------+-------------+
|RECORDTYPE| SERVEDIMEI|SERVEDMSISDN|CALLINGNUMBER|
+----------+-----------+------------+-------------+
|  incoming|1.23457E+15|     1111111|       451111|
|  incoming|1.23458E+15|     2222111|      2200000|
|  incoming|1.23459E+15|     3333111|      3948889|
|  incoming| 1.2346E+15|     4444111|      5697778|
|  incoming|1.23461E+15|     5555111|      7446667|
|  incoming|1.23462E+15|     6666111|      9195556|
|  incoming|1.23463E+15|     7777111|     10944445|
|  incoming|1.23464E+15|     8888111|     12693334|
|  incoming|1.23465E+15|     9999111|     14442223|
|  outgoing|1.23466E+15|    11110111|     16191112|
|  outgoing|1.23467E+15|    12221111|     17940001|
|  outgoing|1.23468E+15|    13332111|     19688890|
|  outgoing|1.23469E+15|    14443111|     21437779|
|  outgoing| 1.2347E+15|    15554111|     23186668|
|  incoming|1.23471E+15|    16665111|     24935557|
|  incoming|1.23472E+15|    17776111|     26684446|
|  outgoing|1.23473E+15|    18887111|     28433335|
|  incoming|1.23474E+15|    19998111|     30182224|
|  outgoing|1.23475E+15|    21109111|     31931113|
|  outgoing|1.23476E+15|    22220111|     33680002|
|      null|       null|        null|         null|
|   1111111|   incoming| 1.23457E+15|       451111|
|   2222111|   incoming| 1.23458E+15|      2200000|
|   3333111|   incoming| 1.23459E+15|      3948889|
|   4444111|   incoming|  1.2346E+15|      5697778|
|   5555111|   incoming| 1.23461E+15|      7446667|
|   6666111|   incoming| 1.23462E+15|      9195556|
|   7777111|   incoming| 1.23463E+15|     10944445|
|   8888111|   incoming| 1.23464E+15|     12693334|
|   9999111|   incoming| 1.23465E+15|     14442223|
|  11110111|   outgoing| 1.23466E+15|     16191112|
|  12221111|   outgoing| 1.23467E+15|     17940001|
|  13332111|   outgoing| 1.23468E+15|     19688890|
|  14443111|   outgoing| 1.23469E+15|     21437779|
|  15554111|   outgoing|  1.2347E+15|     23186668|
|  16665111|   incoming| 1.23471E+15|     24935557|
|  17776111|   incoming| 1.23472E+15|     26684446|
|  18887111|   outgoing| 1.23473E+15|     28433335|
|  19998111|   incoming| 1.23474E+15|     30182224|
|  21109111|   outgoing| 1.23475E+15|     31931113|
|  22220111|   outgoing| 1.23476E+15|     33680002|
|      null|       null|        null|         null|
|   1111111|   incoming|      451111|  1.23457E+15|
|   2222111|   incoming|     2200000|  1.23458E+15|
|   3333111|   incoming|     3948889|  1.23459E+15|
|   4444111|   incoming|     5697778|   1.2346E+15|
|   5555111|   incoming|     7446667|  1.23461E+15|
|   6666111|   incoming|     9195556|  1.23462E+15|
|   7777111|   incoming|    10944445|  1.23463E+15|
|   8888111|   incoming|    12693334|  1.23464E+15|
|   9999111|   incoming|    14442223|  1.23465E+15|
|  11110111|   outgoing|    16191112|  1.23466E+15|
|  12221111|   outgoing|    17940001|  1.23467E+15|
|  13332111|   outgoing|    19688890|  1.23468E+15|
|  14443111|   outgoing|    21437779|  1.23469E+15|
|  15554111|   outgoing|    23186668|   1.2347E+15|
|  16665111|   incoming|    24935557|  1.23471E+15|
|  17776111|   incoming|    26684446|  1.23472E+15|
|  18887111|   outgoing|    28433335|  1.23473E+15|
|  19998111|   incoming|    30182224|  1.23474E+15|
+----------+-----------+------------+-------------+
only showing top 60 rows

In [33]:
dfs2=[df10,df11]
#df9.unionByName(dfs1)
for i in dfs1:
    df9=df9.unionByName(i)
df9.show(60)
#here I get the df9 as baseframe and loop through other dataframe by unionByName...............

+----------+-----------+------------+-------------+
|RECORDTYPE| SERVEDIMEI|SERVEDMSISDN|CALLINGNUMBER|
+----------+-----------+------------+-------------+
|  incoming|1.23457E+15|     1111111|       451111|
|  incoming|1.23458E+15|     2222111|      2200000|
|  incoming|1.23459E+15|     3333111|      3948889|
|  incoming| 1.2346E+15|     4444111|      5697778|
|  incoming|1.23461E+15|     5555111|      7446667|
|  incoming|1.23462E+15|     6666111|      9195556|
|  incoming|1.23463E+15|     7777111|     10944445|
|  incoming|1.23464E+15|     8888111|     12693334|
|  incoming|1.23465E+15|     9999111|     14442223|
|  outgoing|1.23466E+15|    11110111|     16191112|
|  outgoing|1.23467E+15|    12221111|     17940001|
|  outgoing|1.23468E+15|    13332111|     19688890|
|  outgoing|1.23469E+15|    14443111|     21437779|
|  outgoing| 1.2347E+15|    15554111|     23186668|
|  incoming|1.23471E+15|    16665111|     24935557|
|  incoming|1.23472E+15|    17776111|     26684446|
|  outgoing|1.23473E+15|    18887111|     28433335|
|  incoming|1.23474E+15|    19998111|     30182224|
|  outgoing|1.23475E+15|    21109111|     31931113|
|  outgoing|1.23476E+15|    22220111|     33680002|
|      null|       null|        null|         null|
|  incoming|1.23457E+15|     1111111|       451111|
|  incoming|1.23458E+15|     2222111|      2200000|
|  incoming|1.23459E+15|     3333111|      3948889|
|  incoming| 1.2346E+15|     4444111|      5697778|
|  incoming|1.23461E+15|     5555111|      7446667|
|  incoming|1.23462E+15|     6666111|      9195556|
|  incoming|1.23463E+15|     7777111|     10944445|
|  incoming|1.23464E+15|     8888111|     12693334|
|  incoming|1.23465E+15|     9999111|     14442223|
|  outgoing|1.23466E+15|    11110111|     16191112|
|  outgoing|1.23467E+15|    12221111|     17940001|
|  outgoing|1.23468E+15|    13332111|     19688890|
|  outgoing|1.23469E+15|    14443111|     21437779|
|  outgoing| 1.2347E+15|    15554111|     23186668|
|  incoming|1.23471E+15|    16665111|     24935557|
|  incoming|1.23472E+15|    17776111|     26684446|
|  outgoing|1.23473E+15|    18887111|     28433335|
|  incoming|1.23474E+15|    19998111|     30182224|
|  outgoing|1.23475E+15|    21109111|     31931113|
|  outgoing|1.23476E+15|    22220111|     33680002|
|      null|       null|        null|         null|
|  incoming|1.23457E+15|     1111111|       451111|
|  incoming|1.23458E+15|     2222111|      2200000|
|  incoming|1.23459E+15|     3333111|      3948889|
|  incoming| 1.2346E+15|     4444111|      5697778|
|  incoming|1.23461E+15|     5555111|      7446667|
|  incoming|1.23462E+15|     6666111|      9195556|
|  incoming|1.23463E+15|     7777111|     10944445|
|  incoming|1.23464E+15|     8888111|     12693334|
|  incoming|1.23465E+15|     9999111|     14442223|
|  outgoing|1.23466E+15|    11110111|     16191112|
|  outgoing|1.23467E+15|    12221111|     17940001|
|  outgoing|1.23468E+15|    13332111|     19688890|
|  outgoing|1.23469E+15|    14443111|     21437779|
|  outgoing| 1.2347E+15|    15554111|     23186668|
|  incoming|1.23471E+15|    16665111|     24935557|
|  incoming|1.23472E+15|    17776111|     26684446|
|  outgoing|1.23473E+15|    18887111|     28433335|
|  incoming|1.23474E+15|    19998111|     30182224|
+----------+-----------+------------+-------------+
only showing top 60 rows