### Here I perform loop Loop though a dataframe, window functions and withcolumn & withColumnRenamed functions in pyspark

In [1]:
import pyspark
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.getOrCreate() #create spark object..

C:\Users\RAVI\anaconda3\envs\vizuamatix\lib\site-packages\pyspark\context.py:227: DeprecationWarning: Support for Python 2 and Python 3 prior to version 3.6 is deprecated as of Spark 3.0. See also the plan for dropping Python 2 support at https://spark.apache.org/news/plan-for-dropping-python-2-support.html.
  DeprecationWarning)

In [3]:
df=spark.read.csv("E:\Desktop\Datasets\dummy_cdr.csv",header=True)

In [4]:
df.show()

+----------+-----------+------------+-------------+------------+-----+-------+--------------------+--------------------+--------------------+-----------------+-------------+----------+--------------------+----------+--------------------+----------+--------+----------+--------+--------------------+
|RECORDTYPE| SERVEDIMEI|SERVEDMSISDN|CALLINGNUMBER|CALLEDNUMBER|  LAC| CELLID|         SEIZURETIME|          ANSWERTIME|         RELEASETIME|CALLDURATION(sec)|CALLREFERENCE|SERVICEKEY|NETWORKCALLREFERENCE|MSCADDRESS|ORIGINALCALLEDNUMBER|CALLEDIMSI|CALLTYPE|CALLEDIMEI|ORGMSCID|            CELLNAME|
+----------+-----------+------------+-------------+------------+-----+-------+--------------------+--------------------+--------------------+-----------------+-------------+----------+--------------------+----------+--------------------+----------+--------+----------+--------+--------------------+
|  incoming|1.23457E+15|     1111111|       451111|     2330925|28106| 123456|2021-10-01T21:20:42Z|2021-10-01T21:20:48Z|2021-10-01T21:24:49Z|              241|    336617966|         -|                   -|       322|                   -|         -|   onnet|         -|       -|Keppetipola-1_G1-091|
|  incoming|1.23458E+15|     2222111|      2200000|    67554005|25004| 234567|2021-10-01T21:20:29Z|2021-10-01T21:20:53Z|2021-10-01T21:24:49Z|              236|     93517596|         -|                   -|       322|                   -|         -|  offnet|         -|       -| Kandangoda-1_G3-091|
|  incoming|1.23459E+15|     3333111|      3948889|   132777085|    -| 345678|2021-10-01T21:23:16Z|2021-10-01T21:24:16Z|2021-10-01T21:24:50Z|               34|    219174645|         -|    1A0000402510F556|       322|                   -|         -|   onnet|         -|       -|                   -|
|  incoming| 1.2346E+15|     4444111|      5697778|   198000165|30805| 456789|2021-10-01T21:19:29Z|2021-10-01T21:19:35Z|2021-10-01T21:24:50Z|              315|    185608981|         -|                   -|       322|                   -|         -|   onnet|         -|       -|   Siripura-1_U3-213|
|  incoming|1.23461E+15|     5555111|      7446667|   263223245|28103| 567900|2021-10-01T21:23:21Z|2021-10-01T21:24:16Z|2021-10-01T21:24:50Z|               34|    143680279|         -|                   -|       322|                   -|         -|  offnet|         -|       -|   Ellewewa-1_G3-091|
|  incoming|1.23462E+15|     6666111|      9195556|   328446325|32002| 679011|2021-10-01T21:20:36Z|2021-10-01T21:20:51Z|2021-10-01T21:24:50Z|              239|     26400606|         -|                   -|       322|                   -|         -|   onnet|         -|       -|    Wadduwa-1_U2-211|
|  incoming|1.23463E+15|     7777111|     10944445|   393669405|28109| 790122|2021-10-01T21:22:09Z|2021-10-01T21:22:20Z|2021-10-01T21:24:49Z|              149|    269516061|         -|                   -|       322|                   -|         -|  offnet|         -|       -|Hinnarandeniya-1_...|
|  incoming|1.23464E+15|     8888111|     12693334|   458892485|30802| 901233|2021-10-01T21:20:26Z|2021-10-01T21:20:42Z|2021-10-01T21:24:50Z|              248|    294683974|         -|                   -|       322|                   -|         -|   onnet|         -|       -|BandarawelaTown-2...|
|  incoming|1.23465E+15|     9999111|     14442223|   524115565|25003|1012344|2021-10-01T21:24:39Z|2021-10-01T21:24:46Z|2021-10-01T21:24:50Z|                4|    202394206|         -|                   -|       322|                   -|         -|   onnet|         -|       -|Yatadolawatta-1_G...|
|  outgoing|1.23466E+15|    11110111|     16191112|   589338645|25001|1123455|2021-10-01T21:23:46Z|2021-10-01T21:24:11Z|2021-10-01T21:24:50Z|               39|    277896208|         -|                   -|       322|                   -|         -|  offnet|         -|       -|Matara_Walgama-1_...|
|  outgoing|1.23467E+15|    12221111|     17940001|   654561725|25008|1234566|2021-10-01T21:24:24Z|2021-10-01T21:24:25Z|2021-10-01T21:24:49Z|               24|    370174828|         -|                   -|       322|                   -|         -|   onnet|         -|       -|Attidiya_BakeryJu...|
|  outgoing|1.23468E+15|    13332111|     19688890|   719784805|25002|1345677|2021-10-01T21:24:14Z|2021-10-01T21:24:43Z|2021-10-01T21:24:50Z|                7|     76728750|         -|                   -|       322|                   -|         -|  offnet|         -|       -|  Udawalawa-1_G3-091|
|  outgoing|1.23469E+15|    14443111|     21437779|   785007885|25008|1456788|2021-10-01T21:24:31Z|2021-10-01T21:24:40Z|2021-10-01T21:24:50Z|               10|     18002404|         -|                   -|       322|                   -|         -|   onnet|         -|       -|Thalapathpitiya-2...|
|  outgoing| 1.2347E+15|    15554111|     23186668|   850230965|28103|1567899|2021-10-01T21:19:22Z|2021-10-01T21:19:39Z|2021-10-01T21:24:50Z|              311|    135284563|         -|                   -|       322|                   -|         -|   onnet|         -|       -|   Medagama-1_G3-181|
|  incoming|1.23471E+15|    16665111|     24935557|   915454045|26008|1679010|2021-10-01T21:23:10Z|2021-10-01T21:23:14Z|2021-10-01T21:24:50Z|               96|     76728502|         -|                   -|       322|                   -|         -|  offnet|         -|       -|      Dompe-1_G2-091|
|  incoming|1.23472E+15|    17776111|     26684446|   980677125|    -|1790121|2021-10-01T21:24:25Z|2021-10-01T21:24:37Z|2021-10-01T21:24:50Z|               13|     43167608|         -|    05000040A71378AF|       322|                   -|         -|   onnet|         -|       -|                   -|
|  outgoing|1.23473E+15|    18887111|     28433335|  1045900205|28103|1901232|2021-10-01T21:23:51Z|2021-10-01T21:24:04Z|2021-10-01T21:24:51Z|               47|     18002243|         -|                   -|       322|                   -|         -|  offnet|         -|       -|Dimbulagala-1_G3-181|
|  incoming|1.23474E+15|    19998111|     30182224|  1111123285|30803|2012343|2021-10-01T21:24:27Z|2021-10-01T21:24:37Z|2021-10-01T21:24:50Z|               13|     18002397|         -|                   -|       322|                   -|         -|   onnet|         -|       -|KalmunaiKudi_East...|
|  outgoing|1.23475E+15|    21109111|     31931113|  1176346365|28107|2123454|2021-10-01T21:23:27Z|2021-10-01T21:23:40Z|2021-10-01T21:24:51Z|               71|    286287157|         -|                   -|       322|                   -|         -|   onnet|         -|       -|  Gonnoruwa-1_G1-091|
|  outgoing|1.23476E+15|    22220111|     33680002|  1241569445|25001|2234565|2021-10-01T21:24:14Z|2021-10-01T21:24:17Z|2021-10-01T21:24:50Z|               33|    252730496|         -|                   -|       322|                   -|         -|  offnet|         -|       -|  Dangedara-1_G7-091|
+----------+-----------+------------+-------------+------------+-----+-------+--------------------+--------------------+--------------------+-----------------+-------------+----------+--------------------+----------+--------------------+----------+--------+----------+--------+--------------------+
only showing top 20 rows

In [5]:
df.count() #rows..

21

# Loop through a data frame

In [6]:
collect=df.collect() #collect all the rows in the dataframe

In [7]:
df.columns

['RECORDTYPE',
 'SERVEDIMEI',
 'SERVEDMSISDN',
 'CALLINGNUMBER',
 'CALLEDNUMBER',
 'LAC',
 'CELLID',
 'SEIZURETIME',
 'ANSWERTIME',
 'RELEASETIME',
 'CALLDURATION(sec)',
 'CALLREFERENCE',
 'SERVICEKEY',
 'NETWORKCALLREFERENCE',
 'MSCADDRESS',
 'ORIGINALCALLEDNUMBER',
 'CALLEDIMSI',
 'CALLTYPE',
 'CALLEDIMEI',
 'ORGMSCID',
 'CELLNAME']

In [8]:
for row in collect: #loop through each row in the collected rows....
    print(row['RECORDTYPE'],row['SERVEDIMEI'],row['CALLTYPE'],['SERVICEKEY'])

incoming 1.23457E+15 onnet ['SERVICEKEY']
incoming 1.23458E+15 offnet ['SERVICEKEY']
incoming 1.23459E+15 onnet ['SERVICEKEY']
incoming 1.2346E+15 onnet ['SERVICEKEY']
incoming 1.23461E+15 offnet ['SERVICEKEY']
incoming 1.23462E+15 onnet ['SERVICEKEY']
incoming 1.23463E+15 offnet ['SERVICEKEY']
incoming 1.23464E+15 onnet ['SERVICEKEY']
incoming 1.23465E+15 onnet ['SERVICEKEY']
outgoing 1.23466E+15 offnet ['SERVICEKEY']
outgoing 1.23467E+15 onnet ['SERVICEKEY']
outgoing 1.23468E+15 offnet ['SERVICEKEY']
outgoing 1.23469E+15 onnet ['SERVICEKEY']
outgoing 1.2347E+15 onnet ['SERVICEKEY']
incoming 1.23471E+15 offnet ['SERVICEKEY']
incoming 1.23472E+15 onnet ['SERVICEKEY']
outgoing 1.23473E+15 offnet ['SERVICEKEY']
incoming 1.23474E+15 onnet ['SERVICEKEY']
outgoing 1.23475E+15 onnet ['SERVICEKEY']
outgoing 1.23476E+15 offnet ['SERVICEKEY']
None None None ['SERVICEKEY']

# Window functions

In [9]:
from pyspark.sql.window import Window

In [10]:
#select specific number of columns in the "df" dataframe for easyness..
df2=df.select(['RECORDTYPE','SERVEDIMEI','SERVEDMSISDN','CALLINGNUMBER'])
df2.show(20)

+----------+-----------+------------+-------------+
|RECORDTYPE| SERVEDIMEI|SERVEDMSISDN|CALLINGNUMBER|
+----------+-----------+------------+-------------+
|  incoming|1.23457E+15|     1111111|       451111|
|  incoming|1.23458E+15|     2222111|      2200000|
|  incoming|1.23459E+15|     3333111|      3948889|
|  incoming| 1.2346E+15|     4444111|      5697778|
|  incoming|1.23461E+15|     5555111|      7446667|
|  incoming|1.23462E+15|     6666111|      9195556|
|  incoming|1.23463E+15|     7777111|     10944445|
|  incoming|1.23464E+15|     8888111|     12693334|
|  incoming|1.23465E+15|     9999111|     14442223|
|  outgoing|1.23466E+15|    11110111|     16191112|
|  outgoing|1.23467E+15|    12221111|     17940001|
|  outgoing|1.23468E+15|    13332111|     19688890|
|  outgoing|1.23469E+15|    14443111|     21437779|
|  outgoing| 1.2347E+15|    15554111|     23186668|
|  incoming|1.23471E+15|    16665111|     24935557|
|  incoming|1.23472E+15|    17776111|     26684446|
|  outgoing|1.23473E+15|    18887111|     28433335|
|  incoming|1.23474E+15|    19998111|     30182224|
|  outgoing|1.23475E+15|    21109111|     31931113|
|  outgoing|1.23476E+15|    22220111|     33680002|
+----------+-----------+------------+-------------+
only showing top 20 rows

##  Window Ranking functions

In [26]:
from pyspark.sql.functions import row_number #import row number function....
windowSpec  = Window.partitionBy("RECORDTYPE").orderBy("SERVEDMSISDN")
df3=df2.withColumn("Row_number",row_number().over(windowSpec))
df3.show()

+----------+-----------+------------+-------------+----------+
|RECORDTYPE| SERVEDIMEI|SERVEDMSISDN|CALLINGNUMBER|Row_number|
+----------+-----------+------------+-------------+----------+
|  incoming|1.23457E+15|     1111111|       451111|         1|
|  incoming|1.23471E+15|    16665111|     24935557|         2|
|  incoming|1.23472E+15|    17776111|     26684446|         3|
|  incoming|1.23474E+15|    19998111|     30182224|         4|
|  incoming|1.23458E+15|     2222111|      2200000|         5|
|  incoming|1.23459E+15|     3333111|      3948889|         6|
|  incoming| 1.2346E+15|     4444111|      5697778|         7|
|  incoming|1.23461E+15|     5555111|      7446667|         8|
|  incoming|1.23462E+15|     6666111|      9195556|         9|
|  incoming|1.23463E+15|     7777111|     10944445|        10|
|  incoming|1.23464E+15|     8888111|     12693334|        11|
|  incoming|1.23465E+15|     9999111|     14442223|        12|
|  outgoing|1.23466E+15|    11110111|     16191112|         1|
|  outgoing|1.23467E+15|    12221111|     17940001|         2|
|  outgoing|1.23468E+15|    13332111|     19688890|         3|
|  outgoing|1.23469E+15|    14443111|     21437779|         4|
|  outgoing| 1.2347E+15|    15554111|     23186668|         5|
|  outgoing|1.23473E+15|    18887111|     28433335|         6|
|  outgoing|1.23475E+15|    21109111|     31931113|         7|
|  outgoing|1.23476E+15|    22220111|     33680002|         8|
+----------+-----------+------------+-------------+----------+
only showing top 20 rows

In [27]:
df3.withColumnRenamed("Row_number","Row_Number_of_the_table").show()

+----------+-----------+------------+-------------+-----------------------+
|RECORDTYPE| SERVEDIMEI|SERVEDMSISDN|CALLINGNUMBER|Row_Number_of_the_table|
+----------+-----------+------------+-------------+-----------------------+
|  incoming|1.23457E+15|     1111111|       451111|                      1|
|  incoming|1.23471E+15|    16665111|     24935557|                      2|
|  incoming|1.23472E+15|    17776111|     26684446|                      3|
|  incoming|1.23474E+15|    19998111|     30182224|                      4|
|  incoming|1.23458E+15|     2222111|      2200000|                      5|
|  incoming|1.23459E+15|     3333111|      3948889|                      6|
|  incoming| 1.2346E+15|     4444111|      5697778|                      7|
|  incoming|1.23461E+15|     5555111|      7446667|                      8|
|  incoming|1.23462E+15|     6666111|      9195556|                      9|
|  incoming|1.23463E+15|     7777111|     10944445|                     10|
|  incoming|1.23464E+15|     8888111|     12693334|                     11|
|  incoming|1.23465E+15|     9999111|     14442223|                     12|
|  outgoing|1.23466E+15|    11110111|     16191112|                      1|
|  outgoing|1.23467E+15|    12221111|     17940001|                      2|
|  outgoing|1.23468E+15|    13332111|     19688890|                      3|
|  outgoing|1.23469E+15|    14443111|     21437779|                      4|
|  outgoing| 1.2347E+15|    15554111|     23186668|                      5|
|  outgoing|1.23473E+15|    18887111|     28433335|                      6|
|  outgoing|1.23475E+15|    21109111|     31931113|                      7|
|  outgoing|1.23476E+15|    22220111|     33680002|                      8|
+----------+-----------+------------+-------------+-----------------------+
only showing top 20 rows

In [13]:
from pyspark.sql.functions import rank #import rank function..

In [28]:
df4=df2.withColumn("Rank",rank().over(windowSpec))
df4.show()

+----------+-----------+------------+-------------+----+
|RECORDTYPE| SERVEDIMEI|SERVEDMSISDN|CALLINGNUMBER|Rank|
+----------+-----------+------------+-------------+----+
|  incoming|1.23457E+15|     1111111|       451111|   1|
|  incoming|1.23471E+15|    16665111|     24935557|   2|
|  incoming|1.23472E+15|    17776111|     26684446|   3|
|  incoming|1.23474E+15|    19998111|     30182224|   4|
|  incoming|1.23458E+15|     2222111|      2200000|   5|
|  incoming|1.23459E+15|     3333111|      3948889|   6|
|  incoming| 1.2346E+15|     4444111|      5697778|   7|
|  incoming|1.23461E+15|     5555111|      7446667|   8|
|  incoming|1.23462E+15|     6666111|      9195556|   9|
|  incoming|1.23463E+15|     7777111|     10944445|  10|
|  incoming|1.23464E+15|     8888111|     12693334|  11|
|  incoming|1.23465E+15|     9999111|     14442223|  12|
|  outgoing|1.23466E+15|    11110111|     16191112|   1|
|  outgoing|1.23467E+15|    12221111|     17940001|   2|
|  outgoing|1.23468E+15|    13332111|     19688890|   3|
|  outgoing|1.23469E+15|    14443111|     21437779|   4|
|  outgoing| 1.2347E+15|    15554111|     23186668|   5|
|  outgoing|1.23473E+15|    18887111|     28433335|   6|
|  outgoing|1.23475E+15|    21109111|     31931113|   7|
|  outgoing|1.23476E+15|    22220111|     33680002|   8|
+----------+-----------+------------+-------------+----+
only showing top 20 rows

In [30]:
df4.withColumnRenamed("Rank","Ranks_Given_To_Recordtypes").show()

+----------+-----------+------------+-------------+--------------------------+
|RECORDTYPE| SERVEDIMEI|SERVEDMSISDN|CALLINGNUMBER|Ranks_Given_To_Recordtypes|
+----------+-----------+------------+-------------+--------------------------+
|  incoming|1.23457E+15|     1111111|       451111|                         1|
|  incoming|1.23471E+15|    16665111|     24935557|                         2|
|  incoming|1.23472E+15|    17776111|     26684446|                         3|
|  incoming|1.23474E+15|    19998111|     30182224|                         4|
|  incoming|1.23458E+15|     2222111|      2200000|                         5|
|  incoming|1.23459E+15|     3333111|      3948889|                         6|
|  incoming| 1.2346E+15|     4444111|      5697778|                         7|
|  incoming|1.23461E+15|     5555111|      7446667|                         8|
|  incoming|1.23462E+15|     6666111|      9195556|                         9|
|  incoming|1.23463E+15|     7777111|     10944445|                        10|
|  incoming|1.23464E+15|     8888111|     12693334|                        11|
|  incoming|1.23465E+15|     9999111|     14442223|                        12|
|  outgoing|1.23466E+15|    11110111|     16191112|                         1|
|  outgoing|1.23467E+15|    12221111|     17940001|                         2|
|  outgoing|1.23468E+15|    13332111|     19688890|                         3|
|  outgoing|1.23469E+15|    14443111|     21437779|                         4|
|  outgoing| 1.2347E+15|    15554111|     23186668|                         5|
|  outgoing|1.23473E+15|    18887111|     28433335|                         6|
|  outgoing|1.23475E+15|    21109111|     31931113|                         7|
|  outgoing|1.23476E+15|    22220111|     33680002|                         8|
+----------+-----------+------------+-------------+--------------------------+
only showing top 20 rows

In [15]:
from pyspark.sql.functions import percent_rank #show the rank by percentile....

In [16]:
df2.withColumn("Percentile Rank",percent_rank().over(windowSpec)).show()

+----------+-----------+------------+-------------+-------------------+
|RECORDTYPE| SERVEDIMEI|SERVEDMSISDN|CALLINGNUMBER|    Percentile Rank|
+----------+-----------+------------+-------------+-------------------+
|  incoming|1.23457E+15|     1111111|       451111|                0.0|
|  incoming|1.23471E+15|    16665111|     24935557|0.09090909090909091|
|  incoming|1.23472E+15|    17776111|     26684446|0.18181818181818182|
|  incoming|1.23474E+15|    19998111|     30182224| 0.2727272727272727|
|  incoming|1.23458E+15|     2222111|      2200000|0.36363636363636365|
|  incoming|1.23459E+15|     3333111|      3948889|0.45454545454545453|
|  incoming| 1.2346E+15|     4444111|      5697778| 0.5454545454545454|
|  incoming|1.23461E+15|     5555111|      7446667| 0.6363636363636364|
|  incoming|1.23462E+15|     6666111|      9195556| 0.7272727272727273|
|  incoming|1.23463E+15|     7777111|     10944445| 0.8181818181818182|
|  incoming|1.23464E+15|     8888111|     12693334| 0.9090909090909091|
|  incoming|1.23465E+15|     9999111|     14442223|                1.0|
|  outgoing|1.23466E+15|    11110111|     16191112|                0.0|
|  outgoing|1.23467E+15|    12221111|     17940001|0.14285714285714285|
|  outgoing|1.23468E+15|    13332111|     19688890| 0.2857142857142857|
|  outgoing|1.23469E+15|    14443111|     21437779|0.42857142857142855|
|  outgoing| 1.2347E+15|    15554111|     23186668| 0.5714285714285714|
|  outgoing|1.23473E+15|    18887111|     28433335| 0.7142857142857143|
|  outgoing|1.23475E+15|    21109111|     31931113| 0.8571428571428571|
|  outgoing|1.23476E+15|    22220111|     33680002|                1.0|
+----------+-----------+------------+-------------+-------------------+
only showing top 20 rows

In [17]:
from pyspark.sql.functions import ntile

In [18]:
df2.withColumn("Relative Rank",ntile(3).over(windowSpec)).show() #relative rank with 3 ranks...

+----------+-----------+------------+-------------+-------------+
|RECORDTYPE| SERVEDIMEI|SERVEDMSISDN|CALLINGNUMBER|Relative Rank|
+----------+-----------+------------+-------------+-------------+
|  incoming|1.23457E+15|     1111111|       451111|            1|
|  incoming|1.23471E+15|    16665111|     24935557|            1|
|  incoming|1.23472E+15|    17776111|     26684446|            1|
|  incoming|1.23474E+15|    19998111|     30182224|            1|
|  incoming|1.23458E+15|     2222111|      2200000|            2|
|  incoming|1.23459E+15|     3333111|      3948889|            2|
|  incoming| 1.2346E+15|     4444111|      5697778|            2|
|  incoming|1.23461E+15|     5555111|      7446667|            2|
|  incoming|1.23462E+15|     6666111|      9195556|            3|
|  incoming|1.23463E+15|     7777111|     10944445|            3|
|  incoming|1.23464E+15|     8888111|     12693334|            3|
|  incoming|1.23465E+15|     9999111|     14442223|            3|
|  outgoing|1.23466E+15|    11110111|     16191112|            1|
|  outgoing|1.23467E+15|    12221111|     17940001|            1|
|  outgoing|1.23468E+15|    13332111|     19688890|            1|
|  outgoing|1.23469E+15|    14443111|     21437779|            2|
|  outgoing| 1.2347E+15|    15554111|     23186668|            2|
|  outgoing|1.23473E+15|    18887111|     28433335|            2|
|  outgoing|1.23475E+15|    21109111|     31931113|            3|
|  outgoing|1.23476E+15|    22220111|     33680002|            3|
+----------+-----------+------------+-------------+-------------+
only showing top 20 rows

## Window Analytic functions

In [19]:
from pyspark.sql.functions import cume_dist

In [20]:
df2.withColumn("cumulative distance",cume_dist().over(windowSpec)).show()

+----------+-----------+------------+-------------+-------------------+
|RECORDTYPE| SERVEDIMEI|SERVEDMSISDN|CALLINGNUMBER|cumulative distance|
+----------+-----------+------------+-------------+-------------------+
|  incoming|1.23457E+15|     1111111|       451111|0.08333333333333333|
|  incoming|1.23471E+15|    16665111|     24935557|0.16666666666666666|
|  incoming|1.23472E+15|    17776111|     26684446|               0.25|
|  incoming|1.23474E+15|    19998111|     30182224| 0.3333333333333333|
|  incoming|1.23458E+15|     2222111|      2200000| 0.4166666666666667|
|  incoming|1.23459E+15|     3333111|      3948889|                0.5|
|  incoming| 1.2346E+15|     4444111|      5697778| 0.5833333333333334|
|  incoming|1.23461E+15|     5555111|      7446667| 0.6666666666666666|
|  incoming|1.23462E+15|     6666111|      9195556|               0.75|
|  incoming|1.23463E+15|     7777111|     10944445| 0.8333333333333334|
|  incoming|1.23464E+15|     8888111|     12693334| 0.9166666666666666|
|  incoming|1.23465E+15|     9999111|     14442223|                1.0|
|  outgoing|1.23466E+15|    11110111|     16191112|              0.125|
|  outgoing|1.23467E+15|    12221111|     17940001|               0.25|
|  outgoing|1.23468E+15|    13332111|     19688890|              0.375|
|  outgoing|1.23469E+15|    14443111|     21437779|                0.5|
|  outgoing| 1.2347E+15|    15554111|     23186668|              0.625|
|  outgoing|1.23473E+15|    18887111|     28433335|               0.75|
|  outgoing|1.23475E+15|    21109111|     31931113|              0.875|
|  outgoing|1.23476E+15|    22220111|     33680002|                1.0|
+----------+-----------+------------+-------------+-------------------+
only showing top 20 rows

In [21]:
from pyspark.sql.functions import lag

In [22]:
df2.withColumn("Lag value in CALLINGNUMBER",lag('CALLINGNUMBER').over(windowSpec)).show()

+----------+-----------+------------+-------------+--------------------------+
|RECORDTYPE| SERVEDIMEI|SERVEDMSISDN|CALLINGNUMBER|Lag value in CALLINGNUMBER|
+----------+-----------+------------+-------------+--------------------------+
|  incoming|1.23457E+15|     1111111|       451111|                      null|
|  incoming|1.23471E+15|    16665111|     24935557|                    451111|
|  incoming|1.23472E+15|    17776111|     26684446|                  24935557|
|  incoming|1.23474E+15|    19998111|     30182224|                  26684446|
|  incoming|1.23458E+15|     2222111|      2200000|                  30182224|
|  incoming|1.23459E+15|     3333111|      3948889|                   2200000|
|  incoming| 1.2346E+15|     4444111|      5697778|                   3948889|
|  incoming|1.23461E+15|     5555111|      7446667|                   5697778|
|  incoming|1.23462E+15|     6666111|      9195556|                   7446667|
|  incoming|1.23463E+15|     7777111|     10944445|                   9195556|
|  incoming|1.23464E+15|     8888111|     12693334|                  10944445|
|  incoming|1.23465E+15|     9999111|     14442223|                  12693334|
|  outgoing|1.23466E+15|    11110111|     16191112|                      null|
|  outgoing|1.23467E+15|    12221111|     17940001|                  16191112|
|  outgoing|1.23468E+15|    13332111|     19688890|                  17940001|
|  outgoing|1.23469E+15|    14443111|     21437779|                  19688890|
|  outgoing| 1.2347E+15|    15554111|     23186668|                  21437779|
|  outgoing|1.23473E+15|    18887111|     28433335|                  23186668|
|  outgoing|1.23475E+15|    21109111|     31931113|                  28433335|
|  outgoing|1.23476E+15|    22220111|     33680002|                  31931113|
+----------+-----------+------------+-------------+--------------------------+
only showing top 20 rows

In [23]:
from pyspark.sql.functions import lead
df2.withColumn("Lead value in CALLINGNUMBER",lead('CALLINGNUMBER').over(windowSpec)).show()

+----------+-----------+------------+-------------+---------------------------+
|RECORDTYPE| SERVEDIMEI|SERVEDMSISDN|CALLINGNUMBER|Lead value in CALLINGNUMBER|
+----------+-----------+------------+-------------+---------------------------+
|  incoming|1.23457E+15|     1111111|       451111|                   24935557|
|  incoming|1.23471E+15|    16665111|     24935557|                   26684446|
|  incoming|1.23472E+15|    17776111|     26684446|                   30182224|
|  incoming|1.23474E+15|    19998111|     30182224|                    2200000|
|  incoming|1.23458E+15|     2222111|      2200000|                    3948889|
|  incoming|1.23459E+15|     3333111|      3948889|                    5697778|
|  incoming| 1.2346E+15|     4444111|      5697778|                    7446667|
|  incoming|1.23461E+15|     5555111|      7446667|                    9195556|
|  incoming|1.23462E+15|     6666111|      9195556|                   10944445|
|  incoming|1.23463E+15|     7777111|     10944445|                   12693334|
|  incoming|1.23464E+15|     8888111|     12693334|                   14442223|
|  incoming|1.23465E+15|     9999111|     14442223|                       null|
|  outgoing|1.23466E+15|    11110111|     16191112|                   17940001|
|  outgoing|1.23467E+15|    12221111|     17940001|                   19688890|
|  outgoing|1.23468E+15|    13332111|     19688890|                   21437779|
|  outgoing|1.23469E+15|    14443111|     21437779|                   23186668|
|  outgoing| 1.2347E+15|    15554111|     23186668|                   28433335|
|  outgoing|1.23473E+15|    18887111|     28433335|                   31931113|
|  outgoing|1.23475E+15|    21109111|     31931113|                   33680002|
|  outgoing|1.23476E+15|    22220111|     33680002|                       null|
+----------+-----------+------------+-------------+---------------------------+
only showing top 20 rows

## Window Aggregate Functions

In [24]:
from pyspark.sql.functions import col,avg,sum,min,max,mean,row_number

In [25]:
df2.withColumn("row",row_number().over(windowSpec)).withColumn("Average",avg(col('CALLINGNUMBER')).over(windowSpec)).withColumn("Max",max(col("CALLINGNUMBER")).over(windowSpec)).withColumn("Min",min(col('CALLINGNUMBER')).over(windowSpec)).withColumn("Sum",sum(col('CALLINGNUMBER')).over(windowSpec)).withColumn("Mean",mean(col('CALLINGNUMBER')).over(windowSpec)).where(col("row")==1).select('RECORDTYPE','Average','Max','Min','Sum',"Mean").show()

+----------+-----------+--------+--------+-----------+-----------+
|RECORDTYPE|    Average|     Max|     Min|        Sum|       Mean|
+----------+-----------+--------+--------+-----------+-----------+
|  incoming|   451111.0|  451111|  451111|   451111.0|   451111.0|
|  outgoing|1.6191112E7|16191112|16191112|1.6191112E7|1.6191112E7|
|      null|       null|    null|    null|       null|       null|
+----------+-----------+--------+--------+-----------+-----------+