In [1]:
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.getOrCreate()

C:\Users\RAVI\anaconda3\envs\vizuamatix\lib\site-packages\pyspark\context.py:227: DeprecationWarning: Support for Python 2 and Python 3 prior to version 3.6 is deprecated as of Spark 3.0. See also the plan for dropping Python 2 support at https://spark.apache.org/news/plan-for-dropping-python-2-support.html.
  DeprecationWarning)

In [3]:
#create pyspark dataframe.....
df=spark.read.csv('E:\Desktop\Datasets\Loan payments data.csv',header=True)

In [4]:
df.show()

+-----------+-----------+---------+-----+--------------+---------+---------------+-------------+---+--------------------+------+
|    Loan_ID|loan_status|Principal|terms|effective_date| due_date|  paid_off_time|past_due_days|age|           education|Gender|
+-----------+-----------+---------+-----+--------------+---------+---------------+-------------+---+--------------------+------+
|xqd20166231|    PAIDOFF|     1000|   30|      9/8/2016|10/7/2016|9/14/2016 19:31|         null| 45|High School or Below|  male|
|xqd20168902|    PAIDOFF|     1000|   30|      9/8/2016|10/7/2016| 10/7/2016 9:00|         null| 50|            Bechalor|female|
|xqd20160003|    PAIDOFF|     1000|   30|      9/8/2016|10/7/2016|9/25/2016 16:58|         null| 33|            Bechalor|female|
|xqd20160004|    PAIDOFF|     1000|   15|      9/8/2016|9/22/2016|9/22/2016 20:00|         null| 27|             college|  male|
|xqd20160005|    PAIDOFF|     1000|   30|      9/9/2016|10/8/2016|9/23/2016 21:36|         null| 28|             college|female|
|xqd20160706|    PAIDOFF|      300|    7|      9/9/2016|9/15/2016| 9/9/2016 13:45|         null| 35|     Master or Above|  male|
|xqd20160007|    PAIDOFF|     1000|   30|      9/9/2016|10/8/2016|10/7/2016 23:07|         null| 29|             college|  male|
|xqd20160008|    PAIDOFF|     1000|   30|      9/9/2016|10/8/2016|10/5/2016 20:33|         null| 36|             college|  male|
|xqd20160909|    PAIDOFF|     1000|   30|      9/9/2016|10/8/2016|10/8/2016 16:00|         null| 28|             college|  male|
|xqd20160010|    PAIDOFF|      800|   15|     9/10/2016|9/24/2016|9/24/2016 13:00|         null| 26|             college|  male|
|xqd20160011|    PAIDOFF|      300|    7|     9/10/2016|9/16/2016|9/11/2016 19:11|         null| 29|             college|  male|
|xqd20160012|    PAIDOFF|     1000|   15|     9/10/2016|10/9/2016|10/9/2016 16:00|         null| 39|High School or Below|  male|
|xqd20160013|    PAIDOFF|     1000|   30|     9/10/2016|10/9/2016|10/7/2016 23:32|         null| 26|             college|  male|
|xqd20160014|    PAIDOFF|      900|    7|     9/10/2016|9/16/2016|9/13/2016 21:57|         null| 26|             college|female|
|xqd20160015|    PAIDOFF|     1000|    7|     9/10/2016|9/16/2016|9/15/2016 14:27|         null| 27|High School or Below|  male|
|xqd20160016|    PAIDOFF|      800|   15|     9/10/2016|9/24/2016|9/24/2016 16:00|         null| 26|             college|  male|
|xqd20160017|    PAIDOFF|     1000|   30|     9/10/2016|10/9/2016|9/27/2016 14:21|         null| 40|High School or Below|  male|
|xqd20160018|    PAIDOFF|     1000|   15|     9/10/2016|9/24/2016|9/23/2016 18:49|         null| 32|High School or Below|  male|
|xqd20160019|    PAIDOFF|     1000|   30|     9/10/2016|10/9/2016|10/5/2016 22:05|         null| 32|High School or Below|  male|
|xqd20160020|    PAIDOFF|      800|   30|     9/10/2016|10/9/2016| 9/23/2016 7:42|         null| 26|             college|  male|
+-----------+-----------+---------+-----+--------------+---------+---------------+-------------+---+--------------------+------+
only showing top 20 rows

In [5]:
df.columns

['Loan_ID',
 'loan_status',
 'Principal',
 'terms',
 'effective_date',
 'due_date',
 'paid_off_time',
 'past_due_days',
 'age',
 'education',
 'Gender']

In [6]:
#select specific number of columns from the dataset...
columns=['Loan_ID','Principal','terms','age','education','Gender']
df=df.select(columns)
df.show()

+-----------+---------+-----+---+--------------------+------+
|    Loan_ID|Principal|terms|age|           education|Gender|
+-----------+---------+-----+---+--------------------+------+
|xqd20166231|     1000|   30| 45|High School or Below|  male|
|xqd20168902|     1000|   30| 50|            Bechalor|female|
|xqd20160003|     1000|   30| 33|            Bechalor|female|
|xqd20160004|     1000|   15| 27|             college|  male|
|xqd20160005|     1000|   30| 28|             college|female|
|xqd20160706|      300|    7| 35|     Master or Above|  male|
|xqd20160007|     1000|   30| 29|             college|  male|
|xqd20160008|     1000|   30| 36|             college|  male|
|xqd20160909|     1000|   30| 28|             college|  male|
|xqd20160010|      800|   15| 26|             college|  male|
|xqd20160011|      300|    7| 29|             college|  male|
|xqd20160012|     1000|   15| 39|High School or Below|  male|
|xqd20160013|     1000|   30| 26|             college|  male|
|xqd20160014|      900|    7| 26|             college|female|
|xqd20160015|     1000|    7| 27|High School or Below|  male|
|xqd20160016|      800|   15| 26|             college|  male|
|xqd20160017|     1000|   30| 40|High School or Below|  male|
|xqd20160018|     1000|   15| 32|High School or Below|  male|
|xqd20160019|     1000|   30| 32|High School or Below|  male|
|xqd20160020|      800|   30| 26|             college|  male|
+-----------+---------+-----+---+--------------------+------+
only showing top 20 rows

In [7]:
df.dtypes

[('Loan_ID', 'string'),
 ('Principal', 'string'),
 ('terms', 'string'),
 ('age', 'string'),
 ('education', 'string'),
 ('Gender', 'string')]

In [8]:
#convert age datatype to integer.....
df=df.withColumn("age",df.age.cast('int'))

In [9]:
df.dtypes

[('Loan_ID', 'string'),
 ('Principal', 'string'),
 ('terms', 'string'),
 ('age', 'int'),
 ('education', 'string'),
 ('Gender', 'string')]

In [10]:
#convert Principal datatype to integer.....
df=df.withColumn("Principal",df.Principal.cast('int'))

In [11]:
df.dtypes

[('Loan_ID', 'string'),
 ('Principal', 'int'),
 ('terms', 'string'),
 ('age', 'int'),
 ('education', 'string'),
 ('Gender', 'string')]

# Filter..............

In [12]:
#filter age less than 30.......rows
df.filter("age<30").show()

+-----------+---------+-----+---+--------------------+------+
|    Loan_ID|Principal|terms|age|           education|Gender|
+-----------+---------+-----+---+--------------------+------+
|xqd20160004|     1000|   15| 27|             college|  male|
|xqd20160005|     1000|   30| 28|             college|female|
|xqd20160007|     1000|   30| 29|             college|  male|
|xqd20160909|     1000|   30| 28|             college|  male|
|xqd20160010|      800|   15| 26|             college|  male|
|xqd20160011|      300|    7| 29|             college|  male|
|xqd20160013|     1000|   30| 26|             college|  male|
|xqd20160014|      900|    7| 26|             college|female|
|xqd20160015|     1000|    7| 27|High School or Below|  male|
|xqd20160016|      800|   15| 26|             college|  male|
|xqd20160020|      800|   30| 26|             college|  male|
|xqd20160021|     1000|   30| 26|             college|  male|
|xqd20160023|     1000|   30| 25|High School or Below|  male|
|xqd20160024|     1000|   15| 26|             college|  male|
|xqd20160025|     1000|   30| 26|             college|  male|
|xqd20160026|     1000|   30| 29|High School or Below|  male|
|xqd20160033|     1000|   30| 27|             college|  male|
|xqd20160036|      800|   15| 29|            Bechalor|  male|
|xqd20160037|     1000|   30| 27|High School or Below|  male|
|xqd20160039|     1000|   15| 24|             college|  male|
+-----------+---------+-----+---+--------------------+------+
only showing top 20 rows

In [13]:
#filter ages between 30 and 50...and operation..
df.filter("age>30 and age<50").show()

+-----------+---------+-----+---+--------------------+------+
|    Loan_ID|Principal|terms|age|           education|Gender|
+-----------+---------+-----+---+--------------------+------+
|xqd20166231|     1000|   30| 45|High School or Below|  male|
|xqd20160003|     1000|   30| 33|            Bechalor|female|
|xqd20160706|      300|    7| 35|     Master or Above|  male|
|xqd20160008|     1000|   30| 36|             college|  male|
|xqd20160012|     1000|   15| 39|High School or Below|  male|
|xqd20160017|     1000|   30| 40|High School or Below|  male|
|xqd20160018|     1000|   15| 32|High School or Below|  male|
|xqd20160019|     1000|   30| 32|High School or Below|  male|
|xqd20160022|     1000|   30| 43|High School or Below|female|
|xqd20160027|      800|   15| 39|            Bechalor|  male|
|xqd20170088|     1000|   15| 34|            Bechalor|  male|
|xqd20160029|     1000|   30| 31|             college|  male|
|xqd20160030|     1000|   30| 33|             college|  male|
|xqd88160031|      800|   15| 33|High School or Below|  male|
|xqd20160032|     1000|   30| 37|             college|  male|
|xqd22169034|     1000|   30| 37|             college|  male|
|xqd20160035|      800|   15| 33|             college|  male|
|xqd20160038|      700|   15| 33|High School or Below|  male|
|xqd20160041|     1000|   15| 32|             college|female|
|xqd20160043|     1000|    7| 31|            Bechalor|  male|
+-----------+---------+-----+---+--------------------+------+
only showing top 20 rows

In [14]:
#filter ages between 30 and 50...(showing only selected columns...) and operation..
df.filter("age>30 and age<50").select(['Loan_ID','age']).show()

+-----------+---+
|    Loan_ID|age|
+-----------+---+
|xqd20166231| 45|
|xqd20160003| 33|
|xqd20160706| 35|
|xqd20160008| 36|
|xqd20160012| 39|
|xqd20160017| 40|
|xqd20160018| 32|
|xqd20160019| 32|
|xqd20160022| 43|
|xqd20160027| 39|
|xqd20170088| 34|
|xqd20160029| 31|
|xqd20160030| 33|
|xqd88160031| 33|
|xqd20160032| 37|
|xqd22169034| 37|
|xqd20160035| 33|
|xqd20160038| 33|
|xqd20160041| 32|
|xqd20160043| 31|
+-----------+---+
only showing top 20 rows

In [15]:
#age 30 rows..............== operation..
df.filter("age==30").show()

+-----------+---------+-----+---+--------------------+------+
|    Loan_ID|Principal|terms|age|           education|Gender|
+-----------+---------+-----+---+--------------------+------+
|xqd20160042|      800|   15| 30|             college|  male|
|xqd20160044|     1000|   15| 30|             college|  male|
|xqd20160076|     1000|   30| 30|High School or Below|  male|
|xqd20160103|     1000|   30| 30|             college|  male|
|xqd20160106|     1000|   30| 30|             college|  male|
|xqd20160136|     1000|   30| 30|High School or Below|  male|
|xqd20160145|     1000|   30| 30|High School or Below|  male|
|xqd20160154|     1000|   15| 30|             college|  male|
|xqd20160178|     1000|   30| 30|             college|  male|
|xqd20160184|      800|   15| 30|High School or Below|  male|
|xqd20160192|     1000|   30| 30|High School or Below|  male|
|xqd20160201|     1000|   15| 30|             college|  male|
|xqd20160212|     1000|   30| 30|High School or Below|  male|
|xqd20160224|     1000|   15| 30|High School or Below|  male|
|xqd20160236|     1000|   30| 30|High School or Below|  male|
|xqd20160237|     1000|   30| 30|             college|  male|
|xqd20160244|      800|   15| 30|High School or Below|female|
|xqd20160264|     1000|   15| 30|High School or Below|  male|
|xqd20160275|     1000|   30| 30|            Bechalor|  male|
|xqd20160283|     1000|   30| 30|             college|  male|
+-----------+---------+-----+---+--------------------+------+
only showing top 20 rows

In [16]:
#2 conditions on 2 columns....and operation..
df.filter("age>30 and Principal>30").show()

+-----------+---------+-----+---+--------------------+------+
|    Loan_ID|Principal|terms|age|           education|Gender|
+-----------+---------+-----+---+--------------------+------+
|xqd20166231|     1000|   30| 45|High School or Below|  male|
|xqd20168902|     1000|   30| 50|            Bechalor|female|
|xqd20160003|     1000|   30| 33|            Bechalor|female|
|xqd20160706|      300|    7| 35|     Master or Above|  male|
|xqd20160008|     1000|   30| 36|             college|  male|
|xqd20160012|     1000|   15| 39|High School or Below|  male|
|xqd20160017|     1000|   30| 40|High School or Below|  male|
|xqd20160018|     1000|   15| 32|High School or Below|  male|
|xqd20160019|     1000|   30| 32|High School or Below|  male|
|xqd20160022|     1000|   30| 43|High School or Below|female|
|xqd20160027|      800|   15| 39|            Bechalor|  male|
|xqd20170088|     1000|   15| 34|            Bechalor|  male|
|xqd20160029|     1000|   30| 31|             college|  male|
|xqd20160030|     1000|   30| 33|             college|  male|
|xqd88160031|      800|   15| 33|High School or Below|  male|
|xqd20160032|     1000|   30| 37|             college|  male|
|xqd22169034|     1000|   30| 37|             college|  male|
|xqd20160035|      800|   15| 33|             college|  male|
|xqd20160038|      700|   15| 33|High School or Below|  male|
|xqd20160041|     1000|   15| 32|             college|female|
+-----------+---------+-----+---+--------------------+------+
only showing top 20 rows

In [17]:
#2 conditions on 2 columns....(show selected columns..) and operation..
df.filter("age>30 and Principal>30").select(['Loan_ID','Principal','age']).show()

+-----------+---------+---+
|    Loan_ID|Principal|age|
+-----------+---------+---+
|xqd20166231|     1000| 45|
|xqd20168902|     1000| 50|
|xqd20160003|     1000| 33|
|xqd20160706|      300| 35|
|xqd20160008|     1000| 36|
|xqd20160012|     1000| 39|
|xqd20160017|     1000| 40|
|xqd20160018|     1000| 32|
|xqd20160019|     1000| 32|
|xqd20160022|     1000| 43|
|xqd20160027|      800| 39|
|xqd20170088|     1000| 34|
|xqd20160029|     1000| 31|
|xqd20160030|     1000| 33|
|xqd88160031|      800| 33|
|xqd20160032|     1000| 37|
|xqd22169034|     1000| 37|
|xqd20160035|      800| 33|
|xqd20160038|      700| 33|
|xqd20160041|     1000| 32|
+-----------+---------+---+
only showing top 20 rows

In [18]:
#2 conditions on 2 columns....(show selected columns..) or operation..
df.filter("age>30 or Principal>30").select(['Loan_ID','Principal','age']).show()

+-----------+---------+---+
|    Loan_ID|Principal|age|
+-----------+---------+---+
|xqd20166231|     1000| 45|
|xqd20168902|     1000| 50|
|xqd20160003|     1000| 33|
|xqd20160004|     1000| 27|
|xqd20160005|     1000| 28|
|xqd20160706|      300| 35|
|xqd20160007|     1000| 29|
|xqd20160008|     1000| 36|
|xqd20160909|     1000| 28|
|xqd20160010|      800| 26|
|xqd20160011|      300| 29|
|xqd20160012|     1000| 39|
|xqd20160013|     1000| 26|
|xqd20160014|      900| 26|
|xqd20160015|     1000| 27|
|xqd20160016|      800| 26|
|xqd20160017|     1000| 40|
|xqd20160018|     1000| 32|
|xqd20160019|     1000| 32|
|xqd20160020|      800| 26|
+-----------+---------+---+
only showing top 20 rows

In [19]:
#2 conditions on 2 columns....(show selected columns..) not,and operatios.
df.filter("not(age>30) and Principal<30").select(['Loan_ID','Principal','age']).show()

+-------+---------+---+
|Loan_ID|Principal|age|
+-------+---------+---+
+-------+---------+---+

# Where clause

Implement the same codes for filter(). Because this "where()" is also same as that filter clause............

In [20]:
#age where less than 30.......rows
df.where("age<30").show()

+-----------+---------+-----+---+--------------------+------+
|    Loan_ID|Principal|terms|age|           education|Gender|
+-----------+---------+-----+---+--------------------+------+
|xqd20160004|     1000|   15| 27|             college|  male|
|xqd20160005|     1000|   30| 28|             college|female|
|xqd20160007|     1000|   30| 29|             college|  male|
|xqd20160909|     1000|   30| 28|             college|  male|
|xqd20160010|      800|   15| 26|             college|  male|
|xqd20160011|      300|    7| 29|             college|  male|
|xqd20160013|     1000|   30| 26|             college|  male|
|xqd20160014|      900|    7| 26|             college|female|
|xqd20160015|     1000|    7| 27|High School or Below|  male|
|xqd20160016|      800|   15| 26|             college|  male|
|xqd20160020|      800|   30| 26|             college|  male|
|xqd20160021|     1000|   30| 26|             college|  male|
|xqd20160023|     1000|   30| 25|High School or Below|  male|
|xqd20160024|     1000|   15| 26|             college|  male|
|xqd20160025|     1000|   30| 26|             college|  male|
|xqd20160026|     1000|   30| 29|High School or Below|  male|
|xqd20160033|     1000|   30| 27|             college|  male|
|xqd20160036|      800|   15| 29|            Bechalor|  male|
|xqd20160037|     1000|   30| 27|High School or Below|  male|
|xqd20160039|     1000|   15| 24|             college|  male|
+-----------+---------+-----+---+--------------------+------+
only showing top 20 rows

In [21]:
#ages where  between 30 and 50...and operation..
df.where("age>30 and age<50").show()

+-----------+---------+-----+---+--------------------+------+
|    Loan_ID|Principal|terms|age|           education|Gender|
+-----------+---------+-----+---+--------------------+------+
|xqd20166231|     1000|   30| 45|High School or Below|  male|
|xqd20160003|     1000|   30| 33|            Bechalor|female|
|xqd20160706|      300|    7| 35|     Master or Above|  male|
|xqd20160008|     1000|   30| 36|             college|  male|
|xqd20160012|     1000|   15| 39|High School or Below|  male|
|xqd20160017|     1000|   30| 40|High School or Below|  male|
|xqd20160018|     1000|   15| 32|High School or Below|  male|
|xqd20160019|     1000|   30| 32|High School or Below|  male|
|xqd20160022|     1000|   30| 43|High School or Below|female|
|xqd20160027|      800|   15| 39|            Bechalor|  male|
|xqd20170088|     1000|   15| 34|            Bechalor|  male|
|xqd20160029|     1000|   30| 31|             college|  male|
|xqd20160030|     1000|   30| 33|             college|  male|
|xqd88160031|      800|   15| 33|High School or Below|  male|
|xqd20160032|     1000|   30| 37|             college|  male|
|xqd22169034|     1000|   30| 37|             college|  male|
|xqd20160035|      800|   15| 33|             college|  male|
|xqd20160038|      700|   15| 33|High School or Below|  male|
|xqd20160041|     1000|   15| 32|             college|female|
|xqd20160043|     1000|    7| 31|            Bechalor|  male|
+-----------+---------+-----+---+--------------------+------+
only showing top 20 rows

In [22]:
#ages where  between 30 and 50...(showing only selected columns...) and operation..
df.where("age>30 and age<50").select(['Loan_ID','age']).show()

+-----------+---+
|    Loan_ID|age|
+-----------+---+
|xqd20166231| 45|
|xqd20160003| 33|
|xqd20160706| 35|
|xqd20160008| 36|
|xqd20160012| 39|
|xqd20160017| 40|
|xqd20160018| 32|
|xqd20160019| 32|
|xqd20160022| 43|
|xqd20160027| 39|
|xqd20170088| 34|
|xqd20160029| 31|
|xqd20160030| 33|
|xqd88160031| 33|
|xqd20160032| 37|
|xqd22169034| 37|
|xqd20160035| 33|
|xqd20160038| 33|
|xqd20160041| 32|
|xqd20160043| 31|
+-----------+---+
only showing top 20 rows

In [23]:
#age 30 rows..............== operation..
df.where("age==30").show()

+-----------+---------+-----+---+--------------------+------+
|    Loan_ID|Principal|terms|age|           education|Gender|
+-----------+---------+-----+---+--------------------+------+
|xqd20160042|      800|   15| 30|             college|  male|
|xqd20160044|     1000|   15| 30|             college|  male|
|xqd20160076|     1000|   30| 30|High School or Below|  male|
|xqd20160103|     1000|   30| 30|             college|  male|
|xqd20160106|     1000|   30| 30|             college|  male|
|xqd20160136|     1000|   30| 30|High School or Below|  male|
|xqd20160145|     1000|   30| 30|High School or Below|  male|
|xqd20160154|     1000|   15| 30|             college|  male|
|xqd20160178|     1000|   30| 30|             college|  male|
|xqd20160184|      800|   15| 30|High School or Below|  male|
|xqd20160192|     1000|   30| 30|High School or Below|  male|
|xqd20160201|     1000|   15| 30|             college|  male|
|xqd20160212|     1000|   30| 30|High School or Below|  male|
|xqd20160224|     1000|   15| 30|High School or Below|  male|
|xqd20160236|     1000|   30| 30|High School or Below|  male|
|xqd20160237|     1000|   30| 30|             college|  male|
|xqd20160244|      800|   15| 30|High School or Below|female|
|xqd20160264|     1000|   15| 30|High School or Below|  male|
|xqd20160275|     1000|   30| 30|            Bechalor|  male|
|xqd20160283|     1000|   30| 30|             college|  male|
+-----------+---------+-----+---+--------------------+------+
only showing top 20 rows

In [24]:
#2 conditions on 2 columns....and operation..
df.where("age>30 and Principal>30").show()

+-----------+---------+-----+---+--------------------+------+
|    Loan_ID|Principal|terms|age|           education|Gender|
+-----------+---------+-----+---+--------------------+------+
|xqd20166231|     1000|   30| 45|High School or Below|  male|
|xqd20168902|     1000|   30| 50|            Bechalor|female|
|xqd20160003|     1000|   30| 33|            Bechalor|female|
|xqd20160706|      300|    7| 35|     Master or Above|  male|
|xqd20160008|     1000|   30| 36|             college|  male|
|xqd20160012|     1000|   15| 39|High School or Below|  male|
|xqd20160017|     1000|   30| 40|High School or Below|  male|
|xqd20160018|     1000|   15| 32|High School or Below|  male|
|xqd20160019|     1000|   30| 32|High School or Below|  male|
|xqd20160022|     1000|   30| 43|High School or Below|female|
|xqd20160027|      800|   15| 39|            Bechalor|  male|
|xqd20170088|     1000|   15| 34|            Bechalor|  male|
|xqd20160029|     1000|   30| 31|             college|  male|
|xqd20160030|     1000|   30| 33|             college|  male|
|xqd88160031|      800|   15| 33|High School or Below|  male|
|xqd20160032|     1000|   30| 37|             college|  male|
|xqd22169034|     1000|   30| 37|             college|  male|
|xqd20160035|      800|   15| 33|             college|  male|
|xqd20160038|      700|   15| 33|High School or Below|  male|
|xqd20160041|     1000|   15| 32|             college|female|
+-----------+---------+-----+---+--------------------+------+
only showing top 20 rows

In [25]:
#2 conditions on 2 columns....(show selected columns..) and operation..
df.where("age>30 and Principal>30").select(['Loan_ID','Principal','age']).show()

+-----------+---------+---+
|    Loan_ID|Principal|age|
+-----------+---------+---+
|xqd20166231|     1000| 45|
|xqd20168902|     1000| 50|
|xqd20160003|     1000| 33|
|xqd20160706|      300| 35|
|xqd20160008|     1000| 36|
|xqd20160012|     1000| 39|
|xqd20160017|     1000| 40|
|xqd20160018|     1000| 32|
|xqd20160019|     1000| 32|
|xqd20160022|     1000| 43|
|xqd20160027|      800| 39|
|xqd20170088|     1000| 34|
|xqd20160029|     1000| 31|
|xqd20160030|     1000| 33|
|xqd88160031|      800| 33|
|xqd20160032|     1000| 37|
|xqd22169034|     1000| 37|
|xqd20160035|      800| 33|
|xqd20160038|      700| 33|
|xqd20160041|     1000| 32|
+-----------+---------+---+
only showing top 20 rows

In [26]:
#2 conditions on 2 columns....(show selected columns..) or operation..
df.where("age>30 or Principal>30").select(['Loan_ID','Principal','age']).show()

+-----------+---------+---+
|    Loan_ID|Principal|age|
+-----------+---------+---+
|xqd20166231|     1000| 45|
|xqd20168902|     1000| 50|
|xqd20160003|     1000| 33|
|xqd20160004|     1000| 27|
|xqd20160005|     1000| 28|
|xqd20160706|      300| 35|
|xqd20160007|     1000| 29|
|xqd20160008|     1000| 36|
|xqd20160909|     1000| 28|
|xqd20160010|      800| 26|
|xqd20160011|      300| 29|
|xqd20160012|     1000| 39|
|xqd20160013|     1000| 26|
|xqd20160014|      900| 26|
|xqd20160015|     1000| 27|
|xqd20160016|      800| 26|
|xqd20160017|     1000| 40|
|xqd20160018|     1000| 32|
|xqd20160019|     1000| 32|
|xqd20160020|      800| 26|
+-----------+---------+---+
only showing top 20 rows

In [29]:
#2 conditions on 2 columns....(show selected columns..) not,and operatios.
df.where("not(age>30) and Principal>20").select(['Loan_ID','Principal','age']).show()

+-----------+---------+---+
|    Loan_ID|Principal|age|
+-----------+---------+---+
|xqd20160004|     1000| 27|
|xqd20160005|     1000| 28|
|xqd20160007|     1000| 29|
|xqd20160909|     1000| 28|
|xqd20160010|      800| 26|
|xqd20160011|      300| 29|
|xqd20160013|     1000| 26|
|xqd20160014|      900| 26|
|xqd20160015|     1000| 27|
|xqd20160016|      800| 26|
|xqd20160020|      800| 26|
|xqd20160021|     1000| 26|
|xqd20160023|     1000| 25|
|xqd20160024|     1000| 26|
|xqd20160025|     1000| 26|
|xqd20160026|     1000| 29|
|xqd20160033|     1000| 27|
|xqd20160036|      800| 29|
|xqd20160037|     1000| 27|
|xqd20160039|     1000| 24|
+-----------+---------+---+
only showing top 20 rows