In [1]:
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.getOrCreate()

C:\Users\RAVI\anaconda3\envs\vizuamatix\lib\site-packages\pyspark\context.py:227: DeprecationWarning: Support for Python 2 and Python 3 prior to version 3.6 is deprecated as of Spark 3.0. See also the plan for dropping Python 2 support at https://spark.apache.org/news/plan-for-dropping-python-2-support.html.
  DeprecationWarning)

In [3]:
df=spark.read.csv("E:\Desktop\Datasets\Loan payments data.csv",header=True)

In [4]:
df.show()

+-----------+-----------+---------+-----+--------------+---------+---------------+-------------+---+--------------------+------+
|    Loan_ID|loan_status|Principal|terms|effective_date| due_date|  paid_off_time|past_due_days|age|           education|Gender|
+-----------+-----------+---------+-----+--------------+---------+---------------+-------------+---+--------------------+------+
|xqd20166231|    PAIDOFF|     1000|   30|      9/8/2016|10/7/2016|9/14/2016 19:31|         null| 45|High School or Below|  male|
|xqd20168902|    PAIDOFF|     1000|   30|      9/8/2016|10/7/2016| 10/7/2016 9:00|         null| 50|            Bechalor|female|
|xqd20160003|    PAIDOFF|     1000|   30|      9/8/2016|10/7/2016|9/25/2016 16:58|         null| 33|            Bechalor|female|
|xqd20160004|    PAIDOFF|     1000|   15|      9/8/2016|9/22/2016|9/22/2016 20:00|         null| 27|             college|  male|
|xqd20160005|    PAIDOFF|     1000|   30|      9/9/2016|10/8/2016|9/23/2016 21:36|         null| 28|             college|female|
|xqd20160706|    PAIDOFF|      300|    7|      9/9/2016|9/15/2016| 9/9/2016 13:45|         null| 35|     Master or Above|  male|
|xqd20160007|    PAIDOFF|     1000|   30|      9/9/2016|10/8/2016|10/7/2016 23:07|         null| 29|             college|  male|
|xqd20160008|    PAIDOFF|     1000|   30|      9/9/2016|10/8/2016|10/5/2016 20:33|         null| 36|             college|  male|
|xqd20160909|    PAIDOFF|     1000|   30|      9/9/2016|10/8/2016|10/8/2016 16:00|         null| 28|             college|  male|
|xqd20160010|    PAIDOFF|      800|   15|     9/10/2016|9/24/2016|9/24/2016 13:00|         null| 26|             college|  male|
|xqd20160011|    PAIDOFF|      300|    7|     9/10/2016|9/16/2016|9/11/2016 19:11|         null| 29|             college|  male|
|xqd20160012|    PAIDOFF|     1000|   15|     9/10/2016|10/9/2016|10/9/2016 16:00|         null| 39|High School or Below|  male|
|xqd20160013|    PAIDOFF|     1000|   30|     9/10/2016|10/9/2016|10/7/2016 23:32|         null| 26|             college|  male|
|xqd20160014|    PAIDOFF|      900|    7|     9/10/2016|9/16/2016|9/13/2016 21:57|         null| 26|             college|female|
|xqd20160015|    PAIDOFF|     1000|    7|     9/10/2016|9/16/2016|9/15/2016 14:27|         null| 27|High School or Below|  male|
|xqd20160016|    PAIDOFF|      800|   15|     9/10/2016|9/24/2016|9/24/2016 16:00|         null| 26|             college|  male|
|xqd20160017|    PAIDOFF|     1000|   30|     9/10/2016|10/9/2016|9/27/2016 14:21|         null| 40|High School or Below|  male|
|xqd20160018|    PAIDOFF|     1000|   15|     9/10/2016|9/24/2016|9/23/2016 18:49|         null| 32|High School or Below|  male|
|xqd20160019|    PAIDOFF|     1000|   30|     9/10/2016|10/9/2016|10/5/2016 22:05|         null| 32|High School or Below|  male|
|xqd20160020|    PAIDOFF|      800|   30|     9/10/2016|10/9/2016| 9/23/2016 7:42|         null| 26|             college|  male|
+-----------+-----------+---------+-----+--------------+---------+---------------+-------------+---+--------------------+------+
only showing top 20 rows

In [5]:
df.columns

['Loan_ID',
 'loan_status',
 'Principal',
 'terms',
 'effective_date',
 'due_date',
 'paid_off_time',
 'past_due_days',
 'age',
 'education',
 'Gender']

In [6]:
#convert age datatype to integer.....
df=df.withColumn("age",df.age.cast('int'))

In [7]:
#convert terms datatype to integer.....
df=df.withColumn("terms",df.age.cast('int'))

In [8]:
#convert Principal datatype to integer.....
df=df.withColumn("Principal",df.age.cast('int'))

In [9]:
df.dtypes

[('Loan_ID', 'string'),
 ('loan_status', 'string'),
 ('Principal', 'int'),
 ('terms', 'int'),
 ('effective_date', 'string'),
 ('due_date', 'string'),
 ('paid_off_time', 'string'),
 ('past_due_days', 'string'),
 ('age', 'int'),
 ('education', 'string'),
 ('Gender', 'string')]

# running sql queries in spark....

In [10]:
df.createOrReplaceTempView("loan")

In [11]:
spark.sql("select * from loan").show()

+-----------+-----------+---------+-----+--------------+---------+---------------+-------------+---+--------------------+------+
|    Loan_ID|loan_status|Principal|terms|effective_date| due_date|  paid_off_time|past_due_days|age|           education|Gender|
+-----------+-----------+---------+-----+--------------+---------+---------------+-------------+---+--------------------+------+
|xqd20166231|    PAIDOFF|       45|   45|      9/8/2016|10/7/2016|9/14/2016 19:31|         null| 45|High School or Below|  male|
|xqd20168902|    PAIDOFF|       50|   50|      9/8/2016|10/7/2016| 10/7/2016 9:00|         null| 50|            Bechalor|female|
|xqd20160003|    PAIDOFF|       33|   33|      9/8/2016|10/7/2016|9/25/2016 16:58|         null| 33|            Bechalor|female|
|xqd20160004|    PAIDOFF|       27|   27|      9/8/2016|9/22/2016|9/22/2016 20:00|         null| 27|             college|  male|
|xqd20160005|    PAIDOFF|       28|   28|      9/9/2016|10/8/2016|9/23/2016 21:36|         null| 28|             college|female|
|xqd20160706|    PAIDOFF|       35|   35|      9/9/2016|9/15/2016| 9/9/2016 13:45|         null| 35|     Master or Above|  male|
|xqd20160007|    PAIDOFF|       29|   29|      9/9/2016|10/8/2016|10/7/2016 23:07|         null| 29|             college|  male|
|xqd20160008|    PAIDOFF|       36|   36|      9/9/2016|10/8/2016|10/5/2016 20:33|         null| 36|             college|  male|
|xqd20160909|    PAIDOFF|       28|   28|      9/9/2016|10/8/2016|10/8/2016 16:00|         null| 28|             college|  male|
|xqd20160010|    PAIDOFF|       26|   26|     9/10/2016|9/24/2016|9/24/2016 13:00|         null| 26|             college|  male|
|xqd20160011|    PAIDOFF|       29|   29|     9/10/2016|9/16/2016|9/11/2016 19:11|         null| 29|             college|  male|
|xqd20160012|    PAIDOFF|       39|   39|     9/10/2016|10/9/2016|10/9/2016 16:00|         null| 39|High School or Below|  male|
|xqd20160013|    PAIDOFF|       26|   26|     9/10/2016|10/9/2016|10/7/2016 23:32|         null| 26|             college|  male|
|xqd20160014|    PAIDOFF|       26|   26|     9/10/2016|9/16/2016|9/13/2016 21:57|         null| 26|             college|female|
|xqd20160015|    PAIDOFF|       27|   27|     9/10/2016|9/16/2016|9/15/2016 14:27|         null| 27|High School or Below|  male|
|xqd20160016|    PAIDOFF|       26|   26|     9/10/2016|9/24/2016|9/24/2016 16:00|         null| 26|             college|  male|
|xqd20160017|    PAIDOFF|       40|   40|     9/10/2016|10/9/2016|9/27/2016 14:21|         null| 40|High School or Below|  male|
|xqd20160018|    PAIDOFF|       32|   32|     9/10/2016|9/24/2016|9/23/2016 18:49|         null| 32|High School or Below|  male|
|xqd20160019|    PAIDOFF|       32|   32|     9/10/2016|10/9/2016|10/5/2016 22:05|         null| 32|High School or Below|  male|
|xqd20160020|    PAIDOFF|       26|   26|     9/10/2016|10/9/2016| 9/23/2016 7:42|         null| 26|             college|  male|
+-----------+-----------+---------+-----+--------------+---------+---------------+-------------+---+--------------------+------+
only showing top 20 rows

In [12]:
spark.sql("select Loan_ID,age,Gender from loan").show()

+-----------+---+------+
|    Loan_ID|age|Gender|
+-----------+---+------+
|xqd20166231| 45|  male|
|xqd20168902| 50|female|
|xqd20160003| 33|female|
|xqd20160004| 27|  male|
|xqd20160005| 28|female|
|xqd20160706| 35|  male|
|xqd20160007| 29|  male|
|xqd20160008| 36|  male|
|xqd20160909| 28|  male|
|xqd20160010| 26|  male|
|xqd20160011| 29|  male|
|xqd20160012| 39|  male|
|xqd20160013| 26|  male|
|xqd20160014| 26|female|
|xqd20160015| 27|  male|
|xqd20160016| 26|  male|
|xqd20160017| 40|  male|
|xqd20160018| 32|  male|
|xqd20160019| 32|  male|
|xqd20160020| 26|  male|
+-----------+---+------+
only showing top 20 rows

In [13]:
#select,where
spark.sql("select Loan_ID,age from loan where age>30").show()

+-----------+---+
|    Loan_ID|age|
+-----------+---+
|xqd20166231| 45|
|xqd20168902| 50|
|xqd20160003| 33|
|xqd20160706| 35|
|xqd20160008| 36|
|xqd20160012| 39|
|xqd20160017| 40|
|xqd20160018| 32|
|xqd20160019| 32|
|xqd20160022| 43|
|xqd20160027| 39|
|xqd20170088| 34|
|xqd20160029| 31|
|xqd20160030| 33|
|xqd88160031| 33|
|xqd20160032| 37|
|xqd22169034| 37|
|xqd20160035| 33|
|xqd20160038| 33|
|xqd20160041| 32|
+-----------+---+
only showing top 20 rows

In [14]:
#select,where,and
spark.sql("select Loan_ID,age,Gender, terms from loan where age>30 and terms>15").show()

+-----------+---+------+-----+
|    Loan_ID|age|Gender|terms|
+-----------+---+------+-----+
|xqd20166231| 45|  male|   45|
|xqd20168902| 50|female|   50|
|xqd20160003| 33|female|   33|
|xqd20160706| 35|  male|   35|
|xqd20160008| 36|  male|   36|
|xqd20160012| 39|  male|   39|
|xqd20160017| 40|  male|   40|
|xqd20160018| 32|  male|   32|
|xqd20160019| 32|  male|   32|
|xqd20160022| 43|female|   43|
|xqd20160027| 39|  male|   39|
|xqd20170088| 34|  male|   34|
|xqd20160029| 31|  male|   31|
|xqd20160030| 33|  male|   33|
|xqd88160031| 33|  male|   33|
|xqd20160032| 37|  male|   37|
|xqd22169034| 37|  male|   37|
|xqd20160035| 33|  male|   33|
|xqd20160038| 33|  male|   33|
|xqd20160041| 32|female|   32|
+-----------+---+------+-----+
only showing top 20 rows

In [15]:
#select,where,or
spark.sql("select Loan_ID,age,Gender, terms from loan where age>30 or terms>15").show()

+-----------+---+------+-----+
|    Loan_ID|age|Gender|terms|
+-----------+---+------+-----+
|xqd20166231| 45|  male|   45|
|xqd20168902| 50|female|   50|
|xqd20160003| 33|female|   33|
|xqd20160004| 27|  male|   27|
|xqd20160005| 28|female|   28|
|xqd20160706| 35|  male|   35|
|xqd20160007| 29|  male|   29|
|xqd20160008| 36|  male|   36|
|xqd20160909| 28|  male|   28|
|xqd20160010| 26|  male|   26|
|xqd20160011| 29|  male|   29|
|xqd20160012| 39|  male|   39|
|xqd20160013| 26|  male|   26|
|xqd20160014| 26|female|   26|
|xqd20160015| 27|  male|   27|
|xqd20160016| 26|  male|   26|
|xqd20160017| 40|  male|   40|
|xqd20160018| 32|  male|   32|
|xqd20160019| 32|  male|   32|
|xqd20160020| 26|  male|   26|
+-----------+---+------+-----+
only showing top 20 rows

In [16]:
#select,where,not
spark.sql("select Loan_ID,age,Gender, terms from loan where not Gender=='male'").show()

+-----------+---+------+-----+
|    Loan_ID|age|Gender|terms|
+-----------+---+------+-----+
|xqd20168902| 50|female|   50|
|xqd20160003| 33|female|   33|
|xqd20160005| 28|female|   28|
|xqd20160014| 26|female|   26|
|xqd20160022| 43|female|   43|
|xqd20160041| 32|female|   32|
|xqd20160045| 24|female|   24|
|xqd20160051| 27|female|   27|
|xqd20160052| 35|female|   35|
|xqd20160053| 35|female|   35|
|xqd20160059| 44|female|   44|
|xqd20160073| 33|female|   33|
|xqd20160079| 37|female|   37|
|xqd20160080| 44|female|   44|
|xqd20160085| 37|female|   37|
|xqd20160087| 24|female|   24|
|xqd20160088| 27|female|   27|
|xqd90160090| 46|female|   46|
|xqd91160291| 34|female|   34|
|xqd90160092| 32|female|   32|
+-----------+---+------+-----+
only showing top 20 rows

In [17]:
#order by
spark.sql("select Loan_ID,age,Gender, terms from loan where not Gender=='male' order by age").show()

+-----------+---+------+-----+
|    Loan_ID|age|Gender|terms|
+-----------+---+------+-----+
|xqd20160246| 19|female|   19|
|xqd20160417| 21|female|   21|
|xqd20160153| 23|female|   23|
|xqd20160263| 23|female|   23|
|xqd20160087| 24|female|   24|
|xqd20160329| 24|female|   24|
|xqd20160045| 24|female|   24|
|xqd20160439| 25|female|   25|
|xqd20160193| 25|female|   25|
|xqd20160202| 26|female|   26|
|xqd20160014| 26|female|   26|
|xqd20160206| 26|female|   26|
|xqd20160312| 26|female|   26|
|xqd20160475| 26|female|   26|
|xqd20160147| 26|female|   26|
|xqd20160376| 26|female|   26|
|xqd20160444| 26|female|   26|
|xqd20160112| 27|female|   27|
|xqd20160088| 27|female|   27|
|xqd28160164| 27|female|   27|
+-----------+---+------+-----+
only showing top 20 rows

In [18]:
df.columns

['Loan_ID',
 'loan_status',
 'Principal',
 'terms',
 'effective_date',
 'due_date',
 'paid_off_time',
 'past_due_days',
 'age',
 'education',
 'Gender']

In [19]:
df.dtypes

[('Loan_ID', 'string'),
 ('loan_status', 'string'),
 ('Principal', 'int'),
 ('terms', 'int'),
 ('effective_date', 'string'),
 ('due_date', 'string'),
 ('paid_off_time', 'string'),
 ('past_due_days', 'string'),
 ('age', 'int'),
 ('education', 'string'),
 ('Gender', 'string')]

In [20]:
#insert into
#spark.sql("insert into loan values('xqd28160194','PAIDOFF',900,30,'9/18/2016','10/17/2016','9/4/2016','19:40','9/4/2016',48,'High School or Below','male')")

In [21]:
#max
spark.sql("select max(age) from loan where Gender='male'").show()

+--------+
|max(age)|
+--------+
|      51|
+--------+

In [22]:
#min
spark.sql("select min(age) from loan where Gender='male'").show()

+--------+
|min(age)|
+--------+
|      18|
+--------+

In [23]:
#count
spark.sql("select count(age) from loan where Gender='female'").show()

+----------+
|count(age)|
+----------+
|        77|
+----------+

In [24]:
#avg
spark.sql("select avg(age) from loan where Gender='female'").show()

+------------------+
|          avg(age)|
+------------------+
|31.883116883116884|
+------------------+

In [25]:
#sum
spark.sql("select sum(age) from loan where Gender='female'").show()

+--------+
|sum(age)|
+--------+
|    2455|
+--------+

In [26]:
#like
spark.sql("select Loan_ID,age,Gender,education from loan where education like '%High%' ").show()

+-----------+---+------+--------------------+
|    Loan_ID|age|Gender|           education|
+-----------+---+------+--------------------+
|xqd20166231| 45|  male|High School or Below|
|xqd20160012| 39|  male|High School or Below|
|xqd20160015| 27|  male|High School or Below|
|xqd20160017| 40|  male|High School or Below|
|xqd20160018| 32|  male|High School or Below|
|xqd20160019| 32|  male|High School or Below|
|xqd20160022| 43|female|High School or Below|
|xqd20160023| 25|  male|High School or Below|
|xqd20160026| 29|  male|High School or Below|
|xqd88160031| 33|  male|High School or Below|
|xqd20160037| 27|  male|High School or Below|
|xqd20160038| 33|  male|High School or Below|
|xqd20160046| 35|  male|High School or Below|
|xqd20160047| 22|  male|High School or Below|
|xqd20160050| 50|  male|High School or Below|
|xqd20160054| 34|  male|High School or Below|
|xqd20160055| 21|  male|High School or Below|
|xqd20160057| 27|  male|High School or Below|
|xqd20160059| 44|female|High School or Below|
|xqd20160063| 34|  male|High School or Below|
+-----------+---+------+--------------------+
only showing top 20 rows

In [27]:
#in
spark.sql("select Loan_ID,Gender,education from loan where education in ('Bechalor','college')").show()

+-----------+------+---------+
|    Loan_ID|Gender|education|
+-----------+------+---------+
|xqd20168902|female| Bechalor|
|xqd20160003|female| Bechalor|
|xqd20160004|  male|  college|
|xqd20160005|female|  college|
|xqd20160007|  male|  college|
|xqd20160008|  male|  college|
|xqd20160909|  male|  college|
|xqd20160010|  male|  college|
|xqd20160011|  male|  college|
|xqd20160013|  male|  college|
|xqd20160014|female|  college|
|xqd20160016|  male|  college|
|xqd20160020|  male|  college|
|xqd20160021|  male|  college|
|xqd20160024|  male|  college|
|xqd20160025|  male|  college|
|xqd20160027|  male| Bechalor|
|xqd20170088|  male| Bechalor|
|xqd20160029|  male|  college|
|xqd20160030|  male|  college|
+-----------+------+---------+
only showing top 20 rows

In [28]:
#between
spark.sql("select Loan_ID,age,Gender,education from loan where age between 20 and 40").show()

+-----------+---+------+--------------------+
|    Loan_ID|age|Gender|           education|
+-----------+---+------+--------------------+
|xqd20160003| 33|female|            Bechalor|
|xqd20160004| 27|  male|             college|
|xqd20160005| 28|female|             college|
|xqd20160706| 35|  male|     Master or Above|
|xqd20160007| 29|  male|             college|
|xqd20160008| 36|  male|             college|
|xqd20160909| 28|  male|             college|
|xqd20160010| 26|  male|             college|
|xqd20160011| 29|  male|             college|
|xqd20160012| 39|  male|High School or Below|
|xqd20160013| 26|  male|             college|
|xqd20160014| 26|female|             college|
|xqd20160015| 27|  male|High School or Below|
|xqd20160016| 26|  male|             college|
|xqd20160017| 40|  male|High School or Below|
|xqd20160018| 32|  male|High School or Below|
|xqd20160019| 32|  male|High School or Below|
|xqd20160020| 26|  male|             college|
|xqd20160021| 26|  male|             college|
|xqd20160023| 25|  male|High School or Below|
+-----------+---+------+--------------------+
only showing top 20 rows

In [29]:
#as(alias)
spark.sql("select age as customer_age,education as education_qualification from loan").show()

+------------+-----------------------+
|customer_age|education_qualification|
+------------+-----------------------+
|          45|   High School or Below|
|          50|               Bechalor|
|          33|               Bechalor|
|          27|                college|
|          28|                college|
|          35|        Master or Above|
|          29|                college|
|          36|                college|
|          28|                college|
|          26|                college|
|          29|                college|
|          39|   High School or Below|
|          26|                college|
|          26|                college|
|          27|   High School or Below|
|          26|                college|
|          40|   High School or Below|
|          32|   High School or Below|
|          32|   High School or Below|
|          26|                college|
+------------+-----------------------+
only showing top 20 rows

In [30]:
#group by
spark.sql("select count(age),education from loan group by education").show()

+----------+--------------------+
|count(age)|           education|
+----------+--------------------+
|       220|             college|
|         4|     Master or Above|
|        67|            Bechalor|
|       209|High School or Below|
+----------+--------------------+