In [1]:
#import spark session
from pyspark.sql import SparkSession

In [2]:
#create spark session
spark=SparkSession.builder.getOrCreate()

C:\Users\RAVI\anaconda3\envs\vizuamatix\lib\site-packages\pyspark\context.py:227: DeprecationWarning: Support for Python 2 and Python 3 prior to version 3.6 is deprecated as of Spark 3.0. See also the plan for dropping Python 2 support at https://spark.apache.org/news/plan-for-dropping-python-2-support.html.
  DeprecationWarning)

In [3]:
#create the dataframe...
df=spark.read.csv("E:\Desktop\Datasets\Loan payments data.csv",header=True)

In [4]:
df.show(5)

+-----------+-----------+---------+-----+--------------+---------+---------------+-------------+---+--------------------+------+
|    Loan_ID|loan_status|Principal|terms|effective_date| due_date|  paid_off_time|past_due_days|age|           education|Gender|
+-----------+-----------+---------+-----+--------------+---------+---------------+-------------+---+--------------------+------+
|xqd20166231|    PAIDOFF|     1000|   30|      9/8/2016|10/7/2016|9/14/2016 19:31|         null| 45|High School or Below|  male|
|xqd20168902|    PAIDOFF|     1000|   30|      9/8/2016|10/7/2016| 10/7/2016 9:00|         null| 50|            Bechalor|female|
|xqd20160003|    PAIDOFF|     1000|   30|      9/8/2016|10/7/2016|9/25/2016 16:58|         null| 33|            Bechalor|female|
|xqd20160004|    PAIDOFF|     1000|   15|      9/8/2016|9/22/2016|9/22/2016 20:00|         null| 27|             college|  male|
|xqd20160005|    PAIDOFF|     1000|   30|      9/9/2016|10/8/2016|9/23/2016 21:36|         null| 28|             college|female|
+-----------+-----------+---------+-----+--------------+---------+---------------+-------------+---+--------------------+------+
only showing top 5 rows

In [5]:
#convert age datatype to integer.....
df=df.withColumn("age",df.age.cast('int'))

In [6]:
#convert Principal datatype to integer.....
df=df.withColumn("Principal",df.Principal.cast('int'))

In [7]:
#convert Principal datatype to integer.....
df=df.withColumn("terms",df.terms.cast('int'))

In [8]:
df.dtypes

[('Loan_ID', 'string'),
 ('loan_status', 'string'),
 ('Principal', 'int'),
 ('terms', 'int'),
 ('effective_date', 'string'),
 ('due_date', 'string'),
 ('paid_off_time', 'string'),
 ('past_due_days', 'string'),
 ('age', 'int'),
 ('education', 'string'),
 ('Gender', 'string')]

# group by

In [9]:
df.groupby('age').count().show()

+---+-----+
|age|count|
+---+-----+
| 31|   22|
| 34|   25|
| 28|   32|
| 27|   38|
| 26|   46|
| 44|    4|
| 22|    8|
| 47|    3|
| 40|    8|
| 20|    4|
| 19|    2|
| 41|    5|
| 43|    5|
| 37|   19|
| 35|   26|
| 39|   10|
| 23|   10|
| 49|    1|
| 51|    1|
| 50|    4|
+---+-----+
only showing top 20 rows

In [10]:
df.groupby('education').sum('terms').show()

+--------------------+----------+
|           education|sum(terms)|
+--------------------+----------+
|             college|      4991|
|     Master or Above|        44|
|            Bechalor|      1438|
|High School or Below|      4939|
+--------------------+----------+

In [11]:
df.groupby('education').max('terms').show()

+--------------------+----------+
|           education|max(terms)|
+--------------------+----------+
|             college|        30|
|     Master or Above|        15|
|            Bechalor|        30|
|High School or Below|        30|
+--------------------+----------+

In [12]:
df.groupby('education').max('age').show()

+--------------------+--------+
|           education|max(age)|
+--------------------+--------+
|             college|      51|
|     Master or Above|      50|
|            Bechalor|      50|
|High School or Below|      50|
+--------------------+--------+

In [13]:
df.groupby('education').min('age').show()

+--------------------+--------+
|           education|min(age)|
+--------------------+--------+
|             college|      18|
|     Master or Above|      35|
|            Bechalor|      21|
|High School or Below|      19|
+--------------------+--------+

In [14]:
df.groupby('education').mean('age').show()

+--------------------+------------------+
|           education|          avg(age)|
+--------------------+------------------+
|             college| 30.39090909090909|
|     Master or Above|             40.25|
|            Bechalor|32.134328358208954|
|High School or Below| 31.37799043062201|
+--------------------+------------------+

In [15]:
df.groupby('loan_status').count().show()

+------------------+-----+
|       loan_status|count|
+------------------+-----+
|        COLLECTION|  100|
|COLLECTION_PAIDOFF|  100|
|           PAIDOFF|  300|
+------------------+-----+

In [16]:
df.groupby('Gender').count().show()

+------+-----+
|Gender|count|
+------+-----+
|female|   77|
|  male|  423|
+------+-----+

In [17]:
df.groupby('effective_date').count().show()

+--------------+-----+
|effective_date|count|
+--------------+-----+
|     9/14/2016|   33|
|      9/9/2016|   15|
|     9/13/2016|   23|
|     9/10/2016|   46|
|     9/12/2016|  148|
|     9/11/2016|  231|
|      9/8/2016|    4|
+--------------+-----+

In [18]:
df.groupby('effective_date').max('age').show()

+--------------+--------+
|effective_date|max(age)|
+--------------+--------+
|     9/14/2016|      44|
|      9/9/2016|      39|
|     9/13/2016|      51|
|     9/10/2016|      43|
|     9/12/2016|      50|
|     9/11/2016|      50|
|      9/8/2016|      50|
+--------------+--------+

In [19]:
df.groupby('effective_date').min('age').show()

+--------------+--------+
|effective_date|min(age)|
+--------------+--------+
|     9/14/2016|      24|
|      9/9/2016|      24|
|     9/13/2016|      19|
|     9/10/2016|      20|
|     9/12/2016|      20|
|     9/11/2016|      18|
|      9/8/2016|      27|
+--------------+--------+

In [20]:
df.groupby('due_date').count().show()

+----------+-----+
|  due_date|count|
+----------+-----+
|10/12/2016|    8|
| 9/26/2016|   60|
|10/11/2016|   69|
| 10/7/2016|    3|
| 11/7/2016|    1|
| 9/19/2016|    3|
|10/13/2016|   21|
|11/12/2016|    2|
| 9/23/2016|    6|
|11/10/2016|   10|
| 10/8/2016|    7|
|10/26/2016|    4|
| 9/25/2016|   87|
| 9/24/2016|   17|
| 10/9/2016|   28|
| 9/15/2016|    1|
|10/25/2016|    4|
|10/10/2016|  123|
| 9/18/2016|    4|
| 9/22/2016|    1|
+----------+-----+
only showing top 20 rows

In [21]:
from pyspark.sql.functions import col
df.groupby(col('age')).count().show()

+---+-----+
|age|count|
+---+-----+
| 31|   22|
| 34|   25|
| 28|   32|
| 27|   38|
| 26|   46|
| 44|    4|
| 22|    8|
| 47|    3|
| 40|    8|
| 20|    4|
| 19|    2|
| 41|    5|
| 43|    5|
| 37|   19|
| 35|   26|
| 39|   10|
| 23|   10|
| 49|    1|
| 51|    1|
| 50|    4|
+---+-----+
only showing top 20 rows

# order by

In [22]:
#order by Ascending order....
df.select('Loan_ID','age').orderBy(col('age').asc()).show()

+-----------+---+
|    Loan_ID|age|
+-----------+---+
|xqd20160372| 18|
|xqd20160260| 19|
|xqd20160246| 19|
|xqd56160140| 20|
|xqd20160314| 20|
|xqd20160123| 20|
|xqd20160205| 20|
|xqd20160055| 21|
|xqd20160412| 21|
|xqd20160333| 21|
|xqd20160040| 21|
|xqd20160195| 21|
|xqd20160417| 21|
|xqd20160179| 21|
|xqd20160047| 22|
|xqd20160099| 22|
|xqd20160122| 22|
|xqd20160319| 22|
|xqd20160138| 22|
|xqd20160365| 22|
+-----------+---+
only showing top 20 rows

In [23]:
#order by Descending order....
df.select('Loan_ID','age').orderBy(col('age').desc()).show()

+-----------+---+
|    Loan_ID|age|
+-----------+---+
|xqd20160261| 51|
|xqd20168902| 50|
|xqd20160217| 50|
|xqd20160050| 50|
|xqd20160343| 50|
|xqd20169466| 49|
|xqd20160421| 47|
|xqd20160483| 47|
|xqd20160139| 47|
|xqd90160090| 46|
|xqd20160477| 46|
|xqd20160387| 46|
|xqd20160180| 46|
|xqd20160487| 46|
|xqd20160064| 45|
|xqd20160104| 45|
|xqd20160357| 45|
|xqd20166231| 45|
|xqd20160489| 45|
|xqd20160080| 44|
+-----------+---+
only showing top 20 rows

In [24]:
#both of asc & desc in multiple columns....
df.select('Loan_ID','age','education').orderBy(col('age').desc(),col('education').asc()).show()

+-----------+---+--------------------+
|    Loan_ID|age|           education|
+-----------+---+--------------------+
|xqd20160261| 51|             college|
|xqd20168902| 50|            Bechalor|
|xqd20160050| 50|High School or Below|
|xqd20160217| 50|High School or Below|
|xqd20160343| 50|     Master or Above|
|xqd20169466| 49|High School or Below|
|xqd20160139| 47|High School or Below|
|xqd20160421| 47|High School or Below|
|xqd20160483| 47|             college|
|xqd20160487| 46|High School or Below|
|xqd20160387| 46|High School or Below|
|xqd90160090| 46|High School or Below|
|xqd20160180| 46|             college|
|xqd20160477| 46|             college|
|xqd20166231| 45|High School or Below|
|xqd20160104| 45|High School or Below|
|xqd20160357| 45|High School or Below|
|xqd20160064| 45|             college|
|xqd20160489| 45|             college|
|xqd20160330| 44|            Bechalor|
+-----------+---+--------------------+
only showing top 20 rows

In [25]:
#both of asc & desc in multiple columns....
df.select('Loan_ID','age','education','due_date').orderBy(col('age').desc(),col('education').asc(),col('due_date').asc()).show()

+-----------+---+--------------------+----------+
|    Loan_ID|age|           education|  due_date|
+-----------+---+--------------------+----------+
|xqd20160261| 51|             college| 9/27/2016|
|xqd20168902| 50|            Bechalor| 10/7/2016|
|xqd20160050| 50|High School or Below| 9/25/2016|
|xqd20160217| 50|High School or Below| 9/26/2016|
|xqd20160343| 50|     Master or Above| 9/25/2016|
|xqd20169466| 49|High School or Below|10/11/2016|
|xqd20160139| 47|High School or Below| 9/25/2016|
|xqd20160421| 47|High School or Below| 9/25/2016|
|xqd20160483| 47|             college| 9/26/2016|
|xqd90160090| 46|High School or Below| 9/25/2016|
|xqd20160387| 46|High School or Below| 9/25/2016|
|xqd20160487| 46|High School or Below| 9/26/2016|
|xqd20160180| 46|             college|10/11/2016|
|xqd20160477| 46|             college|10/26/2016|
|xqd20160357| 45|High School or Below|10/10/2016|
|xqd20166231| 45|High School or Below| 10/7/2016|
|xqd20160104| 45|High School or Below| 9/25/2016|
|xqd20160064| 45|             college|10/10/2016|
|xqd20160489| 45|             college| 9/26/2016|
|xqd20160330| 44|            Bechalor|10/10/2016|
+-----------+---+--------------------+----------+
only showing top 20 rows

In [26]:
#groupby and orderby both.........
df=df.groupby('education').min('age')
df.select('education','min(age)').orderBy(col('education').asc()).show()

+--------------------+--------+
|           education|min(age)|
+--------------------+--------+
|            Bechalor|      21|
|High School or Below|      19|
|     Master or Above|      35|
|             college|      18|
+--------------------+--------+