In [1]:
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.getOrCreate()

C:\Users\RAVI\anaconda3\envs\vizuamatix\lib\site-packages\pyspark\context.py:227: DeprecationWarning: Support for Python 2 and Python 3 prior to version 3.6 is deprecated as of Spark 3.0. See also the plan for dropping Python 2 support at https://spark.apache.org/news/plan-for-dropping-python-2-support.html.
  DeprecationWarning)

In [3]:
df=spark.read.csv('E:\Desktop\Datasets\Loan payments data.csv',header=True)

In [4]:
df.show()

+-----------+-----------+---------+-----+--------------+---------+---------------+-------------+---+--------------------+------+
|    Loan_ID|loan_status|Principal|terms|effective_date| due_date|  paid_off_time|past_due_days|age|           education|Gender|
+-----------+-----------+---------+-----+--------------+---------+---------------+-------------+---+--------------------+------+
|xqd20166231|    PAIDOFF|     1000|   30|      9/8/2016|10/7/2016|9/14/2016 19:31|         null| 45|High School or Below|  male|
|xqd20168902|    PAIDOFF|     1000|   30|      9/8/2016|10/7/2016| 10/7/2016 9:00|         null| 50|            Bechalor|female|
|xqd20160003|    PAIDOFF|     1000|   30|      9/8/2016|10/7/2016|9/25/2016 16:58|         null| 33|            Bechalor|female|
|xqd20160004|    PAIDOFF|     1000|   15|      9/8/2016|9/22/2016|9/22/2016 20:00|         null| 27|             college|  male|
|xqd20160005|    PAIDOFF|     1000|   30|      9/9/2016|10/8/2016|9/23/2016 21:36|         null| 28|             college|female|
|xqd20160706|    PAIDOFF|      300|    7|      9/9/2016|9/15/2016| 9/9/2016 13:45|         null| 35|     Master or Above|  male|
|xqd20160007|    PAIDOFF|     1000|   30|      9/9/2016|10/8/2016|10/7/2016 23:07|         null| 29|             college|  male|
|xqd20160008|    PAIDOFF|     1000|   30|      9/9/2016|10/8/2016|10/5/2016 20:33|         null| 36|             college|  male|
|xqd20160909|    PAIDOFF|     1000|   30|      9/9/2016|10/8/2016|10/8/2016 16:00|         null| 28|             college|  male|
|xqd20160010|    PAIDOFF|      800|   15|     9/10/2016|9/24/2016|9/24/2016 13:00|         null| 26|             college|  male|
|xqd20160011|    PAIDOFF|      300|    7|     9/10/2016|9/16/2016|9/11/2016 19:11|         null| 29|             college|  male|
|xqd20160012|    PAIDOFF|     1000|   15|     9/10/2016|10/9/2016|10/9/2016 16:00|         null| 39|High School or Below|  male|
|xqd20160013|    PAIDOFF|     1000|   30|     9/10/2016|10/9/2016|10/7/2016 23:32|         null| 26|             college|  male|
|xqd20160014|    PAIDOFF|      900|    7|     9/10/2016|9/16/2016|9/13/2016 21:57|         null| 26|             college|female|
|xqd20160015|    PAIDOFF|     1000|    7|     9/10/2016|9/16/2016|9/15/2016 14:27|         null| 27|High School or Below|  male|
|xqd20160016|    PAIDOFF|      800|   15|     9/10/2016|9/24/2016|9/24/2016 16:00|         null| 26|             college|  male|
|xqd20160017|    PAIDOFF|     1000|   30|     9/10/2016|10/9/2016|9/27/2016 14:21|         null| 40|High School or Below|  male|
|xqd20160018|    PAIDOFF|     1000|   15|     9/10/2016|9/24/2016|9/23/2016 18:49|         null| 32|High School or Below|  male|
|xqd20160019|    PAIDOFF|     1000|   30|     9/10/2016|10/9/2016|10/5/2016 22:05|         null| 32|High School or Below|  male|
|xqd20160020|    PAIDOFF|      800|   30|     9/10/2016|10/9/2016| 9/23/2016 7:42|         null| 26|             college|  male|
+-----------+-----------+---------+-----+--------------+---------+---------------+-------------+---+--------------------+------+
only showing top 20 rows

In [5]:
#convert age datatype to integer.....
df=df.withColumn("age",df.age.cast('int'))

In [6]:
#convert Principal datatype to integer.....
df=df.withColumn("Principal",df.Principal.cast('int'))

In [7]:
#convert Principal datatype to integer.....
df=df.withColumn("terms",df.terms.cast('int'))

In [8]:
df.dtypes

[('Loan_ID', 'string'),
 ('loan_status', 'string'),
 ('Principal', 'int'),
 ('terms', 'int'),
 ('effective_date', 'string'),
 ('due_date', 'string'),
 ('paid_off_time', 'string'),
 ('past_due_days', 'string'),
 ('age', 'int'),
 ('education', 'string'),
 ('Gender', 'string')]

# averages of groups..

In [9]:
#education group
#age average of education groups...
df.groupBy('education').avg('age').show()

+--------------------+------------------+
|           education|          avg(age)|
+--------------------+------------------+
|             college| 30.39090909090909|
|     Master or Above|             40.25|
|            Bechalor|32.134328358208954|
|High School or Below| 31.37799043062201|
+--------------------+------------------+

In [10]:
#Gender group
#age average of gender groups...
df.groupBy('Gender').avg('age').show()

+------+------------------+
|Gender|          avg(age)|
+------+------------------+
|female|31.883116883116884|
|  male|30.976359338061467|
+------+------------------+

In [11]:
#loan_status group
#Principal average of loan_status groups...
df.groupBy('loan_status').avg('Principal').show()

+------------------+--------------+
|       loan_status|avg(Principal)|
+------------------+--------------+
|        COLLECTION|         954.0|
|COLLECTION_PAIDOFF|         957.0|
|           PAIDOFF|         935.0|
+------------------+--------------+

In [12]:
#loan_status group
#age average of loan_status groups...
df.groupBy('loan_status').avg('age').show()

+------------------+--------+
|       loan_status|avg(age)|
+------------------+--------+
|        COLLECTION|   30.61|
|COLLECTION_PAIDOFF|   31.34|
|           PAIDOFF|   31.21|
+------------------+--------+

In [13]:
#education group
#terms average of education groups...
df.groupBy('education').avg('terms').show()

+--------------------+------------------+
|           education|        avg(terms)|
+--------------------+------------------+
|             college|22.686363636363637|
|     Master or Above|              11.0|
|            Bechalor| 21.46268656716418|
|High School or Below| 23.63157894736842|
+--------------------+------------------+

In [14]:
#due_date group
#Principal average of due_date groups...
df.groupBy('due_date').avg('Principal').show()

+----------+-----------------+
|  due_date|   avg(Principal)|
+----------+-----------------+
|10/12/2016|            975.0|
| 9/26/2016|898.3333333333334|
|10/11/2016|997.1014492753624|
| 10/7/2016|           1000.0|
| 11/7/2016|           1000.0|
| 9/19/2016|833.3333333333334|
|10/13/2016| 980.952380952381|
|11/12/2016|           1000.0|
| 9/23/2016|            900.0|
|11/10/2016|           1000.0|
| 10/8/2016|           1000.0|
|10/26/2016|            950.0|
| 9/25/2016|882.7586206896551|
| 9/24/2016|917.6470588235294|
| 10/9/2016|978.5714285714286|
| 9/15/2016|            300.0|
|10/25/2016|           1000.0|
|10/10/2016|994.3089430894308|
| 9/18/2016|            475.0|
| 9/22/2016|           1000.0|
+----------+-----------------+
only showing top 20 rows

In [15]:
#terms group
#Principal average of terms groups...
df.groupBy('terms').avg('Principal').show()

+-----+-----------------+
|terms|   avg(Principal)|
+-----+-----------------+
|   15|893.7198067632851|
|    7|752.3809523809524|
|   30|995.5882352941177|
+-----+-----------------+

In [16]:
#effective_date group
#Principla average of effective_date groups....
df.groupBy('effective_date').avg('Principal').show()

+--------------+-----------------+
|effective_date|   avg(Principal)|
+--------------+-----------------+
|     9/14/2016|951.5151515151515|
|      9/9/2016|913.3333333333334|
|     9/13/2016| 908.695652173913|
|     9/10/2016|939.1304347826087|
|     9/12/2016|941.8918918918919|
|     9/11/2016|948.0519480519481|
|      9/8/2016|           1000.0|
+--------------+-----------------+

In [17]:
#age group
#average of terms for age groups.....
df.groupBy('age').avg('terms').show()

+---+------------------+
|age|        avg(terms)|
+---+------------------+
| 31|22.454545454545453|
| 34|             22.16|
| 28|            24.375|
| 27|23.657894736842106|
| 26|23.456521739130434|
| 44|              22.5|
| 22|              21.5|
| 47|              15.0|
| 40|            24.375|
| 20|             26.25|
| 19|              30.0|
| 41|              21.0|
| 43|              21.0|
| 37|23.263157894736842|
| 35|              21.0|
| 39|              19.5|
| 23|              20.2|
| 49|              30.0|
| 51|              15.0|
| 50|             18.75|
+---+------------------+
only showing top 20 rows