In [1]:
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.getOrCreate()

C:\Users\RAVI\anaconda3\envs\vizuamatix\lib\site-packages\pyspark\context.py:227: DeprecationWarning: Support for Python 2 and Python 3 prior to version 3.6 is deprecated as of Spark 3.0. See also the plan for dropping Python 2 support at https://spark.apache.org/news/plan-for-dropping-python-2-support.html.
  DeprecationWarning)

In [3]:
df=spark.read.csv('E:\Desktop\Datasets\Loan payments data.csv',header=True)

In [4]:
df.show()

+-----------+-----------+---------+-----+--------------+---------+---------------+-------------+---+--------------------+------+
|    Loan_ID|loan_status|Principal|terms|effective_date| due_date|  paid_off_time|past_due_days|age|           education|Gender|
+-----------+-----------+---------+-----+--------------+---------+---------------+-------------+---+--------------------+------+
|xqd20166231|    PAIDOFF|     1000|   30|      9/8/2016|10/7/2016|9/14/2016 19:31|         null| 45|High School or Below|  male|
|xqd20168902|    PAIDOFF|     1000|   30|      9/8/2016|10/7/2016| 10/7/2016 9:00|         null| 50|            Bechalor|female|
|xqd20160003|    PAIDOFF|     1000|   30|      9/8/2016|10/7/2016|9/25/2016 16:58|         null| 33|            Bechalor|female|
|xqd20160004|    PAIDOFF|     1000|   15|      9/8/2016|9/22/2016|9/22/2016 20:00|         null| 27|             college|  male|
|xqd20160005|    PAIDOFF|     1000|   30|      9/9/2016|10/8/2016|9/23/2016 21:36|         null| 28|             college|female|
|xqd20160706|    PAIDOFF|      300|    7|      9/9/2016|9/15/2016| 9/9/2016 13:45|         null| 35|     Master or Above|  male|
|xqd20160007|    PAIDOFF|     1000|   30|      9/9/2016|10/8/2016|10/7/2016 23:07|         null| 29|             college|  male|
|xqd20160008|    PAIDOFF|     1000|   30|      9/9/2016|10/8/2016|10/5/2016 20:33|         null| 36|             college|  male|
|xqd20160909|    PAIDOFF|     1000|   30|      9/9/2016|10/8/2016|10/8/2016 16:00|         null| 28|             college|  male|
|xqd20160010|    PAIDOFF|      800|   15|     9/10/2016|9/24/2016|9/24/2016 13:00|         null| 26|             college|  male|
|xqd20160011|    PAIDOFF|      300|    7|     9/10/2016|9/16/2016|9/11/2016 19:11|         null| 29|             college|  male|
|xqd20160012|    PAIDOFF|     1000|   15|     9/10/2016|10/9/2016|10/9/2016 16:00|         null| 39|High School or Below|  male|
|xqd20160013|    PAIDOFF|     1000|   30|     9/10/2016|10/9/2016|10/7/2016 23:32|         null| 26|             college|  male|
|xqd20160014|    PAIDOFF|      900|    7|     9/10/2016|9/16/2016|9/13/2016 21:57|         null| 26|             college|female|
|xqd20160015|    PAIDOFF|     1000|    7|     9/10/2016|9/16/2016|9/15/2016 14:27|         null| 27|High School or Below|  male|
|xqd20160016|    PAIDOFF|      800|   15|     9/10/2016|9/24/2016|9/24/2016 16:00|         null| 26|             college|  male|
|xqd20160017|    PAIDOFF|     1000|   30|     9/10/2016|10/9/2016|9/27/2016 14:21|         null| 40|High School or Below|  male|
|xqd20160018|    PAIDOFF|     1000|   15|     9/10/2016|9/24/2016|9/23/2016 18:49|         null| 32|High School or Below|  male|
|xqd20160019|    PAIDOFF|     1000|   30|     9/10/2016|10/9/2016|10/5/2016 22:05|         null| 32|High School or Below|  male|
|xqd20160020|    PAIDOFF|      800|   30|     9/10/2016|10/9/2016| 9/23/2016 7:42|         null| 26|             college|  male|
+-----------+-----------+---------+-----+--------------+---------+---------------+-------------+---+--------------------+------+
only showing top 20 rows

In [5]:
#convert age datatype to integer.....
df=df.withColumn("age",df.age.cast('int'))

In [6]:
#convert Principal datatype to integer.....
df=df.withColumn("Principal",df.Principal.cast('int'))

In [7]:
#convert Principal datatype to integer.....
df=df.withColumn("terms",df.terms.cast('int'))

In [8]:
df.dtypes

[('Loan_ID', 'string'),
 ('loan_status', 'string'),
 ('Principal', 'int'),
 ('terms', 'int'),
 ('effective_date', 'string'),
 ('due_date', 'string'),
 ('paid_off_time', 'string'),
 ('past_due_days', 'string'),
 ('age', 'int'),
 ('education', 'string'),
 ('Gender', 'string')]

## I will perform the summation and cumulative summation of Principal,terms and age for each group..

### Summation

In [9]:
#summation of Principal for each education group...
df.groupBy('education').sum('Principal').show()

+--------------------+--------------+
|           education|sum(Principal)|
+--------------------+--------------+
|             college|        207100|
|     Master or Above|          2400|
|            Bechalor|         63300|
|High School or Below|        198800|
+--------------------+--------------+

In [10]:
#summation of Principal for each Gender group...
df.groupBy('Gender').sum('Principal').show()

+------+--------------+
|Gender|sum(Principal)|
+------+--------------+
|female|         72800|
|  male|        398800|
+------+--------------+

In [11]:
#summation of Principal for each loan_status group...
df.groupBy('loan_status').sum('Principal').show()

+------------------+--------------+
|       loan_status|sum(Principal)|
+------------------+--------------+
|        COLLECTION|         95400|
|COLLECTION_PAIDOFF|         95700|
|           PAIDOFF|        280500|
+------------------+--------------+

In [12]:
#summation of Principal for each terms group...
df.groupBy('terms').sum('Principal').show()

+-----+--------------+
|terms|sum(Principal)|
+-----+--------------+
|   15|        185000|
|    7|         15800|
|   30|        270800|
+-----+--------------+

In [13]:
#summation of Principal for each age group...
df.groupBy('age').sum('Principal').show()

+---+--------------+
|age|sum(Principal)|
+---+--------------+
| 31|         21200|
| 34|         24200|
| 28|         30500|
| 27|         36600|
| 26|         44100|
| 44|          3600|
| 22|          7300|
| 47|          2800|
| 40|          7600|
| 20|          4000|
| 19|          2000|
| 41|          4600|
| 43|          4400|
| 37|         17400|
| 35|         23000|
| 39|          9000|
| 23|          8000|
| 49|          1000|
| 51|           800|
| 50|          3800|
+---+--------------+
only showing top 20 rows

In [14]:
#summation of terms for each education group...
df.groupBy('education').sum('terms').show()

+--------------------+----------+
|           education|sum(terms)|
+--------------------+----------+
|             college|      4991|
|     Master or Above|        44|
|            Bechalor|      1438|
|High School or Below|      4939|
+--------------------+----------+

In [15]:
#summation of terms for each Gender group...
df.groupBy('Gender').sum('terms').show()

+------+----------+
|Gender|sum(terms)|
+------+----------+
|female|      1745|
|  male|      9667|
+------+----------+

In [16]:
#summation of terms for each loan_status group...
df.groupBy('loan_status').sum('terms').show()

+------------------+----------+
|       loan_status|sum(terms)|
+------------------+----------+
|        COLLECTION|      2385|
|COLLECTION_PAIDOFF|      2392|
|           PAIDOFF|      6635|
+------------------+----------+

In [17]:
#summation of terms for each age group...
df.groupBy('age').sum('terms').show()

+---+----------+
|age|sum(terms)|
+---+----------+
| 31|       494|
| 34|       554|
| 28|       780|
| 27|       899|
| 26|      1079|
| 44|        90|
| 22|       172|
| 47|        45|
| 40|       195|
| 20|       105|
| 19|        60|
| 41|       105|
| 43|       105|
| 37|       442|
| 35|       546|
| 39|       195|
| 23|       202|
| 49|        30|
| 51|        15|
| 50|        75|
+---+----------+
only showing top 20 rows

In [18]:
#summation of age for each education group...
df.groupBy('education').sum('age').show()

+--------------------+--------+
|           education|sum(age)|
+--------------------+--------+
|             college|    6686|
|     Master or Above|     161|
|            Bechalor|    2153|
|High School or Below|    6558|
+--------------------+--------+

In [19]:
#summation of age for each Gender group...
df.groupBy('Gender').sum('age').show()

+------+--------+
|Gender|sum(age)|
+------+--------+
|female|    2455|
|  male|   13103|
+------+--------+

In [20]:
#summation of age for each loan_status group...
df.groupBy('loan_status').sum('age').show()

+------------------+--------+
|       loan_status|sum(age)|
+------------------+--------+
|        COLLECTION|    3061|
|COLLECTION_PAIDOFF|    3134|
|           PAIDOFF|    9363|
+------------------+--------+

In [21]:
#summation of age for each terms group...
df.groupBy('terms').sum('age').show()

+-----+--------+
|terms|sum(age)|
+-----+--------+
|   15|    6611|
|    7|     621|
|   30|    8326|
+-----+--------+

### cumulative summation

In [22]:
df.show()

+-----------+-----------+---------+-----+--------------+---------+---------------+-------------+---+--------------------+------+
|    Loan_ID|loan_status|Principal|terms|effective_date| due_date|  paid_off_time|past_due_days|age|           education|Gender|
+-----------+-----------+---------+-----+--------------+---------+---------------+-------------+---+--------------------+------+
|xqd20166231|    PAIDOFF|     1000|   30|      9/8/2016|10/7/2016|9/14/2016 19:31|         null| 45|High School or Below|  male|
|xqd20168902|    PAIDOFF|     1000|   30|      9/8/2016|10/7/2016| 10/7/2016 9:00|         null| 50|            Bechalor|female|
|xqd20160003|    PAIDOFF|     1000|   30|      9/8/2016|10/7/2016|9/25/2016 16:58|         null| 33|            Bechalor|female|
|xqd20160004|    PAIDOFF|     1000|   15|      9/8/2016|9/22/2016|9/22/2016 20:00|         null| 27|             college|  male|
|xqd20160005|    PAIDOFF|     1000|   30|      9/9/2016|10/8/2016|9/23/2016 21:36|         null| 28|             college|female|
|xqd20160706|    PAIDOFF|      300|    7|      9/9/2016|9/15/2016| 9/9/2016 13:45|         null| 35|     Master or Above|  male|
|xqd20160007|    PAIDOFF|     1000|   30|      9/9/2016|10/8/2016|10/7/2016 23:07|         null| 29|             college|  male|
|xqd20160008|    PAIDOFF|     1000|   30|      9/9/2016|10/8/2016|10/5/2016 20:33|         null| 36|             college|  male|
|xqd20160909|    PAIDOFF|     1000|   30|      9/9/2016|10/8/2016|10/8/2016 16:00|         null| 28|             college|  male|
|xqd20160010|    PAIDOFF|      800|   15|     9/10/2016|9/24/2016|9/24/2016 13:00|         null| 26|             college|  male|
|xqd20160011|    PAIDOFF|      300|    7|     9/10/2016|9/16/2016|9/11/2016 19:11|         null| 29|             college|  male|
|xqd20160012|    PAIDOFF|     1000|   15|     9/10/2016|10/9/2016|10/9/2016 16:00|         null| 39|High School or Below|  male|
|xqd20160013|    PAIDOFF|     1000|   30|     9/10/2016|10/9/2016|10/7/2016 23:32|         null| 26|             college|  male|
|xqd20160014|    PAIDOFF|      900|    7|     9/10/2016|9/16/2016|9/13/2016 21:57|         null| 26|             college|female|
|xqd20160015|    PAIDOFF|     1000|    7|     9/10/2016|9/16/2016|9/15/2016 14:27|         null| 27|High School or Below|  male|
|xqd20160016|    PAIDOFF|      800|   15|     9/10/2016|9/24/2016|9/24/2016 16:00|         null| 26|             college|  male|
|xqd20160017|    PAIDOFF|     1000|   30|     9/10/2016|10/9/2016|9/27/2016 14:21|         null| 40|High School or Below|  male|
|xqd20160018|    PAIDOFF|     1000|   15|     9/10/2016|9/24/2016|9/23/2016 18:49|         null| 32|High School or Below|  male|
|xqd20160019|    PAIDOFF|     1000|   30|     9/10/2016|10/9/2016|10/5/2016 22:05|         null| 32|High School or Below|  male|
|xqd20160020|    PAIDOFF|      800|   30|     9/10/2016|10/9/2016| 9/23/2016 7:42|         null| 26|             college|  male|
+-----------+-----------+---------+-----+--------------+---------+---------------+-------------+---+--------------------+------+
only showing top 20 rows

In [23]:
#cumulative summation of Principal in education groups....
import sys
from pyspark.sql.window import Window
from pyspark.sql.functions import sum,col
cum_sum_Principal = df.withColumn('cum_sum_Principal', sum(col('Principal')).over(Window.partitionBy('education').orderBy('age').rowsBetween(-sys.maxsize, 0)))
cum_sum_Principal.select('education','age','Principal','cum_sum_Principal').show()

+---------+---+---------+-----------------+
|education|age|Principal|cum_sum_Principal|
+---------+---+---------+-----------------+
|  college| 18|     1000|             1000|
|  college| 20|     1000|             2000|
|  college| 20|     1000|             3000|
|  college| 21|      800|             3800|
|  college| 21|     1000|             4800|
|  college| 21|     1000|             5800|
|  college| 22|     1000|             6800|
|  college| 22|      800|             7600|
|  college| 23|     1000|             8600|
|  college| 23|      800|             9400|
|  college| 23|      500|             9900|
|  college| 23|      800|            10700|
|  college| 23|      800|            11500|
|  college| 24|     1000|            12500|
|  college| 24|      800|            13300|
|  college| 24|      800|            14100|
|  college| 24|     1000|            15100|
|  college| 24|     1000|            16100|
|  college| 24|     1000|            17100|
|  college| 24|     1000|            18100|
+---------+---+---------+-----------------+
only showing top 20 rows

In [24]:
#cumulative summation of age in education groups....
cum_sum_age = df.withColumn('cum_sum_age', sum(col('age')).over(Window.partitionBy('education').rowsBetween(-sys.maxsize, 0)))
cum_sum_age.select('education','age','Principal','cum_sum_age').show()

+---------+---+---------+-----------+
|education|age|Principal|cum_sum_age|
+---------+---+---------+-----------+
|  college| 27|     1000|         27|
|  college| 28|     1000|         55|
|  college| 29|     1000|         84|
|  college| 36|     1000|        120|
|  college| 28|     1000|        148|
|  college| 26|      800|        174|
|  college| 29|      300|        203|
|  college| 26|     1000|        229|
|  college| 26|      900|        255|
|  college| 26|      800|        281|
|  college| 26|      800|        307|
|  college| 26|     1000|        333|
|  college| 26|     1000|        359|
|  college| 26|     1000|        385|
|  college| 31|     1000|        416|
|  college| 33|     1000|        449|
|  college| 37|     1000|        486|
|  college| 27|     1000|        513|
|  college| 37|     1000|        550|
|  college| 33|      800|        583|
+---------+---+---------+-----------+
only showing top 20 rows

In [25]:
#cumulative summation of Principal in Gender groups....
cum_sum_Principal = df.withColumn('cum_sum_Principal', sum(col('Principal')).over(Window.partitionBy('Gender').orderBy('age').rowsBetween(-sys.maxsize, 0)))
cum_sum_Principal.select('education','age','Gender','Principal','cum_sum_Principal').show()

+--------------------+---+------+---------+-----------------+
|           education|age|Gender|Principal|cum_sum_Principal|
+--------------------+---+------+---------+-----------------+
|High School or Below| 19|female|     1000|             1000|
|             college| 21|female|     1000|             2000|
|             college| 23|female|      500|             2500|
|             college| 23|female|      800|             3300|
|            Bechalor| 24|female|     1000|             4300|
|High School or Below| 24|female|     1000|             5300|
|High School or Below| 24|female|     1000|             6300|
|High School or Below| 25|female|     1000|             7300|
|             college| 25|female|     1000|             8300|
|             college| 26|female|      900|             9200|
|             college| 26|female|     1000|            10200|
|High School or Below| 26|female|     1000|            11200|
|            Bechalor| 26|female|     1000|            12200|
|High School or Below| 26|female|      800|            13000|
|High School or Below| 26|female|      800|            13800|
|             college| 26|female|     1000|            14800|
|High School or Below| 26|female|      800|            15600|
|             college| 27|female|      800|            16400|
|             college| 27|female|     1000|            17400|
|             college| 27|female|     1000|            18400|
+--------------------+---+------+---------+-----------------+
only showing top 20 rows

In [26]:
#cumulative summation of Principal in loan_status groups....
cum_sum_Principal = df.withColumn('cum_sum_Principal', sum(col('Principal')).over(Window.partitionBy('loan_status').orderBy('age').rowsBetween(-sys.maxsize, 0)))
cum_sum_Principal.select('education','age','Gender','loan_status','Principal','cum_sum_Principal').show()

+--------------------+---+------+-----------+---------+-----------------+
|           education|age|Gender|loan_status|Principal|cum_sum_Principal|
+--------------------+---+------+-----------+---------+-----------------+
|             college| 18|  male| COLLECTION|     1000|             1000|
|High School or Below| 20|  male| COLLECTION|     1000|             2000|
|High School or Below| 21|  male| COLLECTION|     1000|             3000|
|            Bechalor| 22|  male| COLLECTION|     1000|             4000|
|             college| 22|  male| COLLECTION|      800|             4800|
|High School or Below| 23|  male| COLLECTION|     1000|             5800|
|High School or Below| 23|  male| COLLECTION|     1000|             6800|
|            Bechalor| 24|  male| COLLECTION|      800|             7600|
|             college| 24|  male| COLLECTION|     1000|             8600|
|            Bechalor| 24|  male| COLLECTION|     1000|             9600|
|High School or Below| 24|female| COLLECTION|     1000|            10600|
|             college| 24|  male| COLLECTION|     1000|            11600|
|             college| 25|  male| COLLECTION|     1000|            12600|
|             college| 25|  male| COLLECTION|     1000|            13600|
|             college| 25|  male| COLLECTION|     1000|            14600|
|High School or Below| 25|  male| COLLECTION|      800|            15400|
|High School or Below| 25|  male| COLLECTION|     1000|            16400|
|High School or Below| 25|  male| COLLECTION|     1000|            17400|
|High School or Below| 26|female| COLLECTION|      800|            18200|
|High School or Below| 26|  male| COLLECTION|     1000|            19200|
+--------------------+---+------+-----------+---------+-----------------+
only showing top 20 rows

In [27]:
#cumulative summation of Principal in terms groups....
cum_sum_Principal = df.withColumn('cum_sum_Principal', sum(col('Principal')).over(Window.partitionBy('terms').orderBy('age').rowsBetween(-sys.maxsize, 0)))
cum_sum_Principal.select('education','age','Gender','loan_status','terms','Principal','cum_sum_Principal').show()

+--------------------+---+------+------------------+-----+---------+-----------------+
|           education|age|Gender|       loan_status|terms|Principal|cum_sum_Principal|
+--------------------+---+------+------------------+-----+---------+-----------------+
|             college| 20|  male|           PAIDOFF|   15|     1000|             1000|
|             college| 21|  male|           PAIDOFF|   15|      800|             1800|
|             college| 22|  male|           PAIDOFF|   15|     1000|             2800|
|             college| 22|  male|        COLLECTION|   15|      800|             3600|
|High School or Below| 22|  male|COLLECTION_PAIDOFF|   15|     1000|             4600|
|             college| 23|  male|           PAIDOFF|   15|     1000|             5600|
|             college| 23|  male|           PAIDOFF|   15|      800|             6400|
|             college| 23|female|           PAIDOFF|   15|      500|             6900|
|             college| 23|  male|           PAIDOFF|   15|      800|             7700|
|High School or Below| 23|  male|COLLECTION_PAIDOFF|   15|      800|             8500|
|             college| 24|  male|           PAIDOFF|   15|     1000|             9500|
|            Bechalor| 24|female|           PAIDOFF|   15|     1000|            10500|
|High School or Below| 24|  male|           PAIDOFF|   15|      800|            11300|
|             college| 24|  male|           PAIDOFF|   15|      800|            12100|
|             college| 24|  male|           PAIDOFF|   15|      800|            12900|
|High School or Below| 24|  male|           PAIDOFF|   15|     1000|            13900|
|High School or Below| 24|  male|           PAIDOFF|   15|     1000|            14900|
|            Bechalor| 24|  male|           PAIDOFF|   15|     1000|            15900|
|            Bechalor| 24|  male|        COLLECTION|   15|      800|            16700|
|            Bechalor| 24|  male|        COLLECTION|   15|     1000|            17700|
+--------------------+---+------+------------------+-----+---------+-----------------+
only showing top 20 rows

In [28]:
#cumulative summation of age in Principal groups....
cum_sum_age = df.withColumn('cum_sum_age', sum(col('age')).over(Window.partitionBy('Principal').rowsBetween(-sys.maxsize, 0)))
cum_sum_age.select('education','age','Gender','loan_status','terms','Principal','cum_sum_age').show()

+--------------------+---+------+------------------+-----+---------+-----------+
|           education|age|Gender|       loan_status|terms|Principal|cum_sum_age|
+--------------------+---+------+------------------+-----+---------+-----------+
|     Master or Above| 35|  male|           PAIDOFF|    7|      300|         35|
|             college| 29|  male|           PAIDOFF|    7|      300|         64|
|             college| 35|  male|           PAIDOFF|    7|      300|         99|
|     Master or Above| 37|  male|           PAIDOFF|    7|      300|        136|
|High School or Below| 29|  male|           PAIDOFF|    7|      300|        165|
|High School or Below| 23|  male|           PAIDOFF|    7|      300|        188|
|             college| 23|female|           PAIDOFF|   15|      500|         23|
|High School or Below| 22|  male|           PAIDOFF|    7|      500|         45|
|            Bechalor| 37|  male|COLLECTION_PAIDOFF|   15|      500|         82|
|             college| 26|female|           PAIDOFF|    7|      900|         26|
|             college| 28|  male|           PAIDOFF|   15|      900|         54|
|             college| 26|  male|           PAIDOFF|   15|      800|         26|
|             college| 26|  male|           PAIDOFF|   15|      800|         52|
|             college| 26|  male|           PAIDOFF|   30|      800|         78|
|            Bechalor| 39|  male|           PAIDOFF|   15|      800|        117|
|High School or Below| 33|  male|           PAIDOFF|   15|      800|        150|
|             college| 33|  male|           PAIDOFF|   15|      800|        183|
|            Bechalor| 29|  male|           PAIDOFF|   15|      800|        212|
|             college| 30|  male|           PAIDOFF|   15|      800|        242|
|High School or Below| 35|  male|           PAIDOFF|    7|      800|        277|
+--------------------+---+------+------------------+-----+---------+-----------+
only showing top 20 rows

In [29]:
#cumulative summation of terms in Principal groups....
cum_sum_terms = df.withColumn('cum_sum_terms', sum(col('terms')).over(Window.partitionBy('Principal').rowsBetween(-sys.maxsize, 0)))
cum_sum_terms.select('education','age','Gender','loan_status','terms','Principal','cum_sum_terms').show()

+--------------------+---+------+------------------+-----+---------+-------------+
|           education|age|Gender|       loan_status|terms|Principal|cum_sum_terms|
+--------------------+---+------+------------------+-----+---------+-------------+
|     Master or Above| 35|  male|           PAIDOFF|    7|      300|            7|
|             college| 29|  male|           PAIDOFF|    7|      300|           14|
|             college| 35|  male|           PAIDOFF|    7|      300|           21|
|     Master or Above| 37|  male|           PAIDOFF|    7|      300|           28|
|High School or Below| 29|  male|           PAIDOFF|    7|      300|           35|
|High School or Below| 23|  male|           PAIDOFF|    7|      300|           42|
|             college| 23|female|           PAIDOFF|   15|      500|           15|
|High School or Below| 22|  male|           PAIDOFF|    7|      500|           22|
|            Bechalor| 37|  male|COLLECTION_PAIDOFF|   15|      500|           37|
|             college| 26|female|           PAIDOFF|    7|      900|            7|
|             college| 28|  male|           PAIDOFF|   15|      900|           22|
|             college| 26|  male|           PAIDOFF|   15|      800|           15|
|             college| 26|  male|           PAIDOFF|   15|      800|           30|
|             college| 26|  male|           PAIDOFF|   30|      800|           60|
|            Bechalor| 39|  male|           PAIDOFF|   15|      800|           75|
|High School or Below| 33|  male|           PAIDOFF|   15|      800|           90|
|             college| 33|  male|           PAIDOFF|   15|      800|          105|
|            Bechalor| 29|  male|           PAIDOFF|   15|      800|          120|
|             college| 30|  male|           PAIDOFF|   15|      800|          135|
|High School or Below| 35|  male|           PAIDOFF|    7|      800|          142|
+--------------------+---+------+------------------+-----+---------+-------------+
only showing top 20 rows

#similarly we can do for all the possible combinations(by changing the sum(col(x)),partitionBy(y),orderBy(z) functions' parameter variables...)