In [1]:
import pandas as pd
import os

In [2]:
files=os.listdir(r'E:\Desktop\forcast_july')

In [3]:
for file in files:
    print(file)

july1
july10.xls
july11.xls
july12.xls
july13.xls
july14.xls
july15.xls
july16.xls
july17.xls
july18.xls
july19.xls
july2
july20.xls
july21.xls
july22.xls
july23.xls
july24.xls
july25.xls
july26.xls
july27.xls
july28.xls
july29.xls
july3.xls
july4.xls
july5.xls
july6.xls
july7.xls
july8.xls
july9.xls

In [4]:
#get all the files in the forecast folder..........
def fileList(path):
    listOfFiles = os.listdir(path)
    files=[]
    
    for file in listOfFiles:
        fullPath = os.path.join(path, file) #full path for the file
        if os.path.isdir(fullPath): #if there are sub folders.....
            files = files + fileList(fullPath) #recursively loop through the sub folder
        else:
            files.append(fullPath)
                
    return files

all_the_files=fileList(r'E:\Desktop\forcast_july')

In [5]:
for file in all_the_files:
    print(file)

E:\Desktop\forcast_july\july1\july1.xls
E:\Desktop\forcast_july\july10.xls
E:\Desktop\forcast_july\july11.xls
E:\Desktop\forcast_july\july12.xls
E:\Desktop\forcast_july\july13.xls
E:\Desktop\forcast_july\july14.xls
E:\Desktop\forcast_july\july15.xls
E:\Desktop\forcast_july\july16.xls
E:\Desktop\forcast_july\july17.xls
E:\Desktop\forcast_july\july18.xls
E:\Desktop\forcast_july\july19.xls
E:\Desktop\forcast_july\july2\july2.xls
E:\Desktop\forcast_july\july20.xls
E:\Desktop\forcast_july\july21.xls
E:\Desktop\forcast_july\july22.xls
E:\Desktop\forcast_july\july23.xls
E:\Desktop\forcast_july\july24.xls
E:\Desktop\forcast_july\july25.xls
E:\Desktop\forcast_july\july26.xls
E:\Desktop\forcast_july\july27.xls
E:\Desktop\forcast_july\july28.xls
E:\Desktop\forcast_july\july29.xls
E:\Desktop\forcast_july\july3.xls
E:\Desktop\forcast_july\july4.xls
E:\Desktop\forcast_july\july5.xls
E:\Desktop\forcast_july\july6.xls
E:\Desktop\forcast_july\july7.xls
E:\Desktop\forcast_july\july8.xls
E:\Desktop\forcast_july\july9.xls

In [6]:
#!pip install xlrd
#df=pd.read_excel(r'E:\Desktop\forcast_july\july9.xls')
#df.head()

In [7]:
for file in all_the_files:
    df=pd.read_excel(file)
    print(df.head())
    print(file)

  3.    Day Ahead Economic Dispatch for next day in MW           Unnamed: 1  \
0                                               Date    2020-07-01 00:00:00
1                                                NaN               00:00:00
2                                           WPS                           0
3                                          Cany                           0
4                                        Olax                            10

  Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7  \
0        NaN        NaN        NaN        NaN        NaN        NaN
1   00:30:00   01:00:00   01:30:00   02:00:00   02:30:00   03:00:00
2          0          0          0          0          0          0
3          0          0          0          0          0          0
4         10         10         10         10         10         10

  Unnamed: 8 Unnamed: 9  ... Unnamed: 138 Unnamed: 139 Unnamed: 140  \
0        NaN        NaN  ...          NaN          NaN          NaN
1   03:30:00   04:00:00  ...          NaN          NaN          NaN
2          0          0  ...          NaN          NaN          NaN
3          0          0  ...          NaN          NaN          NaN
4         10         10  ...          NaN          NaN          NaN

  Unnamed: 141 Unnamed: 142 Unnamed: 143 Unnamed: 144 Unnamed: 145  \
0          NaN          NaN          NaN          NaN          NaN
1          NaN          NaN          NaN          NaN          NaN
2          NaN          NaN          NaN          NaN          NaN
3          NaN          NaN          NaN          NaN          NaN
4          NaN          NaN          NaN          NaN          NaN

  Unnamed: 146  Unnamed: 147
0          NaN           NaN
1          NaN           NaN
2          NaN      Victoria
3          NaN      Kothmale
4          NaN  Samanalawewa

[5 rows x 148 columns]
E:\Desktop\forcast_july\july1\july1.xls
  3.    Day Ahead Economic Dispatch for next day in MW           Unnamed: 1  \
0                                               Date    2020-07-10 00:00:00
1                                                NaN               00:00:00
2                                           WPS                           0
3                                          Cany                      28.065
4                                        Olax                            10

  Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7  \
0        NaN        NaN        NaN        NaN        NaN        NaN
1   00:30:00   01:00:00   01:30:00   02:00:00   02:30:00   03:00:00
2          0          0          0          0          0          0
3      11.04      11.04          0          0          0          0
4         10         10         10         10         10         10

  Unnamed: 8 Unnamed: 9  ... Unnamed: 138 Unnamed: 139 Unnamed: 140  \
0        NaN        NaN  ...          NaN          NaN          NaN
1   03:30:00   04:00:00  ...          NaN          NaN          NaN
2          0          0  ...          NaN          NaN          NaN
3          0      11.04  ...          NaN          NaN          NaN
4         10         10  ...          NaN          NaN          NaN

  Unnamed: 141 Unnamed: 142 Unnamed: 143 Unnamed: 144 Unnamed: 145  \
0          NaN          NaN          NaN          NaN          NaN
1          NaN          NaN          NaN          NaN          NaN
2          NaN          NaN          NaN          NaN          NaN
3          NaN          NaN          NaN          NaN          NaN
4          NaN          NaN          NaN          NaN          NaN

  Unnamed: 146  Unnamed: 147
0          NaN           NaN
1          NaN           NaN
2          NaN      Victoria
3          NaN      Kothmale
4          NaN  Samanalawewa

[5 rows x 148 columns]
E:\Desktop\forcast_july\july10.xls
  3.    Day Ahead Economic Dispatch for next day in MW           Unnamed: 1  \
0                                               Date    2020-07-11 00:00:00
1                                                NaN               00:00:00
2                                           WPS                           0
3                                          Cany                           0
4                                        Olax                            10

  Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7  \
0        NaN        NaN        NaN        NaN        NaN        NaN
1   00:30:00   01:00:00   01:30:00   02:00:00   02:30:00   03:00:00
2          0          0          0          0          0          0
3          0          0          0          0          0          0
4         10         10         10         10         10         10

  Unnamed: 8 Unnamed: 9  ... Unnamed: 138 Unnamed: 139 Unnamed: 140  \
0        NaN        NaN  ...          NaN          NaN          NaN
1   03:30:00   04:00:00  ...          NaN          NaN          NaN
2          0          0  ...          NaN          NaN          NaN
3          0          0  ...          NaN          NaN          NaN
4         10         10  ...          NaN          NaN          NaN

  Unnamed: 141 Unnamed: 142 Unnamed: 143 Unnamed: 144 Unnamed: 145  \
0          NaN          NaN          NaN          NaN          NaN
1          NaN          NaN          NaN          NaN          NaN
2          NaN          NaN          NaN          NaN          NaN
3          NaN          NaN          NaN          NaN          NaN
4          NaN          NaN          NaN          NaN          NaN

  Unnamed: 146  Unnamed: 147
0          NaN           NaN
1          NaN           NaN
2          NaN      Victoria
3          NaN      Kothmale
4          NaN  Samanalawewa

[5 rows x 148 columns]
E:\Desktop\forcast_july\july11.xls
  3.    Day Ahead Economic Dispatch for next day in MW           Unnamed: 1  \
0                                               Date    2020-07-12 00:00:00
1                                                NaN               00:00:00
2                                           WPS                           0
3                                          Cany                          30
4                                        Olax                            10

  Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7  \
0        NaN        NaN        NaN        NaN        NaN        NaN
1   00:30:00   01:00:00   01:30:00   02:00:00   02:30:00   03:00:00
2          0          0          0          0          0          0
3      11.03          0          0          0          0          0
4         10         10         10         10         10         10

  Unnamed: 8 Unnamed: 9  ... Unnamed: 138 Unnamed: 139 Unnamed: 140  \
0        NaN        NaN  ...          NaN          NaN          NaN
1   03:30:00   04:00:00  ...          NaN          NaN          NaN
2          0          0  ...          NaN          NaN          NaN
3          0          0  ...          NaN          NaN          NaN
4         10         10  ...          NaN          NaN          NaN

  Unnamed: 141 Unnamed: 142 Unnamed: 143 Unnamed: 144 Unnamed: 145  \
0          NaN          NaN          NaN          NaN          NaN
1          NaN          NaN          NaN          NaN          NaN
2          NaN          NaN          NaN          NaN          NaN
3          NaN          NaN          NaN          NaN          NaN
4          NaN          NaN          NaN          NaN          NaN

  Unnamed: 146  Unnamed: 147
0          NaN           NaN
1          NaN           NaN
2          NaN      Victoria
3          NaN      Kothmale
4          NaN  Samanalawewa

[5 rows x 148 columns]
E:\Desktop\forcast_july\july12.xls
  3.    Day Ahead Economic Dispatch for next day in MW           Unnamed: 1  \
0                                               Date    2020-07-13 00:00:00
1                                                NaN               00:00:00
2                                           WPS                           0
3                                          Cany                           0
4                                        Olax                            10

  Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7  \
0        NaN        NaN        NaN        NaN        NaN        NaN
1   00:30:00   01:00:00   01:30:00   02:00:00   02:30:00   03:00:00
2          0          0          0          0          0          0
3          0          0          0          0          0          0
4         10         10         10         10         10         10

  Unnamed: 8 Unnamed: 9  ... Unnamed: 138 Unnamed: 139 Unnamed: 140  \
0        NaN        NaN  ...          NaN          NaN          NaN
1   03:30:00   04:00:00  ...          NaN          NaN          NaN
2          0          0  ...          NaN          NaN          NaN
3          0          0  ...          NaN          NaN          NaN
4         10         10  ...          NaN          NaN          NaN

  Unnamed: 141 Unnamed: 142 Unnamed: 143 Unnamed: 144 Unnamed: 145  \
0          NaN          NaN          NaN          NaN          NaN
1          NaN          NaN          NaN          NaN          NaN
2          NaN          NaN          NaN          NaN          NaN
3          NaN          NaN          NaN          NaN          NaN
4          NaN          NaN          NaN          NaN          NaN

  Unnamed: 146  Unnamed: 147
0          NaN           NaN
1          NaN           NaN
2          NaN      Victoria
3          NaN      Kothmale
4          NaN  Samanalawewa

[5 rows x 148 columns]
E:\Desktop\forcast_july\july13.xls

  3.    Day Ahead Economic Dispatch for next day in MW           Unnamed: 1  \
0                                               Date    2020-07-14 00:00:00
1                                                NaN               00:00:00
2                                           WPS                           0
3                                          Cany                           0
4                                        Olax                            10

  Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7  \
0        NaN        NaN        NaN        NaN        NaN        NaN
1   00:30:00   01:00:00   01:30:00   02:00:00   02:30:00   03:00:00
2          0          0          0          0          0          0
3          0          0          0          0          0          0
4         10         10         10         10         10         10

  Unnamed: 8 Unnamed: 9  ... Unnamed: 138 Unnamed: 139 Unnamed: 140  \
0        NaN        NaN  ...          NaN          NaN          NaN
1   03:30:00   04:00:00  ...          NaN          NaN          NaN
2          0          0  ...          NaN          NaN          NaN
3          0          0  ...          NaN          NaN          NaN
4         10         10  ...          NaN          NaN          NaN

  Unnamed: 141 Unnamed: 142 Unnamed: 143 Unnamed: 144 Unnamed: 145  \
0          NaN          NaN          NaN          NaN          NaN
1          NaN          NaN          NaN          NaN          NaN
2          NaN          NaN          NaN          NaN          NaN
3          NaN          NaN          NaN          NaN          NaN
4          NaN          NaN          NaN          NaN          NaN

  Unnamed: 146  Unnamed: 147
0          NaN           NaN
1          NaN           NaN
2          NaN      Victoria
3          NaN      Kothmale
4          NaN  Samanalawewa

[5 rows x 148 columns]
E:\Desktop\forcast_july\july14.xls
  3.    Day Ahead Economic Dispatch for next day in MW           Unnamed: 1  \
0                                               Date    2020-07-15 00:00:00
1                                                NaN               00:00:00
2                                           WPS                           0
3                                          Cany                           0
4                                        Olax                            10

  Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7  \
0        NaN        NaN        NaN        NaN        NaN        NaN
1   00:30:00   01:00:00   01:30:00   02:00:00   02:30:00   03:00:00
2          0          0          0          0          0          0
3          0          0          0          0          0          0
4         10         10         10         10         10         10

  Unnamed: 8 Unnamed: 9  ... Unnamed: 138 Unnamed: 139 Unnamed: 140  \
0        NaN        NaN  ...          NaN          NaN          NaN
1   03:30:00   04:00:00  ...          NaN          NaN          NaN
2          0          0  ...          NaN          NaN          NaN
3          0          0  ...          NaN          NaN          NaN
4         10         10  ...          NaN          NaN          NaN

  Unnamed: 141 Unnamed: 142 Unnamed: 143 Unnamed: 144 Unnamed: 145  \
0          NaN          NaN          NaN          NaN          NaN
1          NaN          NaN          NaN          NaN          NaN
2          NaN          NaN          NaN          NaN          NaN
3          NaN          NaN          NaN          NaN          NaN
4          NaN          NaN          NaN          NaN          NaN

  Unnamed: 146  Unnamed: 147
0          NaN           NaN
1          NaN           NaN
2          NaN      Victoria
3          NaN      Kothmale
4          NaN  Samanalawewa

[5 rows x 148 columns]
E:\Desktop\forcast_july\july15.xls
  3.    Day Ahead Economic Dispatch for next day in MW           Unnamed: 1  \
0                                               Date    2020-07-16 00:00:00
1                                                NaN               00:00:00
2                                           WPS                           0
3                                          Cany                           0
4                                        Olax                            10

  Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7  \
0        NaN        NaN        NaN        NaN        NaN        NaN
1   00:30:00   01:00:00   01:30:00   02:00:00   02:30:00   03:00:00
2          0          0          0          0          0          0
3          0          0          0          0          0          0
4         10         10         10         10         10         10

  Unnamed: 8 Unnamed: 9  ... Unnamed: 138 Unnamed: 139 Unnamed: 140  \
0        NaN        NaN  ...          NaN          NaN          NaN
1   03:30:00   04:00:00  ...          NaN          NaN          NaN
2          0          0  ...          NaN          NaN          NaN
3          0          0  ...          NaN          NaN          NaN
4         10         10  ...          NaN          NaN          NaN

  Unnamed: 141 Unnamed: 142 Unnamed: 143 Unnamed: 144 Unnamed: 145  \
0          NaN          NaN          NaN          NaN          NaN
1          NaN          NaN          NaN          NaN          NaN
2          NaN          NaN          NaN          NaN          NaN
3          NaN          NaN          NaN          NaN          NaN
4          NaN          NaN          NaN          NaN          NaN

  Unnamed: 146  Unnamed: 147
0          NaN           NaN
1          NaN           NaN
2          NaN      Victoria
3          NaN      Kothmale
4          NaN  Samanalawewa

[5 rows x 148 columns]
E:\Desktop\forcast_july\july16.xls
  3.    Day Ahead Economic Dispatch for next day in MW           Unnamed: 1  \
0                                               Date    2020-07-17 00:00:00
1                                                NaN               00:00:00
2                                           WPS                           0
3                                          Cany                          30
4                                        Olax                            10

  Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7  \
0        NaN        NaN        NaN        NaN        NaN        NaN
1   00:30:00   01:00:00   01:30:00   02:00:00   02:30:00   03:00:00
2          0          0          0          0          0          0
3     12.585     20.252      11.01         30         30         30
4         10         10         10         10         10         10

  Unnamed: 8 Unnamed: 9  ... Unnamed: 138 Unnamed: 139 Unnamed: 140  \
0        NaN        NaN  ...          NaN          NaN          NaN
1   03:30:00   04:00:00  ...          NaN          NaN          NaN
2          0          0  ...          NaN          NaN          NaN
3         30      11.01  ...          NaN          NaN          NaN
4         10         10  ...          NaN          NaN          NaN

  Unnamed: 141 Unnamed: 142 Unnamed: 143 Unnamed: 144 Unnamed: 145  \
0          NaN          NaN          NaN          NaN          NaN
1          NaN          NaN          NaN          NaN          NaN
2          NaN          NaN          NaN          NaN          NaN
3          NaN          NaN          NaN          NaN          NaN
4          NaN          NaN          NaN          NaN          NaN

  Unnamed: 146  Unnamed: 147
0          NaN           NaN
1          NaN           NaN
2          NaN      Victoria
3          NaN      Kothmale
4          NaN  Samanalawewa

[5 rows x 148 columns]
E:\Desktop\forcast_july\july17.xls
  3.    Day Ahead Economic Dispatch for next day in MW           Unnamed: 1  \
0                                               Date    2020-07-18 00:00:00
1                                                NaN               00:00:00
2                                           WPS                           0
3                                          Cany                           0
4                                        Olax                            10

  Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7  \
0        NaN        NaN        NaN        NaN        NaN        NaN
1   00:30:00   01:00:00   01:30:00   02:00:00   02:30:00   03:00:00
2          0          0          0          0          0          0
3          0          0          0          0          0          0
4         10         10         10         10         10         10

  Unnamed: 8 Unnamed: 9  ... Unnamed: 138 Unnamed: 139 Unnamed: 140  \
0        NaN        NaN  ...          NaN          NaN          NaN
1   03:30:00   04:00:00  ...          NaN          NaN          NaN
2          0          0  ...          NaN          NaN          NaN
3          0          0  ...          NaN          NaN          NaN
4         10         10  ...          NaN          NaN          NaN

  Unnamed: 141 Unnamed: 142 Unnamed: 143 Unnamed: 144 Unnamed: 145  \
0          NaN          NaN          NaN          NaN          NaN
1          NaN          NaN          NaN          NaN          NaN
2          NaN          NaN          NaN          NaN          NaN
3          NaN          NaN          NaN          NaN          NaN
4          NaN          NaN          NaN          NaN          NaN

  Unnamed: 146  Unnamed: 147
0          NaN           NaN
1          NaN           NaN
2          NaN      Victoria
3          NaN      Kothmale
4          NaN  Samanalawewa

[5 rows x 148 columns]
E:\Desktop\forcast_july\july18.xls
  3.    Day Ahead Economic Dispatch for next day in MW           Unnamed: 1  \
0                                               Date    2020-07-19 00:00:00
1                                                NaN               00:00:00
2                                           WPS                           0
3                                          Cany                           0
4                                        Olax                            10

  Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7  \
0        NaN        NaN        NaN        NaN        NaN        NaN
1   00:30:00   01:00:00   01:30:00   02:00:00   02:30:00   03:00:00
2          0          0          0          0          0          0
3          0          0          0          0          0          0
4         10         10         10         10         10         10

  Unnamed: 8 Unnamed: 9  ... Unnamed: 138 Unnamed: 139 Unnamed: 140  \
0        NaN        NaN  ...          NaN          NaN          NaN
1   03:30:00   04:00:00  ...          NaN          NaN          NaN
2          0          0  ...          NaN          NaN          NaN
3          0          0  ...          NaN          NaN          NaN
4         10         10  ...          NaN          NaN          NaN

  Unnamed: 141 Unnamed: 142 Unnamed: 143 Unnamed: 144 Unnamed: 145  \
0          NaN          NaN          NaN          NaN          NaN
1          NaN          NaN          NaN          NaN          NaN
2          NaN          NaN          NaN          NaN          NaN
3          NaN          NaN          NaN          NaN          NaN
4          NaN          NaN          NaN          NaN          NaN

  Unnamed: 146  Unnamed: 147
0          NaN           NaN
1          NaN           NaN
2          NaN      Victoria
3          NaN      Kothmale
4          NaN  Samanalawewa

[5 rows x 148 columns]
E:\Desktop\forcast_july\july19.xls

  3.    Day Ahead Economic Dispatch for next day in MW           Unnamed: 1  \
0                                               Date    2020-07-02 00:00:00
1                                                NaN               00:00:00
2                                           WPS                           0
3                                          Cany                           0
4                                        Olax                            10

  Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7  \
0        NaN        NaN        NaN        NaN        NaN        NaN
1   00:30:00   01:00:00   01:30:00   02:00:00   02:30:00   03:00:00
2          0          0          0          0          0          0
3          0          0          0          0          0          0
4         10         10         10         10         10         10

  Unnamed: 8 Unnamed: 9  ... Unnamed: 138 Unnamed: 139 Unnamed: 140  \
0        NaN        NaN  ...          NaN          NaN          NaN
1   03:30:00   04:00:00  ...          NaN          NaN          NaN
2          0          0  ...          NaN          NaN          NaN
3          0          0  ...          NaN          NaN          NaN
4         10         10  ...          NaN          NaN          NaN

  Unnamed: 141 Unnamed: 142 Unnamed: 143 Unnamed: 144 Unnamed: 145  \
0          NaN          NaN          NaN          NaN          NaN
1          NaN          NaN          NaN          NaN          NaN
2          NaN          NaN          NaN          NaN          NaN
3          NaN          NaN          NaN          NaN          NaN
4          NaN          NaN          NaN          NaN          NaN

  Unnamed: 146  Unnamed: 147
0          NaN           NaN
1          NaN           NaN
2          NaN      Victoria
3          NaN      Kothmale
4          NaN  Samanalawewa

[5 rows x 148 columns]
E:\Desktop\forcast_july\july2\july2.xls
  3.    Day Ahead Economic Dispatch for next day in MW           Unnamed: 1  \
0                                               Date    2020-07-20 00:00:00
1                                                NaN               00:00:00
2                                           WPS                           0
3                                          Cany                           0
4                                        Olax                            10

  Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7  \
0        NaN        NaN        NaN        NaN        NaN        NaN
1   00:30:00   01:00:00   01:30:00   02:00:00   02:30:00   03:00:00
2          0          0          0          0          0          0
3          0          0          0          0          0          0
4         10         10         10         10         10         10

  Unnamed: 8 Unnamed: 9  ... Unnamed: 138 Unnamed: 139 Unnamed: 140  \
0        NaN        NaN  ...          NaN          NaN          NaN
1   03:30:00   04:00:00  ...          NaN          NaN          NaN
2          0          0  ...          NaN          NaN          NaN
3          0          0  ...          NaN          NaN          NaN
4         10         10  ...          NaN          NaN          NaN

  Unnamed: 141 Unnamed: 142 Unnamed: 143 Unnamed: 144 Unnamed: 145  \
0          NaN          NaN          NaN          NaN          NaN
1          NaN          NaN          NaN          NaN          NaN
2          NaN          NaN          NaN          NaN          NaN
3          NaN          NaN          NaN          NaN          NaN
4          NaN          NaN          NaN          NaN          NaN

  Unnamed: 146  Unnamed: 147
0          NaN           NaN
1          NaN           NaN
2          NaN      Victoria
3          NaN      Kothmale
4          NaN  Samanalawewa

[5 rows x 148 columns]
E:\Desktop\forcast_july\july20.xls
  3.    Day Ahead Economic Dispatch for next day in MW           Unnamed: 1  \
0                                               Date    2020-07-21 00:00:00
1                                                NaN               00:00:00
2                                           WPS                           0
3                                          Cany                           0
4                                        Olax                            10

  Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7  \
0        NaN        NaN        NaN        NaN        NaN        NaN
1   00:30:00   01:00:00   01:30:00   02:00:00   02:30:00   03:00:00
2          0          0          0          0          0          0
3          0          0          0          0          0          0
4         10         10         10         10         10         10

  Unnamed: 8 Unnamed: 9  ... Unnamed: 138 Unnamed: 139 Unnamed: 140  \
0        NaN        NaN  ...          NaN          NaN          NaN
1   03:30:00   04:00:00  ...          NaN          NaN          NaN
2          0          0  ...          NaN          NaN          NaN
3          0          0  ...          NaN          NaN          NaN
4         10         10  ...          NaN          NaN          NaN

  Unnamed: 141 Unnamed: 142 Unnamed: 143 Unnamed: 144 Unnamed: 145  \
0          NaN          NaN          NaN          NaN          NaN
1          NaN          NaN          NaN          NaN          NaN
2          NaN          NaN          NaN          NaN          NaN
3          NaN          NaN          NaN          NaN          NaN
4          NaN          NaN          NaN          NaN          NaN

  Unnamed: 146  Unnamed: 147
0          NaN           NaN
1          NaN           NaN
2          NaN      Victoria
3          NaN      Kothmale
4          NaN  Samanalawewa

[5 rows x 148 columns]
E:\Desktop\forcast_july\july21.xls
  3.    Day Ahead Economic Dispatch for next day in MW           Unnamed: 1  \
0                                               Date    2020-07-22 00:00:00
1                                                NaN               00:00:00
2                                           WPS                          10
3                                          Cany                           0
4                                        Olax                            10

  Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7  \
0        NaN        NaN        NaN        NaN        NaN        NaN
1   00:30:00   01:00:00   01:30:00   02:00:00   02:30:00   03:00:00
2         10          0          0          0          0          0
3          0          0          0          0          0          0
4         10         10         10         10         10         10

  Unnamed: 8 Unnamed: 9  ... Unnamed: 138 Unnamed: 139 Unnamed: 140  \
0        NaN        NaN  ...          NaN          NaN          NaN
1   03:30:00   04:00:00  ...          NaN          NaN          NaN
2          0          0  ...          NaN          NaN          NaN
3          0          0  ...          NaN          NaN          NaN
4         10         10  ...          NaN          NaN          NaN

  Unnamed: 141 Unnamed: 142 Unnamed: 143 Unnamed: 144 Unnamed: 145  \
0          NaN          NaN          NaN          NaN          NaN
1          NaN          NaN          NaN          NaN          NaN
2          NaN          NaN          NaN          NaN          NaN
3          NaN          NaN          NaN          NaN          NaN
4          NaN          NaN          NaN          NaN          NaN

  Unnamed: 146  Unnamed: 147
0          NaN           NaN
1          NaN           NaN
2          NaN      Victoria
3          NaN      Kothmale
4          NaN  Samanalawewa

[5 rows x 148 columns]
E:\Desktop\forcast_july\july22.xls
  3.    Day Ahead Economic Dispatch for next day in MW           Unnamed: 1  \
0                                               Date    2020-07-23 00:00:00
1                                                NaN               00:00:00
2                                           WPS                           0
3                                          Cany                           0
4                                        Olax                            10

  Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7  \
0        NaN        NaN        NaN        NaN        NaN        NaN
1   00:30:00   01:00:00   01:30:00   02:00:00   02:30:00   03:00:00
2          0          0          0          0          0          0
3          0          0          0          0          0          0
4         10         10         10         10         10         10

  Unnamed: 8 Unnamed: 9  ... Unnamed: 138 Unnamed: 139 Unnamed: 140  \
0        NaN        NaN  ...          NaN          NaN          NaN
1   03:30:00   04:00:00  ...          NaN          NaN          NaN
2          0          0  ...          NaN          NaN          NaN
3          0          0  ...          NaN          NaN          NaN
4         10         10  ...          NaN          NaN          NaN

  Unnamed: 141 Unnamed: 142 Unnamed: 143 Unnamed: 144 Unnamed: 145  \
0          NaN          NaN          NaN          NaN          NaN
1          NaN          NaN          NaN          NaN          NaN
2          NaN          NaN          NaN          NaN          NaN
3          NaN          NaN          NaN          NaN          NaN
4          NaN          NaN          NaN          NaN          NaN

  Unnamed: 146  Unnamed: 147
0          NaN           NaN
1          NaN           NaN
2          NaN      Victoria
3          NaN      Kothmale
4          NaN  Samanalawewa

[5 rows x 148 columns]
E:\Desktop\forcast_july\july23.xls

  3.    Day Ahead Economic Dispatch for next day in MW           Unnamed: 1  \
0                                               Date    2020-07-24 00:00:00
1                                                NaN               00:00:00
2                                           WPS                          10
3                                          Cany                           0
4                                        Olax                            10

  Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7  \
0        NaN        NaN        NaN        NaN        NaN        NaN
1   00:30:00   01:00:00   01:30:00   02:00:00   02:30:00   03:00:00
2         10          0          0          0          0          0
3          0          0          0          0          0          0
4         10         10         10         10         10         10

  Unnamed: 8 Unnamed: 9  ... Unnamed: 138 Unnamed: 139 Unnamed: 140  \
0        NaN        NaN  ...          NaN          NaN          NaN
1   03:30:00   04:00:00  ...          NaN          NaN          NaN
2          0          0  ...          NaN          NaN          NaN
3          0          0  ...          NaN          NaN          NaN
4         10         10  ...          NaN          NaN          NaN

  Unnamed: 141 Unnamed: 142 Unnamed: 143 Unnamed: 144 Unnamed: 145  \
0          NaN          NaN          NaN          NaN          NaN
1          NaN          NaN          NaN          NaN          NaN
2          NaN          NaN          NaN          NaN          NaN
3          NaN          NaN          NaN          NaN          NaN
4          NaN          NaN          NaN          NaN          NaN

  Unnamed: 146  Unnamed: 147
0          NaN           NaN
1          NaN           NaN
2          NaN      Victoria
3          NaN      Kothmale
4          NaN  Samanalawewa

[5 rows x 148 columns]
E:\Desktop\forcast_july\july24.xls
  3.    Day Ahead Economic Dispatch for next day in MW           Unnamed: 1  \
0                                               Date    2020-07-25 00:00:00
1                                                NaN               00:00:00
2                                           WPS                          10
3                                          Cany                           0
4                                        Olax                            10

  Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7  \
0        NaN        NaN        NaN        NaN        NaN        NaN
1   00:30:00   01:00:00   01:30:00   02:00:00   02:30:00   03:00:00
2         10          0          0          0          0          0
3          0          0          0          0          0          0
4         10         10         10         10         10         10

  Unnamed: 8 Unnamed: 9  ... Unnamed: 138 Unnamed: 139 Unnamed: 140  \
0        NaN        NaN  ...          NaN          NaN          NaN
1   03:30:00   04:00:00  ...          NaN          NaN          NaN
2          0         10  ...          NaN          NaN          NaN
3          0      11.03  ...          NaN          NaN          NaN
4         10         10  ...          NaN          NaN          NaN

  Unnamed: 141 Unnamed: 142 Unnamed: 143 Unnamed: 144 Unnamed: 145  \
0          NaN          NaN          NaN          NaN          NaN
1          NaN          NaN          NaN          NaN          NaN
2          NaN          NaN          NaN          NaN          NaN
3          NaN          NaN          NaN          NaN          NaN
4          NaN          NaN          NaN          NaN          NaN

  Unnamed: 146  Unnamed: 147
0          NaN           NaN
1          NaN           NaN
2          NaN      Victoria
3          NaN      Kothmale
4          NaN  Samanalawewa

[5 rows x 148 columns]
E:\Desktop\forcast_july\july25.xls
  3.    Day Ahead Economic Dispatch for next day in MW           Unnamed: 1  \
0                                               Date    2020-07-26 00:00:00
1                                                NaN               00:00:00
2                                           WPS                       47.31
3                                          Cany                      12.872
4                                        Olax                            10

  Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7  \
0        NaN        NaN        NaN        NaN        NaN        NaN
1   00:30:00   01:00:00   01:30:00   02:00:00   02:30:00   03:00:00
2         10          0          0          0          0          0
3     12.872     12.872     12.872          0          0          0
4         10         10         10         10         10         10

  Unnamed: 8 Unnamed: 9  ... Unnamed: 138 Unnamed: 139 Unnamed: 140  \
0        NaN        NaN  ...          NaN          NaN          NaN
1   03:30:00   04:00:00  ...          NaN          NaN          NaN
2          0          0  ...          NaN          NaN          NaN
3          0          0  ...          NaN          NaN          NaN
4         10         10  ...          NaN          NaN          NaN

  Unnamed: 141 Unnamed: 142 Unnamed: 143 Unnamed: 144 Unnamed: 145  \
0          NaN          NaN          NaN          NaN          NaN
1          NaN          NaN          NaN          NaN          NaN
2          NaN          NaN          NaN          NaN          NaN
3          NaN          NaN          NaN          NaN          NaN
4          NaN          NaN          NaN          NaN          NaN

  Unnamed: 146  Unnamed: 147
0          NaN           NaN
1          NaN           NaN
2          NaN      Victoria
3          NaN      Kothmale
4          NaN  Samanalawewa

[5 rows x 148 columns]
E:\Desktop\forcast_july\july26.xls
  3.    Day Ahead Economic Dispatch for next day in MW           Unnamed: 1  \
0                                               Date    2020-07-27 00:00:00
1                                                NaN               00:00:00
2                                           WPS                           0
3                                          Cany                           0
4                                        Olax                            10

  Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7  \
0        NaN        NaN        NaN        NaN        NaN        NaN
1   00:30:00   01:00:00   01:30:00   02:00:00   02:30:00   03:00:00
2          0          0          0          0          0          0
3          0          0          0          0          0          0
4         10         10         10         10         10         10

  Unnamed: 8 Unnamed: 9  ... Unnamed: 138 Unnamed: 139 Unnamed: 140  \
0        NaN        NaN  ...          NaN          NaN          NaN
1   03:30:00   04:00:00  ...          NaN          NaN          NaN
2          0          0  ...          NaN          NaN          NaN
3          0          0  ...          NaN          NaN          NaN
4         10         10  ...          NaN          NaN          NaN

  Unnamed: 141 Unnamed: 142 Unnamed: 143 Unnamed: 144 Unnamed: 145  \
0          NaN          NaN          NaN          NaN          NaN
1          NaN          NaN          NaN          NaN          NaN
2          NaN          NaN          NaN          NaN          NaN
3          NaN          NaN          NaN          NaN          NaN
4          NaN          NaN          NaN          NaN          NaN

  Unnamed: 146  Unnamed: 147
0          NaN           NaN
1          NaN           NaN
2          NaN      Victoria
3          NaN      Kothmale
4          NaN  Samanalawewa

[5 rows x 148 columns]
E:\Desktop\forcast_july\july27.xls
  3.    Day Ahead Economic Dispatch for next day in MW           Unnamed: 1  \
0                                               Date    2020-07-28 00:00:00
1                                                NaN               00:00:00
2                                           WPS                           0
3                                          Cany                           0
4                                        Olax                            10

  Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7  \
0        NaN        NaN        NaN        NaN        NaN        NaN
1   00:30:00   01:00:00   01:30:00   02:00:00   02:30:00   03:00:00
2          0          0          0          0          0          0
3          0          0          0          0          0          0
4         10         10         10         10         10         10

  Unnamed: 8 Unnamed: 9  ... Unnamed: 138 Unnamed: 139 Unnamed: 140  \
0        NaN        NaN  ...          NaN          NaN          NaN
1   03:30:00   04:00:00  ...          NaN          NaN          NaN
2          0          0  ...          NaN          NaN          NaN
3          0          0  ...          NaN          NaN          NaN
4         10         10  ...          NaN          NaN          NaN

  Unnamed: 141 Unnamed: 142 Unnamed: 143 Unnamed: 144 Unnamed: 145  \
0          NaN          NaN          NaN          NaN          NaN
1          NaN          NaN          NaN          NaN          NaN
2          NaN          NaN          NaN          NaN          NaN
3          NaN          NaN          NaN          NaN          NaN
4          NaN          NaN          NaN          NaN          NaN

  Unnamed: 146  Unnamed: 147
0          NaN           NaN
1          NaN           NaN
2          NaN      Victoria
3          NaN      Kothmale
4          NaN  Samanalawewa

[5 rows x 148 columns]
E:\Desktop\forcast_july\july28.xls
  3.    Day Ahead Economic Dispatch for next day in MW           Unnamed: 1  \
0                                               Date    2020-07-29 00:00:00
1                                                NaN               00:00:00
2                                           WPS                           0
3                                          Cany                           0
4                                        Olax                            10

  Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7  \
0        NaN        NaN        NaN        NaN        NaN        NaN
1   00:30:00   01:00:00   01:30:00   02:00:00   02:30:00   03:00:00
2          0          0          0          0          0          0
3          0          0          0          0          0          0
4         10         10         10         10         10         10

  Unnamed: 8 Unnamed: 9  ... Unnamed: 138 Unnamed: 139 Unnamed: 140  \
0        NaN        NaN  ...          NaN          NaN          NaN
1   03:30:00   04:00:00  ...          NaN          NaN          NaN
2          0          0  ...          NaN          NaN          NaN
3          0          0  ...          NaN          NaN          NaN
4         10         10  ...          NaN          NaN          NaN

  Unnamed: 141 Unnamed: 142 Unnamed: 143 Unnamed: 144 Unnamed: 145  \
0          NaN          NaN          NaN          NaN          NaN
1          NaN          NaN          NaN          NaN          NaN
2          NaN          NaN          NaN          NaN          NaN
3          NaN          NaN          NaN          NaN          NaN
4          NaN          NaN          NaN          NaN          NaN

  Unnamed: 146  Unnamed: 147
0          NaN           NaN
1          NaN           NaN
2          NaN      Victoria
3          NaN      Kothmale
4          NaN  Samanalawewa

[5 rows x 148 columns]
E:\Desktop\forcast_july\july29.xls

  3.    Day Ahead Economic Dispatch for next day in MW           Unnamed: 1  \
0                                               Date    2020-07-03 00:00:00
1                                                NaN               00:00:00
2                                           WPS                      23.388
3                                          Cany                           0
4                                        Olax                            10

  Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7  \
0        NaN        NaN        NaN        NaN        NaN        NaN
1   00:30:00   01:00:00   01:30:00   02:00:00   02:30:00   03:00:00
2         10          0          0          0          0          0
3          0          0          0          0          0          0
4         10         10         10         10         10         10

  Unnamed: 8 Unnamed: 9  ... Unnamed: 138 Unnamed: 139 Unnamed: 140  \
0        NaN        NaN  ...          NaN          NaN          NaN
1   03:30:00   04:00:00  ...          NaN          NaN          NaN
2          0          0  ...          NaN          NaN          NaN
3          0          0  ...          NaN          NaN          NaN
4         10         10  ...          NaN          NaN          NaN

  Unnamed: 141 Unnamed: 142 Unnamed: 143 Unnamed: 144 Unnamed: 145  \
0          NaN          NaN          NaN          NaN          NaN
1          NaN          NaN          NaN          NaN          NaN
2          NaN          NaN          NaN          NaN          NaN
3          NaN          NaN          NaN          NaN          NaN
4          NaN          NaN          NaN          NaN          NaN

  Unnamed: 146  Unnamed: 147
0          NaN           NaN
1          NaN           NaN
2          NaN      Victoria
3          NaN      Kothmale
4          NaN  Samanalawewa

[5 rows x 148 columns]
E:\Desktop\forcast_july\july3.xls
  3.    Day Ahead Economic Dispatch for next day in MW           Unnamed: 1  \
0                                               Date    2020-07-04 00:00:00
1                                                NaN               00:00:00
2                                           WPS                       22.96
3                                          Cany                       11.04
4                                        Olax                            10

  Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7  \
0        NaN        NaN        NaN        NaN        NaN        NaN
1   00:30:00   01:00:00   01:30:00   02:00:00   02:30:00   03:00:00
2      22.96          0          0          0          0          0
3      11.04          0          0          0          0          0
4         10         10         10         10         10         10

  Unnamed: 8 Unnamed: 9  ... Unnamed: 138 Unnamed: 139 Unnamed: 140  \
0        NaN        NaN  ...          NaN          NaN          NaN
1   03:30:00   04:00:00  ...          NaN          NaN          NaN
2          0          0  ...          NaN          NaN          NaN
3          0          0  ...          NaN          NaN          NaN
4         10         10  ...          NaN          NaN          NaN

  Unnamed: 141 Unnamed: 142 Unnamed: 143 Unnamed: 144 Unnamed: 145  \
0          NaN          NaN          NaN          NaN          NaN
1          NaN          NaN          NaN          NaN          NaN
2          NaN          NaN          NaN          NaN          NaN
3          NaN          NaN          NaN          NaN          NaN
4          NaN          NaN          NaN          NaN          NaN

  Unnamed: 146  Unnamed: 147
0          NaN           NaN
1          NaN           NaN
2          NaN      Victoria
3          NaN      Kothmale
4          NaN  Samanalawewa

[5 rows x 148 columns]
E:\Desktop\forcast_july\july4.xls
  3.    Day Ahead Economic Dispatch for next day in MW           Unnamed: 1  \
0                                               Date    2020-07-05 00:00:00
1                                                NaN               00:00:00
2                                           WPS                          10
3                                          Cany                          30
4                                        Olax                            10

  Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7  \
0        NaN        NaN        NaN        NaN        NaN        NaN
1   00:30:00   01:00:00   01:30:00   02:00:00   02:30:00   03:00:00
2         10         10         10         10         10         10
3         30     22.199     12.749     12.749     12.749      11.04
4         10         10         10         10         10         10

  Unnamed: 8 Unnamed: 9  ... Unnamed: 138 Unnamed: 139 Unnamed: 140  \
0        NaN        NaN  ...          NaN          NaN          NaN
1   03:30:00   04:00:00  ...          NaN          NaN          NaN
2         10         10  ...          NaN          NaN          NaN
3      11.04      11.04  ...          NaN          NaN          NaN
4     10.926     10.926  ...          NaN          NaN          NaN

  Unnamed: 141 Unnamed: 142 Unnamed: 143 Unnamed: 144 Unnamed: 145  \
0          NaN          NaN          NaN          NaN          NaN
1          NaN          NaN          NaN          NaN          NaN
2          NaN          NaN          NaN          NaN          NaN
3          NaN          NaN          NaN          NaN          NaN
4          NaN          NaN          NaN          NaN          NaN

  Unnamed: 146  Unnamed: 147
0          NaN           NaN
1          NaN           NaN
2          NaN      Victoria
3          NaN      Kothmale
4          NaN  Samanalawewa

[5 rows x 148 columns]
E:\Desktop\forcast_july\july5.xls
  3.    Day Ahead Economic Dispatch for next day in MW           Unnamed: 1  \
0                                               Date    2020-07-06 00:00:00
1                                                NaN               00:00:00
2                                           WPS                           0
3                                          Cany                           0
4                                        Olax                            10

  Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7  \
0        NaN        NaN        NaN        NaN        NaN        NaN
1   00:30:00   01:00:00   01:30:00   02:00:00   02:30:00   03:00:00
2          0          0          0          0          0          0
3          0          0          0          0          0          0
4         10         10         10         10         10         10

  Unnamed: 8 Unnamed: 9  ... Unnamed: 138 Unnamed: 139 Unnamed: 140  \
0        NaN        NaN  ...          NaN          NaN          NaN
1   03:30:00   04:00:00  ...          NaN          NaN          NaN
2          0          0  ...          NaN          NaN          NaN
3          0          0  ...          NaN          NaN          NaN
4         10         10  ...          NaN          NaN          NaN

  Unnamed: 141 Unnamed: 142 Unnamed: 143 Unnamed: 144 Unnamed: 145  \
0          NaN          NaN          NaN          NaN          NaN
1          NaN          NaN          NaN          NaN          NaN
2          NaN          NaN          NaN          NaN          NaN
3          NaN          NaN          NaN          NaN          NaN
4          NaN          NaN          NaN          NaN          NaN

  Unnamed: 146  Unnamed: 147
0          NaN           NaN
1          NaN           NaN
2          NaN      Victoria
3          NaN      Kothmale
4          NaN  Samanalawewa

[5 rows x 148 columns]
E:\Desktop\forcast_july\july6.xls
  3.    Day Ahead Economic Dispatch for next day in MW           Unnamed: 1  \
0                                               Date    2020-07-07 00:00:00
1                                                NaN               00:00:00
2                                           WPS                           0
3                                          Cany                           0
4                                        Olax                            10

  Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7  \
0        NaN        NaN        NaN        NaN        NaN        NaN
1   00:30:00   01:00:00   01:30:00   02:00:00   02:30:00   03:00:00
2          0          0          0          0          0          0
3          0          0          0          0          0          0
4         10         10         10         10         10         10

  Unnamed: 8 Unnamed: 9  ... Unnamed: 138 Unnamed: 139 Unnamed: 140  \
0        NaN        NaN  ...          NaN          NaN          NaN
1   03:30:00   04:00:00  ...          NaN          NaN          NaN
2          0          0  ...          NaN          NaN          NaN
3          0          0  ...          NaN          NaN          NaN
4         10         10  ...          NaN          NaN          NaN

  Unnamed: 141 Unnamed: 142 Unnamed: 143 Unnamed: 144 Unnamed: 145  \
0          NaN          NaN          NaN          NaN          NaN
1          NaN          NaN          NaN          NaN          NaN
2          NaN          NaN          NaN          NaN          NaN
3          NaN          NaN          NaN          NaN          NaN
4          NaN          NaN          NaN          NaN          NaN

  Unnamed: 146  Unnamed: 147
0          NaN           NaN
1          NaN           NaN
2          NaN      Victoria
3          NaN      Kothmale
4          NaN  Samanalawewa

[5 rows x 148 columns]
E:\Desktop\forcast_july\july7.xls

  3.    Day Ahead Economic Dispatch for next day in MW           Unnamed: 1  \
0                                               Date    2020-07-08 00:00:00
1                                                NaN               00:00:00
2                                           WPS                           0
3                                          Cany                          30
4                                        Olax                            10

  Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7  \
0        NaN        NaN        NaN        NaN        NaN        NaN
1   00:30:00   01:00:00   01:30:00   02:00:00   02:30:00   03:00:00
2          0          0          0          0          0          0
3     21.475     14.475      11.04          0          0          0
4         10         10         10         10         10         10

  Unnamed: 8 Unnamed: 9  ... Unnamed: 138 Unnamed: 139 Unnamed: 140  \
0        NaN        NaN  ...          NaN          NaN          NaN
1   03:30:00   04:00:00  ...          NaN          NaN          NaN
2          0          0  ...          NaN          NaN          NaN
3          0          0  ...          NaN          NaN          NaN
4         10         10  ...          NaN          NaN          NaN

  Unnamed: 141 Unnamed: 142 Unnamed: 143 Unnamed: 144 Unnamed: 145  \
0          NaN          NaN          NaN          NaN          NaN
1          NaN          NaN          NaN          NaN          NaN
2          NaN          NaN          NaN          NaN          NaN
3          NaN          NaN          NaN          NaN          NaN
4          NaN          NaN          NaN          NaN          NaN

  Unnamed: 146  Unnamed: 147
0          NaN           NaN
1          NaN           NaN
2          NaN      Victoria
3          NaN      Kothmale
4          NaN  Samanalawewa

[5 rows x 148 columns]
E:\Desktop\forcast_july\july8.xls
  3.    Day Ahead Economic Dispatch for next day in MW           Unnamed: 1  \
0                                               Date    2020-07-09 00:00:00
1                                                NaN               00:00:00
2                                           WPS                           0
3                                          Cany                      19.492
4                                        Olax                            10

  Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7  \
0        NaN        NaN        NaN        NaN        NaN        NaN
1   00:30:00   01:00:00   01:30:00   02:00:00   02:30:00   03:00:00
2          0          0          0          0          0          0
3     18.492     27.966          0          0          0          0
4         10         10         10         10         10         10

  Unnamed: 8 Unnamed: 9  ... Unnamed: 138 Unnamed: 139 Unnamed: 140  \
0        NaN        NaN  ...          NaN          NaN          NaN
1   03:30:00   04:00:00  ...          NaN          NaN          NaN
2          0          0  ...          NaN          NaN          NaN
3          0      11.04  ...          NaN          NaN          NaN
4         10         10  ...          NaN          NaN          NaN

  Unnamed: 141 Unnamed: 142 Unnamed: 143 Unnamed: 144 Unnamed: 145  \
0          NaN          NaN          NaN          NaN          NaN
1          NaN          NaN          NaN          NaN          NaN
2          NaN          NaN          NaN          NaN          NaN
3          NaN          NaN          NaN          NaN          NaN
4          NaN          NaN          NaN          NaN          NaN

  Unnamed: 146  Unnamed: 147
0          NaN           NaN
1          NaN           NaN
2          NaN      Victoria
3          NaN      Kothmale
4          NaN  Samanalawewa

[5 rows x 148 columns]
E:\Desktop\forcast_july\july9.xls

In [8]:
df=pd.read_excel(r'E:\Desktop\forcast_july\july3.xls')
df.head()
#df.columns

,3. Day Ahead Economic Dispatch for next day in MW,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 138,Unnamed: 139,Unnamed: 140,Unnamed: 141,Unnamed: 142,Unnamed: 143,Unnamed: 144,Unnamed: 145,Unnamed: 146,Unnamed: 147
0,Date,2020-07-03 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,00:00:00,00:30:00,01:00:00,01:30:00,02:00:00,02:30:00,03:00:00,03:30:00,04:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,WPS,23.388,10,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Victoria
3,Cany,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kothmale
4,Olax,10,10,10,10,10,10,10,10,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Samanalawewa

In [9]:
df.columns = df.iloc[0]
df.head()

,Date,2020-07-03 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Date,2020-07-03 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,00:00:00,00:30:00,01:00:00,01:30:00,02:00:00,02:30:00,03:00:00,03:30:00,04:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,WPS,23.388,10,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Victoria
3,Cany,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kothmale
4,Olax,10,10,10,10,10,10,10,10,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Samanalawewa

In [10]:
columns=df.columns

In [11]:
#get the date...
date=columns[1].date()
print(date)

2020-07-03

In [12]:
#get all the dates....
for file in all_the_files:
    df=pd.read_excel(file)
    df.columns = df.iloc[0]
    columns=df.columns
    date=columns[1].date()
    print(date)

2020-07-01
2020-07-10
2020-07-11
2020-07-12
2020-07-13
2020-07-14
2020-07-15
2020-07-16
2020-07-17
2020-07-18
2020-07-19
2020-07-02
2020-07-20
2020-07-21
2020-07-22
2020-07-23
2020-07-24
2020-07-25
2020-07-26
2020-07-27
2020-07-28
2020-07-29
2020-07-03
2020-07-04
2020-07-05
2020-07-06
2020-07-07
2020-07-08
2020-07-09

In [13]:
df=pd.read_excel(r'E:\Desktop\forcast_july\july3.xls')
df.head()

,3. Day Ahead Economic Dispatch for next day in MW,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 138,Unnamed: 139,Unnamed: 140,Unnamed: 141,Unnamed: 142,Unnamed: 143,Unnamed: 144,Unnamed: 145,Unnamed: 146,Unnamed: 147
0,Date,2020-07-03 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,00:00:00,00:30:00,01:00:00,01:30:00,02:00:00,02:30:00,03:00:00,03:30:00,04:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,WPS,23.388,10,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Victoria
3,Cany,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kothmale
4,Olax,10,10,10,10,10,10,10,10,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Samanalawewa

In [14]:
df.columns = df.iloc[0] #set columns as 0th row..
df=df.drop(0) #drop the 0the row
df.head()

,Date,2020-07-03 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,00:00:00,00:30:00,01:00:00,01:30:00,02:00:00,02:30:00,03:00:00,03:30:00,04:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,WPS,23.388,10,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Victoria
3,Cany,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kothmale
4,Olax,10,10,10,10,10,10,10,10,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Samanalawewa
5,Nlax,19.92,19.92,19.92,19.92,19.92,19.92,19.92,19.92,19.92,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Laxapana

In [15]:
df.columns = df.iloc[0] #make 0th row as the columns...........

In [16]:
df=df.drop(1) #drop the 1st row...
df.head()

1,NaN,00:00:00,00:30:00,01:00:00,01:30:00,02:00:00,02:30:00,03:00:00,03:30:00,04:00:00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,WPS,23.388,10,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Victoria
3,Cany,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Kothmale
4,Olax,10,10,10,10,10,10,10,10,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Samanalawewa
5,Nlax,19.92,19.92,19.92,19.92,19.92,19.92,19.92,19.92,19.92,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Laxapana
6,Polp,21.722,6.1039,6.1039,6.1039,6.1039,6.1039,6.1039,6.1039,6.1039,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Up Koth

In [17]:
#x=df.columns

In [18]:
plants_temp=df.iloc[:,0]

In [19]:
#get only the plants.....
plants=[]
for plant in plants_temp:
    if plant=='Total Generation':
        break
    else:
        plants.append(plant)
print(plants)

['WPS     ', 'Cany     ', 'Olax       ', 'Nlax', 'Polp', 'UKPS', 'Koth', 'Victoria', 'Rand', 'Rant', 'Uku', 'Bowa', 'Sama', 'Kukule', 'PCCP I', 'PCCP II', 'PCCP III', 'KPS', 'CEB_EMERGENCY', 'GT 07', 'SPS A', 'SPS B', 'Asia Power', 'Barge', 'ACE (Matara)', 'Ace (Embilipitiya)', 'NORTHERN_Power', 'Uthuru_Janani', 'KCCP GT(N)', 'KCCP ST(N)', 'KCCP GT(D)', 'KCCP ST(D)', 'Sojitz CCP', 'WCP_GT1', 'WCP_GT2', 'WCP_ST', 'VPOWER_Palle', 'ALTAAQ_Mahiya', 'ALTAAQ_Polon', 'VPOWER_Hamb', 'VPOWER_Horana', 'Wind', 'Solar', 'Mini Hydro***']

In [20]:
df = df.loc[:, df.columns.notnull()] #remove nan columns.............

In [21]:
df.columns

Index([00:00:00, 00:30:00, 01:00:00, 01:30:00, 02:00:00, 02:30:00, 03:00:00,
       03:30:00, 04:00:00, 04:30:00, 05:00:00, 05:30:00, 06:00:00, 06:30:00,
       07:00:00, 07:30:00, 08:00:00, 08:30:00, 09:00:00, 09:30:00, 10:00:00,
       10:30:00, 11:00:00, 11:30:00, 12:00:00, 12:30:00, 13:00:00, 13:30:00,
       14:00:00, 14:30:00, 15:00:00, 15:30:00, 16:00:00, 16:30:00, 17:00:00,
       17:30:00, 18:00:00, 18:30:00, 19:00:00, 19:30:00, 20:00:00, 20:30:00,
       21:00:00, 21:30:00, 22:00:00, 22:30:00, 23:00:00, 23:30:00, 'Energy'],
      dtype='object', name=1)

In [22]:
df.head(49)

1,00:00:00,00:30:00,01:00:00,01:30:00,02:00:00,02:30:00,03:00:00,03:30:00,04:00:00,04:30:00,...,19:30:00,20:00:00,20:30:00,21:00:00,21:30:00,22:00:00,22:30:00,23:00:00,23:30:00,Energy
2,23.388,10,0,0,0,0,0,0,0,0,...,18.61,0,0,0,0,0,0,0,0,286.979
3,0,0,0,0,0,0,0,0,0,0,...,30,30,20.056,20.056,11.04,0,0,0,0,412.806
4,10,10,10,10,10,10,10,10,10,10,...,37.526,0,0,0,0,0,0,0,0,600
5,19.92,19.92,19.92,19.92,19.92,19.92,19.92,19.92,19.92,19.92,...,99.602,99.602,65.838,65.838,19.92,19.92,19.92,0,0,1400.001
6,21.722,6.1039,6.1039,6.1039,6.1039,6.1039,6.1039,6.1039,6.1039,6.1039,...,74.361,74.361,64.069,64.069,64.069,47.399,47.399,6.1039,6.1039,1160.69495
7,0,0,0,0,0,0,0,0,0,0,...,109.11,109.11,109.11,109.11,109.11,43.394,83.844,83.844,43.394,509.123
8,40,40,40,40,40,40,40,40,40,40,...,71.37,71.37,71.37,71.37,40,40,40,40,40,1099.9975
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,200.0015
10,0,0,0,0,0,0,0,0,0,0,...,43,43,0,0,0,0,0,0,0,563.357
11,0,0,0,0,0,0,0,0,0,0,...,40,20,20,20,20,0,0,0,0,380
12,40,40,40,40,40,40,40,40,40,40,...,40,40,40,40,40,40,40,40,40,960
13,0,0,0,0,0,0,0,0,0,0,...,35.864,0,0,0,0,0,0,0,0,180.0
14,0,0,0,0,0,0,0,0,0,0,...,99.999,99.999,99.999,10.21,10.21,0,0,0,0,699.9975
15,0,0,0,0,0,0,0,0,0,0,...,63.842,63.842,63.842,54.631,33.935,28.567,60.817,31.032,31.032,765.363
16,270,270,270,270,270,270,270,270,270,270,...,270,270,270,270,270,270,270,270,270,6480
17,270,270,270,270,270,270,270,270,270,270,...,270,270,270,270,270,270,270,270,270,6480
18,229,259,270,270,270,270,270,270,270,270,...,270,270,270,270,270,270,270,270,270,6454
19,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,54,54,54,33,33,33,33,33,33,54,...,54,54,54,54,54,54,54,54,54,1233
23,63,63,63,63,49,49,49,49,63,63,...,63,63,63,63,63,63,63,63,63,1484
24,0,0,0,0,0,0,0,0,0,0,...,32.9,32.9,32.9,32.9,32.9,32.9,34.2,34.2,32.9,630.05025
25,60,60,60,35.516,34,34,34,34,35.516,60,...,60,60,60,60,60,60,60,60,60,1363.516
26,0,0,0,0,0,0,0,0,0,0,...,16,16,16,16,16,16,16,16,16,304
27,66.97,31.46,31.46,31.46,31.46,31.46,31.46,31.46,31.46,31.46,...,92.82,92.82,92.82,92.82,92.82,92.82,92.82,92.82,37.18,1906.4628
28,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,20,15.516,13.516,4,0,0,0,0,0,6.5158,...,20,20,20,20,20,20,20,20,19.39,336.1319
30,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
33,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
34,0,0,0,0,0,0,0,0,0,0,...,163,163,163,163,163,163,0,0,0,2150
35,85,85,85,85,84.072,78.447,67.197,75.947,85,85,...,85,85,85,85,85,85,85,85,85,2022.8315
36,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
37,50,50,50,50,49.443,46.068,39.318,44.568,50,50,...,50,50,50,50,50,50,50,50,50,1189.6985
38,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
39,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
40,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
41,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
42,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
43,51,49,46,52,53,53,54,54,58,59,...,56,62,62,54,56,56,57,58,60,1283
44,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,136.5
45,60,60,58,62,62,64,67,69,63,57,...,113,113,113,113,113,113,51,55,57,NaN
46,1434,1392.9999,1386.9999,1341.9999,1321.9989,1314.9989,1300.9989,1316.9989,1344.9999,1391.9997,...,2379.004,2273.004,2176.004,2069.004,1964.004,1835,1685,1598.9999,1504.9999,42671.5114
47,155.03,126.0239,116.0239,116.0239,116.0239,116.0239,116.0239,116.0239,116.0239,116.0239,...,763.284,651.284,554.284,455.284,348.284,219.28,291.98,200.9799,160.5299,9218.32045
48,1167.97,1157.976,1166.976,1111.976,1090.975,1081.975,1063.975,1077.975,1107.976,1159.9758,...,1446.72,1446.72,1446.72,1446.72,1446.72,1446.72,1285.02,1285.02,1227.47,32033.69095
49,111,109,104,114,115,117,121,123,121,116,...,169,175,175,167,169,169,108,113,117,NaN
50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
z=len(plants) #only get the relevant rows...............

In [24]:
df=df.head(z)
df.shape

(44, 49)

In [25]:
df.insert(0, 'Power_Plant', plants)
df.head()

1,Power_Plant,00:00:00,00:30:00,01:00:00,01:30:00,02:00:00,02:30:00,03:00:00,03:30:00,04:00:00,...,19:30:00,20:00:00,20:30:00,21:00:00,21:30:00,22:00:00,22:30:00,23:00:00,23:30:00,Energy
2,WPS,23.388,10,0,0,0,0,0,0,0,...,18.61,0,0,0,0,0,0,0,0,286.979
3,Cany,0,0,0,0,0,0,0,0,0,...,30,30,20.056,20.056,11.04,0,0,0,0,412.806
4,Olax,10,10,10,10,10,10,10,10,10,...,37.526,0,0,0,0,0,0,0,0,600
5,Nlax,19.92,19.92,19.92,19.92,19.92,19.92,19.92,19.92,19.92,...,99.602,99.602,65.838,65.838,19.92,19.92,19.92,0,0,1400.001
6,Polp,21.722,6.1039,6.1039,6.1039,6.1039,6.1039,6.1039,6.1039,6.1039,...,74.361,74.361,64.069,64.069,64.069,47.399,47.399,6.1039,6.1039,1160.69495

In [26]:
df=df.drop(columns=df.columns[-1:],axis=1) #drop the last column.......
df.head()

1,Power_Plant,00:00:00,00:30:00,01:00:00,01:30:00,02:00:00,02:30:00,03:00:00,03:30:00,04:00:00,...,19:00:00,19:30:00,20:00:00,20:30:00,21:00:00,21:30:00,22:00:00,22:30:00,23:00:00,23:30:00
2,WPS,23.388,10,0,0,0,0,0,0,0,...,18.61,18.61,0,0,0,0,0,0,0,0
3,Cany,0,0,0,0,0,0,0,0,0,...,30,30,30,20.056,20.056,11.04,0,0,0,0
4,Olax,10,10,10,10,10,10,10,10,10,...,54,37.526,0,0,0,0,0,0,0,0
5,Nlax,19.92,19.92,19.92,19.92,19.92,19.92,19.92,19.92,19.92,...,99.602,99.602,99.602,65.838,65.838,19.92,19.92,19.92,0,0
6,Polp,21.722,6.1039,6.1039,6.1039,6.1039,6.1039,6.1039,6.1039,6.1039,...,74.361,74.361,74.361,64.069,64.069,64.069,47.399,47.399,6.1039,6.1039

In [27]:
print(df.iloc[0,0])

WPS

In [28]:
'''
Instructions here..........


---------------------Time slots---------------------
1 --> 00:00-00:30
2 --> 00:30-01:00
3 --> 01:00-01:30
and so on.......

---------------------Plant indexes---------------------


2 --> WPS
3 --> Cany
and so on.........


'''

'\nInstructions here..........\n\n\n---------------------Time slots---------------------\n1 --> 00:00-00:30\n2 --> 00:30-01:00\n3 --> 01:00-01:30\nand so on.......\n\n---------------------Plant indexes---------------------\n\n\n2 --> WPS\n3 --> Cany\nand so on.........\n\n\n'

In [29]:
plant1=int(input('Enter the 1st plant index: '))-2
plant2=int(input('Enter the 2nd plant index: '))-2
time=int(input('Enter the time slot: '))

Enter the 1st plant index: 5
Enter the 2nd plant index: 6
Enter the time slot: 1

In [30]:
print(df.iloc[plant1,time]-df.iloc[plant2,time])

-1.8019999999999996